/*
 * Hydrogen Integration API
 * The Hydrogen Integration API
 *
 * OpenAPI spec version: 1.3.1
 * Contact: info@hydrogenplatform.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.hydrogen.integration.api;

import com.hydrogen.integration.ApiCallback;
import com.hydrogen.integration.ApiClient;
import com.hydrogen.integration.ApiException;
import com.hydrogen.integration.ApiResponse;
import com.hydrogen.integration.Configuration;
import com.hydrogen.integration.Pair;
import com.hydrogen.integration.ProgressRequestBody;
import com.hydrogen.integration.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.hydrogen.integration.model.AccountingFinalResponseVO;
import org.threeten.bp.LocalDate;
import java.util.UUID;
import com.hydrogen.integration.model.VendorAccessConfigVO;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class AccountingApi {
    private ApiClient apiClient;

    public AccountingApi() {
        this(Configuration.getDefaultApiClient());
    }

    public AccountingApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for createOrUpdateAccountingBillPayment
     * @param nucleusInvoiceId nucleus_invoice_id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createOrUpdateAccountingBillPaymentCall(UUID nucleusInvoiceId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/accounting/bill_payment/{nucleus_invoice_id}"
            .replaceAll("\\{" + "nucleus_invoice_id" + "\\}", apiClient.escapeString(nucleusInvoiceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createOrUpdateAccountingBillPaymentValidateBeforeCall(UUID nucleusInvoiceId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'nucleusInvoiceId' is set
        if (nucleusInvoiceId == null) {
            throw new ApiException("Missing the required parameter 'nucleusInvoiceId' when calling createOrUpdateAccountingBillPayment(Async)");
        }
        

        com.squareup.okhttp.Call call = createOrUpdateAccountingBillPaymentCall(nucleusInvoiceId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create/Update bill payment in Nucleus for a given nucleus_invoice_id
     * Create/Update bill payment in Nucleus for a given nucleus_invoice_id
     * @param nucleusInvoiceId nucleus_invoice_id (required)
     * @return AccountingFinalResponseVO
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AccountingFinalResponseVO createOrUpdateAccountingBillPayment(UUID nucleusInvoiceId) throws ApiException {
        ApiResponse<AccountingFinalResponseVO> resp = createOrUpdateAccountingBillPaymentWithHttpInfo(nucleusInvoiceId);
        return resp.getData();
    }

    /**
     * Create/Update bill payment in Nucleus for a given nucleus_invoice_id
     * Create/Update bill payment in Nucleus for a given nucleus_invoice_id
     * @param nucleusInvoiceId nucleus_invoice_id (required)
     * @return ApiResponse&lt;AccountingFinalResponseVO&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AccountingFinalResponseVO> createOrUpdateAccountingBillPaymentWithHttpInfo(UUID nucleusInvoiceId) throws ApiException {
        com.squareup.okhttp.Call call = createOrUpdateAccountingBillPaymentValidateBeforeCall(nucleusInvoiceId, null, null);
        Type localVarReturnType = new TypeToken<AccountingFinalResponseVO>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create/Update bill payment in Nucleus for a given nucleus_invoice_id (asynchronously)
     * Create/Update bill payment in Nucleus for a given nucleus_invoice_id
     * @param nucleusInvoiceId nucleus_invoice_id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createOrUpdateAccountingBillPaymentAsync(UUID nucleusInvoiceId, final ApiCallback<AccountingFinalResponseVO> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createOrUpdateAccountingBillPaymentValidateBeforeCall(nucleusInvoiceId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AccountingFinalResponseVO>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createOrUpdateAccountingBills
     * @param nucleusContactId nucleus_contact_id (required)
     * @param startDate start_date (required)
     * @param endDate end_date (optional, default to null)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createOrUpdateAccountingBillsCall(UUID nucleusContactId, LocalDate startDate, LocalDate endDate, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/accounting/bill";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (endDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("end_date", endDate));
        if (nucleusContactId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("nucleus_contact_id", nucleusContactId));
        if (startDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("start_date", startDate));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createOrUpdateAccountingBillsValidateBeforeCall(UUID nucleusContactId, LocalDate startDate, LocalDate endDate, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'nucleusContactId' is set
        if (nucleusContactId == null) {
            throw new ApiException("Missing the required parameter 'nucleusContactId' when calling createOrUpdateAccountingBills(Async)");
        }
        
        // verify the required parameter 'startDate' is set
        if (startDate == null) {
            throw new ApiException("Missing the required parameter 'startDate' when calling createOrUpdateAccountingBills(Async)");
        }
        

        com.squareup.okhttp.Call call = createOrUpdateAccountingBillsCall(nucleusContactId, startDate, endDate, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Update/Create all bills in Nucleus for a given nucleus_client_id
     * Update/Create all bills in Nucleus for a given nucleus_client_id
     * @param nucleusContactId nucleus_contact_id (required)
     * @param startDate start_date (required)
     * @param endDate end_date (optional, default to null)
     * @return AccountingFinalResponseVO
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AccountingFinalResponseVO createOrUpdateAccountingBills(UUID nucleusContactId, LocalDate startDate, LocalDate endDate) throws ApiException {
        ApiResponse<AccountingFinalResponseVO> resp = createOrUpdateAccountingBillsWithHttpInfo(nucleusContactId, startDate, endDate);
        return resp.getData();
    }

    /**
     * Update/Create all bills in Nucleus for a given nucleus_client_id
     * Update/Create all bills in Nucleus for a given nucleus_client_id
     * @param nucleusContactId nucleus_contact_id (required)
     * @param startDate start_date (required)
     * @param endDate end_date (optional, default to null)
     * @return ApiResponse&lt;AccountingFinalResponseVO&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AccountingFinalResponseVO> createOrUpdateAccountingBillsWithHttpInfo(UUID nucleusContactId, LocalDate startDate, LocalDate endDate) throws ApiException {
        com.squareup.okhttp.Call call = createOrUpdateAccountingBillsValidateBeforeCall(nucleusContactId, startDate, endDate, null, null);
        Type localVarReturnType = new TypeToken<AccountingFinalResponseVO>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Update/Create all bills in Nucleus for a given nucleus_client_id (asynchronously)
     * Update/Create all bills in Nucleus for a given nucleus_client_id
     * @param nucleusContactId nucleus_contact_id (required)
     * @param startDate start_date (required)
     * @param endDate end_date (optional, default to null)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createOrUpdateAccountingBillsAsync(UUID nucleusContactId, LocalDate startDate, LocalDate endDate, final ApiCallback<AccountingFinalResponseVO> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createOrUpdateAccountingBillsValidateBeforeCall(nucleusContactId, startDate, endDate, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AccountingFinalResponseVO>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createOrUpdateAccountingCustomer
     * @param nucleusBusinessId nucleus_business_id (optional)
     * @param nucleusClientId nucleus_client_id (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createOrUpdateAccountingCustomerCall(UUID nucleusBusinessId, UUID nucleusClientId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/accounting/customer";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (nucleusBusinessId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("nucleus_business_id", nucleusBusinessId));
        if (nucleusClientId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("nucleus_client_id", nucleusClientId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createOrUpdateAccountingCustomerValidateBeforeCall(UUID nucleusBusinessId, UUID nucleusClientId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = createOrUpdateAccountingCustomerCall(nucleusBusinessId, nucleusClientId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Update/Create all customers in Nucleus for a given nucleus_client_id
     * Update/Create all customers in Nucleus for a given nucleus_client_id
     * @param nucleusBusinessId nucleus_business_id (optional)
     * @param nucleusClientId nucleus_client_id (optional)
     * @return AccountingFinalResponseVO
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AccountingFinalResponseVO createOrUpdateAccountingCustomer(UUID nucleusBusinessId, UUID nucleusClientId) throws ApiException {
        ApiResponse<AccountingFinalResponseVO> resp = createOrUpdateAccountingCustomerWithHttpInfo(nucleusBusinessId, nucleusClientId);
        return resp.getData();
    }

    /**
     * Update/Create all customers in Nucleus for a given nucleus_client_id
     * Update/Create all customers in Nucleus for a given nucleus_client_id
     * @param nucleusBusinessId nucleus_business_id (optional)
     * @param nucleusClientId nucleus_client_id (optional)
     * @return ApiResponse&lt;AccountingFinalResponseVO&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AccountingFinalResponseVO> createOrUpdateAccountingCustomerWithHttpInfo(UUID nucleusBusinessId, UUID nucleusClientId) throws ApiException {
        com.squareup.okhttp.Call call = createOrUpdateAccountingCustomerValidateBeforeCall(nucleusBusinessId, nucleusClientId, null, null);
        Type localVarReturnType = new TypeToken<AccountingFinalResponseVO>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Update/Create all customers in Nucleus for a given nucleus_client_id (asynchronously)
     * Update/Create all customers in Nucleus for a given nucleus_client_id
     * @param nucleusBusinessId nucleus_business_id (optional)
     * @param nucleusClientId nucleus_client_id (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createOrUpdateAccountingCustomerAsync(UUID nucleusBusinessId, UUID nucleusClientId, final ApiCallback<AccountingFinalResponseVO> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createOrUpdateAccountingCustomerValidateBeforeCall(nucleusBusinessId, nucleusClientId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AccountingFinalResponseVO>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createOrUpdateAccountingCustomerRevenue
     * @param nucleusContactId nucleus_contact_id (required)
     * @param startDate start_date (required)
     * @param accountingMethod accounting_method (optional, default to accrual)
     * @param endDate end_date (optional, default to null)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createOrUpdateAccountingCustomerRevenueCall(UUID nucleusContactId, LocalDate startDate, String accountingMethod, LocalDate endDate, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/accounting/customer_revenue/{nucleus_contact_id}"
            .replaceAll("\\{" + "nucleus_contact_id" + "\\}", apiClient.escapeString(nucleusContactId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accountingMethod != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("accounting_method", accountingMethod));
        if (endDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("end_date", endDate));
        if (startDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("start_date", startDate));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createOrUpdateAccountingCustomerRevenueValidateBeforeCall(UUID nucleusContactId, LocalDate startDate, String accountingMethod, LocalDate endDate, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'nucleusContactId' is set
        if (nucleusContactId == null) {
            throw new ApiException("Missing the required parameter 'nucleusContactId' when calling createOrUpdateAccountingCustomerRevenue(Async)");
        }
        
        // verify the required parameter 'startDate' is set
        if (startDate == null) {
            throw new ApiException("Missing the required parameter 'startDate' when calling createOrUpdateAccountingCustomerRevenue(Async)");
        }
        

        com.squareup.okhttp.Call call = createOrUpdateAccountingCustomerRevenueCall(nucleusContactId, startDate, accountingMethod, endDate, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Update/Create all customers revenue in Nucleus for a given nucleus_contact_id
     * Update/Create all customers revenue in Nucleus for a given nucleus_contact_id
     * @param nucleusContactId nucleus_contact_id (required)
     * @param startDate start_date (required)
     * @param accountingMethod accounting_method (optional, default to accrual)
     * @param endDate end_date (optional, default to null)
     * @return AccountingFinalResponseVO
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AccountingFinalResponseVO createOrUpdateAccountingCustomerRevenue(UUID nucleusContactId, LocalDate startDate, String accountingMethod, LocalDate endDate) throws ApiException {
        ApiResponse<AccountingFinalResponseVO> resp = createOrUpdateAccountingCustomerRevenueWithHttpInfo(nucleusContactId, startDate, accountingMethod, endDate);
        return resp.getData();
    }

    /**
     * Update/Create all customers revenue in Nucleus for a given nucleus_contact_id
     * Update/Create all customers revenue in Nucleus for a given nucleus_contact_id
     * @param nucleusContactId nucleus_contact_id (required)
     * @param startDate start_date (required)
     * @param accountingMethod accounting_method (optional, default to accrual)
     * @param endDate end_date (optional, default to null)
     * @return ApiResponse&lt;AccountingFinalResponseVO&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AccountingFinalResponseVO> createOrUpdateAccountingCustomerRevenueWithHttpInfo(UUID nucleusContactId, LocalDate startDate, String accountingMethod, LocalDate endDate) throws ApiException {
        com.squareup.okhttp.Call call = createOrUpdateAccountingCustomerRevenueValidateBeforeCall(nucleusContactId, startDate, accountingMethod, endDate, null, null);
        Type localVarReturnType = new TypeToken<AccountingFinalResponseVO>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Update/Create all customers revenue in Nucleus for a given nucleus_contact_id (asynchronously)
     * Update/Create all customers revenue in Nucleus for a given nucleus_contact_id
     * @param nucleusContactId nucleus_contact_id (required)
     * @param startDate start_date (required)
     * @param accountingMethod accounting_method (optional, default to accrual)
     * @param endDate end_date (optional, default to null)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createOrUpdateAccountingCustomerRevenueAsync(UUID nucleusContactId, LocalDate startDate, String accountingMethod, LocalDate endDate, final ApiCallback<AccountingFinalResponseVO> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createOrUpdateAccountingCustomerRevenueValidateBeforeCall(nucleusContactId, startDate, accountingMethod, endDate, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AccountingFinalResponseVO>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createOrUpdateAccountingInvoice
     * @param nucleusContactId nucleus_contact_id (required)
     * @param startDate start_date (required)
     * @param endDate end_date (optional, default to null)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createOrUpdateAccountingInvoiceCall(UUID nucleusContactId, LocalDate startDate, LocalDate endDate, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/accounting/invoice";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (endDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("end_date", endDate));
        if (nucleusContactId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("nucleus_contact_id", nucleusContactId));
        if (startDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("start_date", startDate));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createOrUpdateAccountingInvoiceValidateBeforeCall(UUID nucleusContactId, LocalDate startDate, LocalDate endDate, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'nucleusContactId' is set
        if (nucleusContactId == null) {
            throw new ApiException("Missing the required parameter 'nucleusContactId' when calling createOrUpdateAccountingInvoice(Async)");
        }
        
        // verify the required parameter 'startDate' is set
        if (startDate == null) {
            throw new ApiException("Missing the required parameter 'startDate' when calling createOrUpdateAccountingInvoice(Async)");
        }
        

        com.squareup.okhttp.Call call = createOrUpdateAccountingInvoiceCall(nucleusContactId, startDate, endDate, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Update/Create all invoices in Nucleus for a given nucleus_client_id
     * Update/Create all invoices in Nucleus for a given nucleus_client_id
     * @param nucleusContactId nucleus_contact_id (required)
     * @param startDate start_date (required)
     * @param endDate end_date (optional, default to null)
     * @return AccountingFinalResponseVO
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AccountingFinalResponseVO createOrUpdateAccountingInvoice(UUID nucleusContactId, LocalDate startDate, LocalDate endDate) throws ApiException {
        ApiResponse<AccountingFinalResponseVO> resp = createOrUpdateAccountingInvoiceWithHttpInfo(nucleusContactId, startDate, endDate);
        return resp.getData();
    }

    /**
     * Update/Create all invoices in Nucleus for a given nucleus_client_id
     * Update/Create all invoices in Nucleus for a given nucleus_client_id
     * @param nucleusContactId nucleus_contact_id (required)
     * @param startDate start_date (required)
     * @param endDate end_date (optional, default to null)
     * @return ApiResponse&lt;AccountingFinalResponseVO&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AccountingFinalResponseVO> createOrUpdateAccountingInvoiceWithHttpInfo(UUID nucleusContactId, LocalDate startDate, LocalDate endDate) throws ApiException {
        com.squareup.okhttp.Call call = createOrUpdateAccountingInvoiceValidateBeforeCall(nucleusContactId, startDate, endDate, null, null);
        Type localVarReturnType = new TypeToken<AccountingFinalResponseVO>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Update/Create all invoices in Nucleus for a given nucleus_client_id (asynchronously)
     * Update/Create all invoices in Nucleus for a given nucleus_client_id
     * @param nucleusContactId nucleus_contact_id (required)
     * @param startDate start_date (required)
     * @param endDate end_date (optional, default to null)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createOrUpdateAccountingInvoiceAsync(UUID nucleusContactId, LocalDate startDate, LocalDate endDate, final ApiCallback<AccountingFinalResponseVO> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createOrUpdateAccountingInvoiceValidateBeforeCall(nucleusContactId, startDate, endDate, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AccountingFinalResponseVO>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createOrUpdateAccountingInvoicePayment
     * @param nucleusInvoiceId nucleus_invoice_id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createOrUpdateAccountingInvoicePaymentCall(UUID nucleusInvoiceId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/accounting/invoice_payment/{nucleus_invoice_id}"
            .replaceAll("\\{" + "nucleus_invoice_id" + "\\}", apiClient.escapeString(nucleusInvoiceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createOrUpdateAccountingInvoicePaymentValidateBeforeCall(UUID nucleusInvoiceId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'nucleusInvoiceId' is set
        if (nucleusInvoiceId == null) {
            throw new ApiException("Missing the required parameter 'nucleusInvoiceId' when calling createOrUpdateAccountingInvoicePayment(Async)");
        }
        

        com.squareup.okhttp.Call call = createOrUpdateAccountingInvoicePaymentCall(nucleusInvoiceId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create/Update invoice payment in Nucleus for a given nucleus_invoice_id
     * Create/Update invoice payment in Nucleus for a given nucleus_invoice_id
     * @param nucleusInvoiceId nucleus_invoice_id (required)
     * @return AccountingFinalResponseVO
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AccountingFinalResponseVO createOrUpdateAccountingInvoicePayment(UUID nucleusInvoiceId) throws ApiException {
        ApiResponse<AccountingFinalResponseVO> resp = createOrUpdateAccountingInvoicePaymentWithHttpInfo(nucleusInvoiceId);
        return resp.getData();
    }

    /**
     * Create/Update invoice payment in Nucleus for a given nucleus_invoice_id
     * Create/Update invoice payment in Nucleus for a given nucleus_invoice_id
     * @param nucleusInvoiceId nucleus_invoice_id (required)
     * @return ApiResponse&lt;AccountingFinalResponseVO&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AccountingFinalResponseVO> createOrUpdateAccountingInvoicePaymentWithHttpInfo(UUID nucleusInvoiceId) throws ApiException {
        com.squareup.okhttp.Call call = createOrUpdateAccountingInvoicePaymentValidateBeforeCall(nucleusInvoiceId, null, null);
        Type localVarReturnType = new TypeToken<AccountingFinalResponseVO>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create/Update invoice payment in Nucleus for a given nucleus_invoice_id (asynchronously)
     * Create/Update invoice payment in Nucleus for a given nucleus_invoice_id
     * @param nucleusInvoiceId nucleus_invoice_id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createOrUpdateAccountingInvoicePaymentAsync(UUID nucleusInvoiceId, final ApiCallback<AccountingFinalResponseVO> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createOrUpdateAccountingInvoicePaymentValidateBeforeCall(nucleusInvoiceId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AccountingFinalResponseVO>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createOrUpdateAccountingSupplier
     * @param nucleusBusinessId nucleus_business_id (optional)
     * @param nucleusClientId nucleus_client_id (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createOrUpdateAccountingSupplierCall(UUID nucleusBusinessId, UUID nucleusClientId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/accounting/supplier";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (nucleusBusinessId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("nucleus_business_id", nucleusBusinessId));
        if (nucleusClientId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("nucleus_client_id", nucleusClientId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createOrUpdateAccountingSupplierValidateBeforeCall(UUID nucleusBusinessId, UUID nucleusClientId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = createOrUpdateAccountingSupplierCall(nucleusBusinessId, nucleusClientId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Update/Create all suppliers in Nucleus for a given nucleus_client_id
     * Update/Create all suppliers in Nucleus for a given nucleus_client_id
     * @param nucleusBusinessId nucleus_business_id (optional)
     * @param nucleusClientId nucleus_client_id (optional)
     * @return AccountingFinalResponseVO
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AccountingFinalResponseVO createOrUpdateAccountingSupplier(UUID nucleusBusinessId, UUID nucleusClientId) throws ApiException {
        ApiResponse<AccountingFinalResponseVO> resp = createOrUpdateAccountingSupplierWithHttpInfo(nucleusBusinessId, nucleusClientId);
        return resp.getData();
    }

    /**
     * Update/Create all suppliers in Nucleus for a given nucleus_client_id
     * Update/Create all suppliers in Nucleus for a given nucleus_client_id
     * @param nucleusBusinessId nucleus_business_id (optional)
     * @param nucleusClientId nucleus_client_id (optional)
     * @return ApiResponse&lt;AccountingFinalResponseVO&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AccountingFinalResponseVO> createOrUpdateAccountingSupplierWithHttpInfo(UUID nucleusBusinessId, UUID nucleusClientId) throws ApiException {
        com.squareup.okhttp.Call call = createOrUpdateAccountingSupplierValidateBeforeCall(nucleusBusinessId, nucleusClientId, null, null);
        Type localVarReturnType = new TypeToken<AccountingFinalResponseVO>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Update/Create all suppliers in Nucleus for a given nucleus_client_id (asynchronously)
     * Update/Create all suppliers in Nucleus for a given nucleus_client_id
     * @param nucleusBusinessId nucleus_business_id (optional)
     * @param nucleusClientId nucleus_client_id (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createOrUpdateAccountingSupplierAsync(UUID nucleusBusinessId, UUID nucleusClientId, final ApiCallback<AccountingFinalResponseVO> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createOrUpdateAccountingSupplierValidateBeforeCall(nucleusBusinessId, nucleusClientId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AccountingFinalResponseVO>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteAccountingVendorAccessConfigIsActiveById
     * @param id id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteAccountingVendorAccessConfigIsActiveByIdCall(UUID id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/accounting/vendor/{id}"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteAccountingVendorAccessConfigIsActiveByIdValidateBeforeCall(UUID id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling deleteAccountingVendorAccessConfigIsActiveById(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteAccountingVendorAccessConfigIsActiveByIdCall(id, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Permanently delete relation with particular accounting vendor.
     * Permanently delete relation with particular accounting vendor.
     * @param id id (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteAccountingVendorAccessConfigIsActiveById(UUID id) throws ApiException {
        deleteAccountingVendorAccessConfigIsActiveByIdWithHttpInfo(id);
    }

    /**
     * Permanently delete relation with particular accounting vendor.
     * Permanently delete relation with particular accounting vendor.
     * @param id id (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteAccountingVendorAccessConfigIsActiveByIdWithHttpInfo(UUID id) throws ApiException {
        com.squareup.okhttp.Call call = deleteAccountingVendorAccessConfigIsActiveByIdValidateBeforeCall(id, null, null);
        return apiClient.execute(call);
    }

    /**
     * Permanently delete relation with particular accounting vendor. (asynchronously)
     * Permanently delete relation with particular accounting vendor.
     * @param id id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteAccountingVendorAccessConfigIsActiveByIdAsync(UUID id, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteAccountingVendorAccessConfigIsActiveByIdValidateBeforeCall(id, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for getAccountingStats
     * @param accountingMethod accounting_method (optional, default to accrual)
     * @param nucleusBusinessId nucleus_business_id (optional)
     * @param nucleusClientId nucleus_client_id (optional)
     * @param periodLength period_length (optional)
     * @param periodMonth period_month (optional)
     * @param periodQuarter period_quarter (optional)
     * @param periodType period_type (optional)
     * @param periodYear period_year (optional)
     * @param report report (optional)
     * @param statementDate statement_date (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getAccountingStatsCall(String accountingMethod, UUID nucleusBusinessId, UUID nucleusClientId, String periodLength, Integer periodMonth, Integer periodQuarter, String periodType, Integer periodYear, String report, LocalDate statementDate, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/accounting/report";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accountingMethod != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("accounting_method", accountingMethod));
        if (nucleusBusinessId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("nucleus_business_id", nucleusBusinessId));
        if (nucleusClientId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("nucleus_client_id", nucleusClientId));
        if (periodLength != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("period_length", periodLength));
        if (periodMonth != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("period_month", periodMonth));
        if (periodQuarter != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("period_quarter", periodQuarter));
        if (periodType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("period_type", periodType));
        if (periodYear != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("period_year", periodYear));
        if (report != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("report", report));
        if (statementDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("statement_date", statementDate));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getAccountingStatsValidateBeforeCall(String accountingMethod, UUID nucleusBusinessId, UUID nucleusClientId, String periodLength, Integer periodMonth, Integer periodQuarter, String periodType, Integer periodYear, String report, LocalDate statementDate, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = getAccountingStatsCall(accountingMethod, nucleusBusinessId, nucleusClientId, periodLength, periodMonth, periodQuarter, periodType, periodYear, report, statementDate, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get accounting stats from financial statements at the vendor for the business provided
     * Get accounting stats from financial statements at the vendor for the business provided
     * @param accountingMethod accounting_method (optional, default to accrual)
     * @param nucleusBusinessId nucleus_business_id (optional)
     * @param nucleusClientId nucleus_client_id (optional)
     * @param periodLength period_length (optional)
     * @param periodMonth period_month (optional)
     * @param periodQuarter period_quarter (optional)
     * @param periodType period_type (optional)
     * @param periodYear period_year (optional)
     * @param report report (optional)
     * @param statementDate statement_date (optional)
     * @return AccountingFinalResponseVO
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AccountingFinalResponseVO getAccountingStats(String accountingMethod, UUID nucleusBusinessId, UUID nucleusClientId, String periodLength, Integer periodMonth, Integer periodQuarter, String periodType, Integer periodYear, String report, LocalDate statementDate) throws ApiException {
        ApiResponse<AccountingFinalResponseVO> resp = getAccountingStatsWithHttpInfo(accountingMethod, nucleusBusinessId, nucleusClientId, periodLength, periodMonth, periodQuarter, periodType, periodYear, report, statementDate);
        return resp.getData();
    }

    /**
     * Get accounting stats from financial statements at the vendor for the business provided
     * Get accounting stats from financial statements at the vendor for the business provided
     * @param accountingMethod accounting_method (optional, default to accrual)
     * @param nucleusBusinessId nucleus_business_id (optional)
     * @param nucleusClientId nucleus_client_id (optional)
     * @param periodLength period_length (optional)
     * @param periodMonth period_month (optional)
     * @param periodQuarter period_quarter (optional)
     * @param periodType period_type (optional)
     * @param periodYear period_year (optional)
     * @param report report (optional)
     * @param statementDate statement_date (optional)
     * @return ApiResponse&lt;AccountingFinalResponseVO&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AccountingFinalResponseVO> getAccountingStatsWithHttpInfo(String accountingMethod, UUID nucleusBusinessId, UUID nucleusClientId, String periodLength, Integer periodMonth, Integer periodQuarter, String periodType, Integer periodYear, String report, LocalDate statementDate) throws ApiException {
        com.squareup.okhttp.Call call = getAccountingStatsValidateBeforeCall(accountingMethod, nucleusBusinessId, nucleusClientId, periodLength, periodMonth, periodQuarter, periodType, periodYear, report, statementDate, null, null);
        Type localVarReturnType = new TypeToken<AccountingFinalResponseVO>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get accounting stats from financial statements at the vendor for the business provided (asynchronously)
     * Get accounting stats from financial statements at the vendor for the business provided
     * @param accountingMethod accounting_method (optional, default to accrual)
     * @param nucleusBusinessId nucleus_business_id (optional)
     * @param nucleusClientId nucleus_client_id (optional)
     * @param periodLength period_length (optional)
     * @param periodMonth period_month (optional)
     * @param periodQuarter period_quarter (optional)
     * @param periodType period_type (optional)
     * @param periodYear period_year (optional)
     * @param report report (optional)
     * @param statementDate statement_date (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getAccountingStatsAsync(String accountingMethod, UUID nucleusBusinessId, UUID nucleusClientId, String periodLength, Integer periodMonth, Integer periodQuarter, String periodType, Integer periodYear, String report, LocalDate statementDate, final ApiCallback<AccountingFinalResponseVO> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getAccountingStatsValidateBeforeCall(accountingMethod, nucleusBusinessId, nucleusClientId, periodLength, periodMonth, periodQuarter, periodType, periodYear, report, statementDate, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AccountingFinalResponseVO>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getAccountingVendorInfoUsingClientId
     * @param nucleusClientId nucleus_client_id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getAccountingVendorInfoUsingClientIdCall(UUID nucleusClientId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/accounting/vendor/{nucleus_client_id}"
            .replaceAll("\\{" + "nucleus_client_id" + "\\}", apiClient.escapeString(nucleusClientId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getAccountingVendorInfoUsingClientIdValidateBeforeCall(UUID nucleusClientId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'nucleusClientId' is set
        if (nucleusClientId == null) {
            throw new ApiException("Missing the required parameter 'nucleusClientId' when calling getAccountingVendorInfoUsingClientId(Async)");
        }
        

        com.squareup.okhttp.Call call = getAccountingVendorInfoUsingClientIdCall(nucleusClientId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get Accounting Vendor Config
     * Get Accounting vendor config information with its status.
     * @param nucleusClientId nucleus_client_id (required)
     * @return List&lt;VendorAccessConfigVO&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<VendorAccessConfigVO> getAccountingVendorInfoUsingClientId(UUID nucleusClientId) throws ApiException {
        ApiResponse<List<VendorAccessConfigVO>> resp = getAccountingVendorInfoUsingClientIdWithHttpInfo(nucleusClientId);
        return resp.getData();
    }

    /**
     * Get Accounting Vendor Config
     * Get Accounting vendor config information with its status.
     * @param nucleusClientId nucleus_client_id (required)
     * @return ApiResponse&lt;List&lt;VendorAccessConfigVO&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<VendorAccessConfigVO>> getAccountingVendorInfoUsingClientIdWithHttpInfo(UUID nucleusClientId) throws ApiException {
        com.squareup.okhttp.Call call = getAccountingVendorInfoUsingClientIdValidateBeforeCall(nucleusClientId, null, null);
        Type localVarReturnType = new TypeToken<List<VendorAccessConfigVO>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get Accounting Vendor Config (asynchronously)
     * Get Accounting vendor config information with its status.
     * @param nucleusClientId nucleus_client_id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getAccountingVendorInfoUsingClientIdAsync(UUID nucleusClientId, final ApiCallback<List<VendorAccessConfigVO>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getAccountingVendorInfoUsingClientIdValidateBeforeCall(nucleusClientId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<VendorAccessConfigVO>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for updateAccountingBill
     * @param nucleusInvoiceId nucleus_invoice_id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call updateAccountingBillCall(UUID nucleusInvoiceId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/accounting/bill/{nucleus_invoice_id}"
            .replaceAll("\\{" + "nucleus_invoice_id" + "\\}", apiClient.escapeString(nucleusInvoiceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call updateAccountingBillValidateBeforeCall(UUID nucleusInvoiceId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'nucleusInvoiceId' is set
        if (nucleusInvoiceId == null) {
            throw new ApiException("Missing the required parameter 'nucleusInvoiceId' when calling updateAccountingBill(Async)");
        }
        

        com.squareup.okhttp.Call call = updateAccountingBillCall(nucleusInvoiceId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Update bill in Nucleus for a given nucleus_invoice_id
     * Update bill in Nucleus for a given nucleus_invoice_id
     * @param nucleusInvoiceId nucleus_invoice_id (required)
     * @return AccountingFinalResponseVO
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AccountingFinalResponseVO updateAccountingBill(UUID nucleusInvoiceId) throws ApiException {
        ApiResponse<AccountingFinalResponseVO> resp = updateAccountingBillWithHttpInfo(nucleusInvoiceId);
        return resp.getData();
    }

    /**
     * Update bill in Nucleus for a given nucleus_invoice_id
     * Update bill in Nucleus for a given nucleus_invoice_id
     * @param nucleusInvoiceId nucleus_invoice_id (required)
     * @return ApiResponse&lt;AccountingFinalResponseVO&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AccountingFinalResponseVO> updateAccountingBillWithHttpInfo(UUID nucleusInvoiceId) throws ApiException {
        com.squareup.okhttp.Call call = updateAccountingBillValidateBeforeCall(nucleusInvoiceId, null, null);
        Type localVarReturnType = new TypeToken<AccountingFinalResponseVO>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Update bill in Nucleus for a given nucleus_invoice_id (asynchronously)
     * Update bill in Nucleus for a given nucleus_invoice_id
     * @param nucleusInvoiceId nucleus_invoice_id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updateAccountingBillAsync(UUID nucleusInvoiceId, final ApiCallback<AccountingFinalResponseVO> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updateAccountingBillValidateBeforeCall(nucleusInvoiceId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AccountingFinalResponseVO>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for updateAccountingCustomer
     * @param nucleusContactId nucleus_contact_id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call updateAccountingCustomerCall(UUID nucleusContactId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/accounting/customer/{nucleus_contact_id}"
            .replaceAll("\\{" + "nucleus_contact_id" + "\\}", apiClient.escapeString(nucleusContactId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call updateAccountingCustomerValidateBeforeCall(UUID nucleusContactId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'nucleusContactId' is set
        if (nucleusContactId == null) {
            throw new ApiException("Missing the required parameter 'nucleusContactId' when calling updateAccountingCustomer(Async)");
        }
        

        com.squareup.okhttp.Call call = updateAccountingCustomerCall(nucleusContactId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Update customer in Nucleus for a given nucleus_contact_id
     * Update customer in Nucleus for a given nucleus_contact_id
     * @param nucleusContactId nucleus_contact_id (required)
     * @return AccountingFinalResponseVO
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AccountingFinalResponseVO updateAccountingCustomer(UUID nucleusContactId) throws ApiException {
        ApiResponse<AccountingFinalResponseVO> resp = updateAccountingCustomerWithHttpInfo(nucleusContactId);
        return resp.getData();
    }

    /**
     * Update customer in Nucleus for a given nucleus_contact_id
     * Update customer in Nucleus for a given nucleus_contact_id
     * @param nucleusContactId nucleus_contact_id (required)
     * @return ApiResponse&lt;AccountingFinalResponseVO&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AccountingFinalResponseVO> updateAccountingCustomerWithHttpInfo(UUID nucleusContactId) throws ApiException {
        com.squareup.okhttp.Call call = updateAccountingCustomerValidateBeforeCall(nucleusContactId, null, null);
        Type localVarReturnType = new TypeToken<AccountingFinalResponseVO>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Update customer in Nucleus for a given nucleus_contact_id (asynchronously)
     * Update customer in Nucleus for a given nucleus_contact_id
     * @param nucleusContactId nucleus_contact_id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updateAccountingCustomerAsync(UUID nucleusContactId, final ApiCallback<AccountingFinalResponseVO> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updateAccountingCustomerValidateBeforeCall(nucleusContactId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AccountingFinalResponseVO>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for updateAccountingInvoice
     * @param nucleusInvoiceId nucleus_invoice_id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call updateAccountingInvoiceCall(UUID nucleusInvoiceId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/accounting/invoice/{nucleus_invoice_id}"
            .replaceAll("\\{" + "nucleus_invoice_id" + "\\}", apiClient.escapeString(nucleusInvoiceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call updateAccountingInvoiceValidateBeforeCall(UUID nucleusInvoiceId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'nucleusInvoiceId' is set
        if (nucleusInvoiceId == null) {
            throw new ApiException("Missing the required parameter 'nucleusInvoiceId' when calling updateAccountingInvoice(Async)");
        }
        

        com.squareup.okhttp.Call call = updateAccountingInvoiceCall(nucleusInvoiceId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Update invoice in Nucleus for a given nucleus_invoice_id
     * Update invoice in Nucleus for a given nucleus_invoice_id
     * @param nucleusInvoiceId nucleus_invoice_id (required)
     * @return AccountingFinalResponseVO
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AccountingFinalResponseVO updateAccountingInvoice(UUID nucleusInvoiceId) throws ApiException {
        ApiResponse<AccountingFinalResponseVO> resp = updateAccountingInvoiceWithHttpInfo(nucleusInvoiceId);
        return resp.getData();
    }

    /**
     * Update invoice in Nucleus for a given nucleus_invoice_id
     * Update invoice in Nucleus for a given nucleus_invoice_id
     * @param nucleusInvoiceId nucleus_invoice_id (required)
     * @return ApiResponse&lt;AccountingFinalResponseVO&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AccountingFinalResponseVO> updateAccountingInvoiceWithHttpInfo(UUID nucleusInvoiceId) throws ApiException {
        com.squareup.okhttp.Call call = updateAccountingInvoiceValidateBeforeCall(nucleusInvoiceId, null, null);
        Type localVarReturnType = new TypeToken<AccountingFinalResponseVO>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Update invoice in Nucleus for a given nucleus_invoice_id (asynchronously)
     * Update invoice in Nucleus for a given nucleus_invoice_id
     * @param nucleusInvoiceId nucleus_invoice_id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updateAccountingInvoiceAsync(UUID nucleusInvoiceId, final ApiCallback<AccountingFinalResponseVO> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updateAccountingInvoiceValidateBeforeCall(nucleusInvoiceId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AccountingFinalResponseVO>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for updateAccountingSupplier
     * @param nucleusContactId nucleus_contact_id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call updateAccountingSupplierCall(UUID nucleusContactId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/accounting/supplier/{nucleus_contact_id}"
            .replaceAll("\\{" + "nucleus_contact_id" + "\\}", apiClient.escapeString(nucleusContactId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call updateAccountingSupplierValidateBeforeCall(UUID nucleusContactId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'nucleusContactId' is set
        if (nucleusContactId == null) {
            throw new ApiException("Missing the required parameter 'nucleusContactId' when calling updateAccountingSupplier(Async)");
        }
        

        com.squareup.okhttp.Call call = updateAccountingSupplierCall(nucleusContactId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Update supplier in Nucleus for a given nucleus_contact_id
     * Update supplier in Nucleus for a given nucleus_contact_id
     * @param nucleusContactId nucleus_contact_id (required)
     * @return AccountingFinalResponseVO
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AccountingFinalResponseVO updateAccountingSupplier(UUID nucleusContactId) throws ApiException {
        ApiResponse<AccountingFinalResponseVO> resp = updateAccountingSupplierWithHttpInfo(nucleusContactId);
        return resp.getData();
    }

    /**
     * Update supplier in Nucleus for a given nucleus_contact_id
     * Update supplier in Nucleus for a given nucleus_contact_id
     * @param nucleusContactId nucleus_contact_id (required)
     * @return ApiResponse&lt;AccountingFinalResponseVO&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AccountingFinalResponseVO> updateAccountingSupplierWithHttpInfo(UUID nucleusContactId) throws ApiException {
        com.squareup.okhttp.Call call = updateAccountingSupplierValidateBeforeCall(nucleusContactId, null, null);
        Type localVarReturnType = new TypeToken<AccountingFinalResponseVO>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Update supplier in Nucleus for a given nucleus_contact_id (asynchronously)
     * Update supplier in Nucleus for a given nucleus_contact_id
     * @param nucleusContactId nucleus_contact_id (required)
[...]
