/*
 * Hydrogen Nucleus API
 * The Hydrogen Nucleus API
 *
 * OpenAPI spec version: 1.9.3
 * Contact: info@hydrogenplatform.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.hydrogen.nucleus.api;

import com.hydrogen.nucleus.ApiCallback;
import com.hydrogen.nucleus.ApiClient;
import com.hydrogen.nucleus.ApiException;
import com.hydrogen.nucleus.ApiResponse;
import com.hydrogen.nucleus.Configuration;
import com.hydrogen.nucleus.Pair;
import com.hydrogen.nucleus.ProgressRequestBody;
import com.hydrogen.nucleus.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.hydrogen.nucleus.model.PagePortfolio;
import com.hydrogen.nucleus.model.PagePortfolioAssetSizeLog;
import com.hydrogen.nucleus.model.PagePortfolioComment;
import com.hydrogen.nucleus.model.PagePortfolioGoal;
import com.hydrogen.nucleus.model.PagePortfolioHoldingLog;
import com.hydrogen.nucleus.model.PagePortfolioTransaction;
import com.hydrogen.nucleus.model.Portfolio;
import com.hydrogen.nucleus.model.PortfolioAssetSizeLog;
import com.hydrogen.nucleus.model.PortfolioComment;
import com.hydrogen.nucleus.model.PortfolioGoal;
import com.hydrogen.nucleus.model.PortfolioHoldingLog;
import com.hydrogen.nucleus.model.PortfolioTransaction;
import java.util.UUID;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class PortfolioApi {
    private ApiClient apiClient;

    public PortfolioApi() {
        this(Configuration.getDefaultApiClient());
    }

    public PortfolioApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for createPortfolioAssetSizeUsingPost
     * @param portfolioAssetSizeLogRequest portfolioAssetSizeLogRequest (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createPortfolioAssetSizeUsingPostCall(PortfolioAssetSizeLog portfolioAssetSizeLogRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = portfolioAssetSizeLogRequest;

        // create path and map variables
        String localVarPath = "/nucleus/v1/portfolio_asset_size";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createPortfolioAssetSizeUsingPostValidateBeforeCall(PortfolioAssetSizeLog portfolioAssetSizeLogRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'portfolioAssetSizeLogRequest' is set
        if (portfolioAssetSizeLogRequest == null) {
            throw new ApiException("Missing the required parameter 'portfolioAssetSizeLogRequest' when calling createPortfolioAssetSizeUsingPost(Async)");
        }
        

        com.squareup.okhttp.Call call = createPortfolioAssetSizeUsingPostCall(portfolioAssetSizeLogRequest, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create a portfolio asset size
     * Create a new asset size record for a portfolio.
     * @param portfolioAssetSizeLogRequest portfolioAssetSizeLogRequest (required)
     * @return PortfolioAssetSizeLog
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public PortfolioAssetSizeLog createPortfolioAssetSizeUsingPost(PortfolioAssetSizeLog portfolioAssetSizeLogRequest) throws ApiException {
        ApiResponse<PortfolioAssetSizeLog> resp = createPortfolioAssetSizeUsingPostWithHttpInfo(portfolioAssetSizeLogRequest);
        return resp.getData();
    }

    /**
     * Create a portfolio asset size
     * Create a new asset size record for a portfolio.
     * @param portfolioAssetSizeLogRequest portfolioAssetSizeLogRequest (required)
     * @return ApiResponse&lt;PortfolioAssetSizeLog&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<PortfolioAssetSizeLog> createPortfolioAssetSizeUsingPostWithHttpInfo(PortfolioAssetSizeLog portfolioAssetSizeLogRequest) throws ApiException {
        com.squareup.okhttp.Call call = createPortfolioAssetSizeUsingPostValidateBeforeCall(portfolioAssetSizeLogRequest, null, null);
        Type localVarReturnType = new TypeToken<PortfolioAssetSizeLog>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create a portfolio asset size (asynchronously)
     * Create a new asset size record for a portfolio.
     * @param portfolioAssetSizeLogRequest portfolioAssetSizeLogRequest (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createPortfolioAssetSizeUsingPostAsync(PortfolioAssetSizeLog portfolioAssetSizeLogRequest, final ApiCallback<PortfolioAssetSizeLog> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createPortfolioAssetSizeUsingPostValidateBeforeCall(portfolioAssetSizeLogRequest, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<PortfolioAssetSizeLog>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createPortfolioCommentUsingPost
     * @param portfolioComment portfolioComment (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createPortfolioCommentUsingPostCall(PortfolioComment portfolioComment, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = portfolioComment;

        // create path and map variables
        String localVarPath = "/nucleus/v1/portfolio_comment";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createPortfolioCommentUsingPostValidateBeforeCall(PortfolioComment portfolioComment, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'portfolioComment' is set
        if (portfolioComment == null) {
            throw new ApiException("Missing the required parameter 'portfolioComment' when calling createPortfolioCommentUsingPost(Async)");
        }
        

        com.squareup.okhttp.Call call = createPortfolioCommentUsingPostCall(portfolioComment, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create a portfolio commentary
     * Create a new comment for a portfolio defined for your firm.
     * @param portfolioComment portfolioComment (required)
     * @return PortfolioComment
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public PortfolioComment createPortfolioCommentUsingPost(PortfolioComment portfolioComment) throws ApiException {
        ApiResponse<PortfolioComment> resp = createPortfolioCommentUsingPostWithHttpInfo(portfolioComment);
        return resp.getData();
    }

    /**
     * Create a portfolio commentary
     * Create a new comment for a portfolio defined for your firm.
     * @param portfolioComment portfolioComment (required)
     * @return ApiResponse&lt;PortfolioComment&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<PortfolioComment> createPortfolioCommentUsingPostWithHttpInfo(PortfolioComment portfolioComment) throws ApiException {
        com.squareup.okhttp.Call call = createPortfolioCommentUsingPostValidateBeforeCall(portfolioComment, null, null);
        Type localVarReturnType = new TypeToken<PortfolioComment>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create a portfolio commentary (asynchronously)
     * Create a new comment for a portfolio defined for your firm.
     * @param portfolioComment portfolioComment (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createPortfolioCommentUsingPostAsync(PortfolioComment portfolioComment, final ApiCallback<PortfolioComment> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createPortfolioCommentUsingPostValidateBeforeCall(portfolioComment, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<PortfolioComment>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createPortfolioGoalUsingPost
     * @param portfolioGoal portfolioGoal (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createPortfolioGoalUsingPostCall(PortfolioGoal portfolioGoal, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = portfolioGoal;

        // create path and map variables
        String localVarPath = "/nucleus/v1/portfolio_goal";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createPortfolioGoalUsingPostValidateBeforeCall(PortfolioGoal portfolioGoal, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'portfolioGoal' is set
        if (portfolioGoal == null) {
            throw new ApiException("Missing the required parameter 'portfolioGoal' when calling createPortfolioGoalUsingPost(Async)");
        }
        

        com.squareup.okhttp.Call call = createPortfolioGoalUsingPostCall(portfolioGoal, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create an portfolio goal
     * Create an portfolio goal.
     * @param portfolioGoal portfolioGoal (required)
     * @return PortfolioGoal
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public PortfolioGoal createPortfolioGoalUsingPost(PortfolioGoal portfolioGoal) throws ApiException {
        ApiResponse<PortfolioGoal> resp = createPortfolioGoalUsingPostWithHttpInfo(portfolioGoal);
        return resp.getData();
    }

    /**
     * Create an portfolio goal
     * Create an portfolio goal.
     * @param portfolioGoal portfolioGoal (required)
     * @return ApiResponse&lt;PortfolioGoal&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<PortfolioGoal> createPortfolioGoalUsingPostWithHttpInfo(PortfolioGoal portfolioGoal) throws ApiException {
        com.squareup.okhttp.Call call = createPortfolioGoalUsingPostValidateBeforeCall(portfolioGoal, null, null);
        Type localVarReturnType = new TypeToken<PortfolioGoal>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create an portfolio goal (asynchronously)
     * Create an portfolio goal.
     * @param portfolioGoal portfolioGoal (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createPortfolioGoalUsingPostAsync(PortfolioGoal portfolioGoal, final ApiCallback<PortfolioGoal> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createPortfolioGoalUsingPostValidateBeforeCall(portfolioGoal, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<PortfolioGoal>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createPortfolioHoldingUsingPost
     * @param portfolioHoldinLogRequest portfolioHoldinLogRequest (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createPortfolioHoldingUsingPostCall(PortfolioHoldingLog portfolioHoldinLogRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = portfolioHoldinLogRequest;

        // create path and map variables
        String localVarPath = "/nucleus/v1/portfolio_holding";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createPortfolioHoldingUsingPostValidateBeforeCall(PortfolioHoldingLog portfolioHoldinLogRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'portfolioHoldinLogRequest' is set
        if (portfolioHoldinLogRequest == null) {
            throw new ApiException("Missing the required parameter 'portfolioHoldinLogRequest' when calling createPortfolioHoldingUsingPost(Async)");
        }
        

        com.squareup.okhttp.Call call = createPortfolioHoldingUsingPostCall(portfolioHoldinLogRequest, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create a portfolio holding
     * Create a new holding record for a portfolio.
     * @param portfolioHoldinLogRequest portfolioHoldinLogRequest (required)
     * @return PortfolioHoldingLog
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public PortfolioHoldingLog createPortfolioHoldingUsingPost(PortfolioHoldingLog portfolioHoldinLogRequest) throws ApiException {
        ApiResponse<PortfolioHoldingLog> resp = createPortfolioHoldingUsingPostWithHttpInfo(portfolioHoldinLogRequest);
        return resp.getData();
    }

    /**
     * Create a portfolio holding
     * Create a new holding record for a portfolio.
     * @param portfolioHoldinLogRequest portfolioHoldinLogRequest (required)
     * @return ApiResponse&lt;PortfolioHoldingLog&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<PortfolioHoldingLog> createPortfolioHoldingUsingPostWithHttpInfo(PortfolioHoldingLog portfolioHoldinLogRequest) throws ApiException {
        com.squareup.okhttp.Call call = createPortfolioHoldingUsingPostValidateBeforeCall(portfolioHoldinLogRequest, null, null);
        Type localVarReturnType = new TypeToken<PortfolioHoldingLog>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create a portfolio holding (asynchronously)
     * Create a new holding record for a portfolio.
     * @param portfolioHoldinLogRequest portfolioHoldinLogRequest (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createPortfolioHoldingUsingPostAsync(PortfolioHoldingLog portfolioHoldinLogRequest, final ApiCallback<PortfolioHoldingLog> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createPortfolioHoldingUsingPostValidateBeforeCall(portfolioHoldinLogRequest, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<PortfolioHoldingLog>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createPortfolioTransactionUsingPost
     * @param portfolioTransactionRequest portfolioTransactionRequest (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createPortfolioTransactionUsingPostCall(PortfolioTransaction portfolioTransactionRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = portfolioTransactionRequest;

        // create path and map variables
        String localVarPath = "/nucleus/v1/portfolio_transaction";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createPortfolioTransactionUsingPostValidateBeforeCall(PortfolioTransaction portfolioTransactionRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'portfolioTransactionRequest' is set
        if (portfolioTransactionRequest == null) {
            throw new ApiException("Missing the required parameter 'portfolioTransactionRequest' when calling createPortfolioTransactionUsingPost(Async)");
        }
        

        com.squareup.okhttp.Call call = createPortfolioTransactionUsingPostCall(portfolioTransactionRequest, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create a portfolio transaction
     * Create a new transaction record for a portfolio.
     * @param portfolioTransactionRequest portfolioTransactionRequest (required)
     * @return PortfolioTransaction
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public PortfolioTransaction createPortfolioTransactionUsingPost(PortfolioTransaction portfolioTransactionRequest) throws ApiException {
        ApiResponse<PortfolioTransaction> resp = createPortfolioTransactionUsingPostWithHttpInfo(portfolioTransactionRequest);
        return resp.getData();
    }

    /**
     * Create a portfolio transaction
     * Create a new transaction record for a portfolio.
     * @param portfolioTransactionRequest portfolioTransactionRequest (required)
     * @return ApiResponse&lt;PortfolioTransaction&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<PortfolioTransaction> createPortfolioTransactionUsingPostWithHttpInfo(PortfolioTransaction portfolioTransactionRequest) throws ApiException {
        com.squareup.okhttp.Call call = createPortfolioTransactionUsingPostValidateBeforeCall(portfolioTransactionRequest, null, null);
        Type localVarReturnType = new TypeToken<PortfolioTransaction>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create a portfolio transaction (asynchronously)
     * Create a new transaction record for a portfolio.
     * @param portfolioTransactionRequest portfolioTransactionRequest (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createPortfolioTransactionUsingPostAsync(PortfolioTransaction portfolioTransactionRequest, final ApiCallback<PortfolioTransaction> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createPortfolioTransactionUsingPostValidateBeforeCall(portfolioTransactionRequest, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<PortfolioTransaction>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createPortfolioUsingPost
     * @param portfolioRequest portfolioRequest (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createPortfolioUsingPostCall(Portfolio portfolioRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = portfolioRequest;

        // create path and map variables
        String localVarPath = "/nucleus/v1/portfolio";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createPortfolioUsingPostValidateBeforeCall(Portfolio portfolioRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'portfolioRequest' is set
        if (portfolioRequest == null) {
            throw new ApiException("Missing the required parameter 'portfolioRequest' when calling createPortfolioUsingPost(Async)");
        }
        

        com.squareup.okhttp.Call call = createPortfolioUsingPostCall(portfolioRequest, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create a portfolio
     * Create a new portfolio for an account.
     * @param portfolioRequest portfolioRequest (required)
     * @return Portfolio
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Portfolio createPortfolioUsingPost(Portfolio portfolioRequest) throws ApiException {
        ApiResponse<Portfolio> resp = createPortfolioUsingPostWithHttpInfo(portfolioRequest);
        return resp.getData();
    }

    /**
     * Create a portfolio
     * Create a new portfolio for an account.
     * @param portfolioRequest portfolioRequest (required)
     * @return ApiResponse&lt;Portfolio&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Portfolio> createPortfolioUsingPostWithHttpInfo(Portfolio portfolioRequest) throws ApiException {
        com.squareup.okhttp.Call call = createPortfolioUsingPostValidateBeforeCall(portfolioRequest, null, null);
        Type localVarReturnType = new TypeToken<Portfolio>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create a portfolio (asynchronously)
     * Create a new portfolio for an account.
     * @param portfolioRequest portfolioRequest (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createPortfolioUsingPostAsync(Portfolio portfolioRequest, final ApiCallback<Portfolio> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createPortfolioUsingPostValidateBeforeCall(portfolioRequest, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Portfolio>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deletePortfolioAssetSizeUsingDelete
     * @param portfolioAssetSizeId UUID portfolio_asset_size_id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deletePortfolioAssetSizeUsingDeleteCall(UUID portfolioAssetSizeId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/nucleus/v1/portfolio_asset_size/{portfolio_asset_size_id}"
            .replaceAll("\\{" + "portfolio_asset_size_id" + "\\}", apiClient.escapeString(portfolioAssetSizeId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deletePortfolioAssetSizeUsingDeleteValidateBeforeCall(UUID portfolioAssetSizeId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'portfolioAssetSizeId' is set
        if (portfolioAssetSizeId == null) {
            throw new ApiException("Missing the required parameter 'portfolioAssetSizeId' when calling deletePortfolioAssetSizeUsingDelete(Async)");
        }
        

        com.squareup.okhttp.Call call = deletePortfolioAssetSizeUsingDeleteCall(portfolioAssetSizeId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete a portfolio asset size
     * Permanently delete a portfolio asset size record for a portfolio.
     * @param portfolioAssetSizeId UUID portfolio_asset_size_id (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deletePortfolioAssetSizeUsingDelete(UUID portfolioAssetSizeId) throws ApiException {
        deletePortfolioAssetSizeUsingDeleteWithHttpInfo(portfolioAssetSizeId);
    }

    /**
     * Delete a portfolio asset size
     * Permanently delete a portfolio asset size record for a portfolio.
     * @param portfolioAssetSizeId UUID portfolio_asset_size_id (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deletePortfolioAssetSizeUsingDeleteWithHttpInfo(UUID portfolioAssetSizeId) throws ApiException {
        com.squareup.okhttp.Call call = deletePortfolioAssetSizeUsingDeleteValidateBeforeCall(portfolioAssetSizeId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete a portfolio asset size (asynchronously)
     * Permanently delete a portfolio asset size record for a portfolio.
     * @param portfolioAssetSizeId UUID portfolio_asset_size_id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deletePortfolioAssetSizeUsingDeleteAsync(UUID portfolioAssetSizeId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deletePortfolioAssetSizeUsingDeleteValidateBeforeCall(portfolioAssetSizeId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deletePortfolioCommentUsingDelete
     * @param portfolioCommentId UUID portfolio_comment_id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deletePortfolioCommentUsingDeleteCall(UUID portfolioCommentId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/nucleus/v1/portfolio_comment/{portfolio_comment_id}"
            .replaceAll("\\{" + "portfolio_comment_id" + "\\}", apiClient.escapeString(portfolioCommentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deletePortfolioCommentUsingDeleteValidateBeforeCall(UUID portfolioCommentId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'portfolioCommentId' is set
        if (portfolioCommentId == null) {
            throw new ApiException("Missing the required parameter 'portfolioCommentId' when calling deletePortfolioCommentUsingDelete(Async)");
        }
        

        com.squareup.okhttp.Call call = deletePortfolioCommentUsingDeleteCall(portfolioCommentId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete a portfolio commentary
     * Permanently delete a portfolio comment for a portfolio.
     * @param portfolioCommentId UUID portfolio_comment_id (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deletePortfolioCommentUsingDelete(UUID portfolioCommentId) throws ApiException {
        deletePortfolioCommentUsingDeleteWithHttpInfo(portfolioCommentId);
    }

    /**
     * Delete a portfolio commentary
     * Permanently delete a portfolio comment for a portfolio.
     * @param portfolioCommentId UUID portfolio_comment_id (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deletePortfolioCommentUsingDeleteWithHttpInfo(UUID portfolioCommentId) throws ApiException {
        com.squareup.okhttp.Call call = deletePortfolioCommentUsingDeleteValidateBeforeCall(portfolioCommentId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete a portfolio commentary (asynchronously)
     * Permanently delete a portfolio comment for a portfolio.
     * @param portfolioCommentId UUID portfolio_comment_id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deletePortfolioCommentUsingDeleteAsync(UUID portfolioCommentId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deletePortfolioCommentUsingDeleteValidateBeforeCall(portfolioCommentId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deletePortfolioGoalUsingDelete
     * @param portfolioGoalId UUID portfolio_goal_id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deletePortfolioGoalUsingDeleteCall(UUID portfolioGoalId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/nucleus/v1/portfolio_goal/{portfolio_goal_id}"
            .replaceAll("\\{" + "portfolio_goal_id" + "\\}", apiClient.escapeString(portfolioGoalId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deletePortfolioGoalUsingDeleteValidateBeforeCall(UUID portfolioGoalId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'portfolioGoalId' is set
        if (portfolioGoalId == null) {
            throw new ApiException("Missing the required parameter 'portfolioGoalId' when calling deletePortfolioGoalUsingDelete(Async)");
        }
        

        com.squareup.okhttp.Call call = deletePortfolioGoalUsingDeleteCall(portfolioGoalId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete an portfolio goal
     * Permanently delete an portfolio-goal mapping.
     * @param portfolioGoalId UUID portfolio_goal_id (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deletePortfolioGoalUsingDelete(UUID portfolioGoalId) throws ApiException {
        deletePortfolioGoalUsingDeleteWithHttpInfo(portfolioGoalId);
    }

    /**
     * Delete an portfolio goal
     * Permanently delete an portfolio-goal mapping.
     * @param portfolioGoalId UUID portfolio_goal_id (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deletePortfolioGoalUsingDeleteWithHttpInfo(UUID portfolioGoalId) throws ApiException {
        com.squareup.okhttp.Call call = deletePortfolioGoalUsingDeleteValidateBeforeCall(portfolioGoalId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete an portfolio goal (asynchronously)
     * Permanently delete an portfolio-goal mapping.
     * @param portfolioGoalId UUID portfolio_goal_id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deletePortfolioGoalUsingDeleteAsync(UUID portfolioGoalId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deletePortfolioGoalUsingDeleteValidateBeforeCall(portfolioGoalId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deletePortfolioHoldingUsingDelete
     * @param portfolioHoldingId UUID portfolio_holding_id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deletePortfolioHoldingUsingDeleteCall(UUID portfolioHoldingId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/nucleus/v1/portfolio_holding/{portfolio_holding_id}"
            .replaceAll("\\{" + "portfolio_holding_id" + "\\}", apiClient.escapeString(portfolioHoldingId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deletePortfolioHoldingUsingDeleteValidateBeforeCall(UUID portfolioHoldingId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'portfolioHoldingId' is set
        if (portfolioHoldingId == null) {
            throw new ApiException("Missing the required parameter 'portfolioHoldingId' when calling deletePortfolioHoldingUsingDelete(Async)");
        }
        

        com.squareup.okhttp.Call call = deletePortfolioHoldingUsingDeleteCall(portfolioHoldingId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete a portfolio holding
     * Permanently delete a portfolio holding record for a portfolio.
     * @param portfolioHoldingId UUID portfolio_holding_id (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deletePortfolioHoldingUsingDelete(UUID portfolioHoldingId) throws ApiException {
        deletePortfolioHoldingUsingDeleteWithHttpInfo(portfolioHoldingId);
    }

    /**
     * Delete a portfolio holding
     * Permanently delete a portfolio holding record for a portfolio.
     * @param portfolioHoldingId UUID portfolio_holding_id (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deletePortfolioHoldingUsingDeleteWithHttpInfo(UUID portfolioHoldingId) throws ApiException {
        com.squareup.okhttp.Call call = deletePortfolioHoldingUsingDeleteValidateBeforeCall(portfolioHoldingId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete a portfolio holding (asynchronously)
     * Permanently delete a portfolio holding record for a portfolio.
     * @param portfolioHoldingId UUID portfolio_holding_id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deletePortfolioHoldingUsingDeleteAsync(UUID portfolioHoldingId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deletePortfolioHoldingUsingDeleteValidateBeforeCall(portfolioHoldingId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deletePortfolioTransactionUsingDelete
     * @param portfolioTransactionId UUID portfolio_transaction_id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deletePortfolioTransactionUsingDeleteCall(UUID portfolioTransactionId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/nucleus/v1/portfolio_transaction/{portfolio_transaction_id}"
            .replaceAll("\\{" + "portfolio_transaction_id" + "\\}", apiClient.escapeString(portfolioTransactionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deletePortfolioTransactionUsingDeleteValidateBeforeCall(UUID portfolioTransactionId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'portfolioTransactionId' is set
        if (portfolioTransactionId == null) {
            throw new ApiException("Missing the required parameter 'portfolioTransactionId' when calling deletePortfolioTransactionUsingDelete(Async)");
        }
        

        com.squareup.okhttp.Call call = deletePortfolioTransactionUsingDeleteCall(portfolioTransactionId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete a portfolio transaction
     * Permanently delete a portfolio transaction record for a portfolio.
     * @param portfolioTransactionId UUID portfolio_transaction_id (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deletePortfolioTransactionUsingDelete(UUID portfolioTransactionId) throws ApiException {
        deletePortfolioTransactionUsingDeleteWithHttpInfo(portfolioTransactionId);
    }

    /**
     * Delete a portfolio transaction
     * Permanently delete a portfolio transaction record for a portfolio.
     * @param portfolioTransactionId UUID portfolio_transaction_id (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deletePortfolioTransactionUsingDeleteWithHttpInfo(UUID portfolioTransactionId) throws ApiException {
        com.squareup.okhttp.Call call = deletePortfolioTransactionUsingDeleteValidateBeforeCall(portfolioTransactionId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete a portfolio transaction (asynchronously)
     * Permanently delete a portfolio transaction record for a portfolio.
     * @param portfolioTransactionId UUID portfolio_transaction_id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deletePortfolioTransactionUsingDeleteAsync(UUID portfolioTransactionId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deletePortfolioTransactionUsingDeleteValidateBeforeCall(portfolioTransactionId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deletePortfolioUsingDelete
     * @param portfolioId UUID portfolio_id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deletePortfolioUsingDeleteCall(UUID portfolioId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/nucleus/v1/portfolio/{portfolio_id}"
            .replaceAll("\\{" + "portfolio_id" + "\\}", apiClient.escapeString(portfolioId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deletePortfolioUsingDeleteValidateBeforeCall(UUID portfolioId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'portfolioId' is set
        if (portfolioId == null) {
            throw new ApiException("Missing the required parameter 'portfolioId' when calling deletePortfolioUsingDelete(Async)");
        }
        

        com.squareup.okhttp.Call call = deletePortfolioUsingDeleteCall(portfolioId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete a portfolio
     * Permanently delete a portfolio for an account.
     * @param portfolioId UUID portfolio_id (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deletePortfolioUsingDelete(UUID portfolioId) throws ApiException {
        deletePortfolioUsingDeleteWithHttpInfo(portfolioId);
    }

    /**
     * Delete a portfolio
     * Permanently delete a portfolio for an account.
     * @param portfolioId UUID portfolio_id (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deletePortfolioUsingDeleteWithHttpInfo(UUID portfolioId) throws ApiException {
        com.squareup.okhttp.Call call = deletePortfolioUsingDeleteValidateBeforeCall(portfolioId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete a portfolio (asynchronously)
     * Permanently delete a portfolio for an account.
     * @param portfolioId UUID portfolio_id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deletePortfolioUsingDeleteAsync(UUID portfolioId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deletePortfolioUsingDeleteValidateBeforeCall(portfolioId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for getAllPortfolioTransactionByPostUsingPOST
     * @param ascending ascending (optional, default to false)
     * @param currencyConversion currency_conversion (optional)
     * @param filter filter (optional)
     * @param orderBy order_by (optional, default to update_date)
     * @param page page (optional, default to 0)
     * @param size size (optional, default to 25)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getAllPortfolioTransactionByPostUsingPOSTCall(Boolean ascending, String currencyConversion, String filter, String orderBy, Integer page, Integer size, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/nucleus/v1/portfolio_transaction_by_post";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (ascending != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("ascending", ascending));
        if (currencyConversion != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("currency_conversion", currencyConversion));
        if (filter != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("filter", filter));
        if (orderBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("order_by", orderBy));
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
        if (size != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("size", size));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getAllPortfolioTransactionByPostUsingPOSTValidateBeforeCall(Boolean ascending, String currencyConversion, String filter, String orderBy, Integer page, Integer size, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = getAllPortfolioTransactionByPostUsingPOSTCall(ascending, currencyConversion, filter, orderBy, page, size, progressListener, progressRequestListener);
        return call;

    }

    /**
     * getAllPortfolioTransactionByPost
     * 
     * @param ascending ascending (optional, default to false)
     * @param currencyConversion currency_conversion (optional)
     * @param filter filter (optional)
     * @param orderBy order_by (optional, default to update_date)
     * @param page page (optional, default to 0)
     * @param size size (optional, default to 25)
     * @return PagePortfolioTransaction
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public PagePortfolioTransaction getAllPortfolioTransactionByPostUsingPOST(Boolean ascending, String currencyConversion, String filter, String orderBy, Integer page, Integer size) throws ApiException {
        ApiResponse<PagePortfolioTransaction> resp = getAllPortfolioTransactionByPostUsingPOSTWithHttpInfo(ascending, currencyConversion, filter, orderBy, page, size);
        return resp.getData();
    }

    /**
     * getAllPortfolioTransactionByPost
     * 
     * @param ascending ascending (optional, default to false)
     * @param currencyConversion currency_conversion (optional)
     * @param filter filter (optional)
     * @param orderBy order_by (optional, default to update_date)
     * @param page page (optional, default to 0)
     * @param size size (optional, default to 25)
     * @return ApiResponse&lt;PagePortfolioTransaction&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<PagePortfolioTransaction> getAllPortfolioTransactionByPostUsingPOSTWithHttpInfo(Boolean ascending, String currencyConversion, String filter, String orderBy, Integer page, Integer size) throws ApiException {
        com.squareup.okhttp.Call call = getAllPortfolioTransactionByPostUsingPOSTValidateBeforeCall(ascending, currencyConversion, filter, orderBy, page, size, null, null);
        Type localVarReturnType = new TypeToken<PagePortfolioTransaction>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * getAllPortfolioTransactionByPost (asynchronously)
     * 
     * @param ascending ascending (optional, default to false)
     * @param currencyConversion currency_conversion (optional)
     * @param filter filter (optional)
     * @param orderBy order_by (optional, default to update_date)
     * @param page page (optional, default to 0)
     * @param size size (optional, default to 25)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getAllPortfolioTransactionByPostUsingPOSTAsync(Boolean ascending, String currencyConversion, String filter, String orderBy, Integer page, Integer size, final ApiCallback<PagePortfolioTransaction> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getAllPortfolioTransactionByPostUsingPOSTValidateBeforeCall(ascending, currencyConversion, filter, orderBy, page, size, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<PagePortfolioTransaction>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getPortfolioAggregatedDataUsingGet
     * @param portfolioId Portfolio Id (required)
     * @param showAssetClass true or false (optional, default to true)
     * @param showCategory true or false (optional, default to true)
     * @param showIndustry true or false (optional, default to true)
     * @param showSector true or false (optional, default to true)
     * @param showSecurityClass true or false (optional, default to true)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getPortfolioAggregatedDataUsingGetCall(UUID portfolioId, Boolean showAssetClass, Boolean showCategory, Boolean showIndustry, Boolean showSector, Boolean showSecurityClass, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/nucleus/v1/portfolio/{portfolio_id}/aggregate_data"
            .replaceAll("\\{" + "portfolio_id" + "\\}", apiClient.escapeString(portfolioId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (showAssetClass != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_asset_class", showAssetClass));
        if (showCategory != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_category", showCategory));
        if (showIndustry != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_industry", showIndustry));
        if (showSector != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_sector", showSector));
        if (showSecurityClass != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_security_class", showSecurityClass));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getPortfolioAggregatedDataUsingGetValidateBeforeCall(UUID portfolioId, Boolean showAssetClass, Boolean showCategory, Boolean showIndustry, Boolean showSector, Boolean showSecurityClass, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'portfolioId' is set
        if (portfolioId == null) {
            throw new ApiException("Missing the required parameter 'portfolioId' when calling getPortfolioAggregatedDataUsingGet(Async)");
        }
        

        com.squareup.okhttp.Call call = getPortfolioAggregatedDataUsingGetCall(portfolioId, showAssetClass, showCategory, showIndustry, showSector, showSecurityClass, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieve an portfolio aggregate data
     * Retrieve the information for a securities associated with a portfolio.
     * @param portfolioId Portfolio Id (required)
     * @param showAssetClass true or false (optional, default to true)
     * @param showCategory true or false (optional, default to true)
     * @param showIndustry true or false (optional, default to true)
     * @param showSector true or false (optional, default to true)
     * @param showSecurityClass true or false (optional, default to true)
     * @return Object
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Object getPortfolioAggregatedDataUsingGet(UUID portfolioId, Boolean showAssetClass, Boolean showCategory, Boolean showIndustry, Boolean showSector, Boolean showSecurityClass) throws ApiException {
        ApiResponse<Object> resp = getPortfolioAggregatedDataUsingGetWithHttpInfo(portfolioId, showAssetClass, showCategory, showIndustry, showSector, showSecurityClass);
        return resp.getData();
    }

    /**
     * Retrieve an portfolio aggregate data
     * Retrieve the information for a securities associated with a portfolio.
     * @param portfolioId Portfolio Id (required)
     * @param showAssetClass true or false (optional, default to true)
     * @param showCategory true or false (optional, default to true)
     * @param showIndustry true or false (optional, default to true)
     * @param showSector true or false (optional, default to true)
     * @param showSecurityClass true or false (optional, default to true)
     * @return ApiResponse&lt;Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Object> getPortfolioAggregatedDataUsingGetWithHttpInfo(UUID portfolioId, Boolean showAssetClass, Boolean showCategory, Boolean showIndustry, Boolean showSector, Boolean showSecurityClass) throws ApiException {
        com.squareup.okhttp.Call call = getPortfolioAggregatedDataUsingGetValidateBeforeCall(portfolioId, showAssetClass, showCategory, showIndustry, showSector, showSecurityClass, null, null);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieve an portfolio aggregate data (asynchronously)
     * Retrieve the information for a securities associated with a portfolio.
     * @param portfolioId Portfolio Id (required)
     * @param showAssetClass true or false (optional, default to true)
     * @param showCategory true or false (optional, default to true)
     * @param showIndustry true or false (optional, default to true)
     * @param showSector true or false (optional, default to true)
     * @param showSecurityClass true or false (optional, default to true)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getPortfolioAggregatedDataUsingGetAsync(UUID portfolioId, Boolean showAssetClass, Boolean showCategory, Boolean showIndustry, Boolean showSector, Boolean showSecurityClass, final ApiCallback<Object> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getPortfolioAggregatedDataUsingGetValidateBeforeCall(portfolioId, showAssetClass, showCategory, showIndustry, showSector, showSecurityClass, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getPortfolioAllUsingGet
     * @param ascending ascending (optional, default to false)
     * @param filter filter (optional)
     * @param orderBy order_by (optional, default to update_date)
     * @param page page (optional, default to 0)
     * @param size size (optional, default to 25)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getPortfolioAllUsingGetCall(Boolean ascending, String filter, String orderBy, Integer page, Integer size, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/nucleus/v1/portfolio";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (ascending != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("ascending", ascending));
        if (filter != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("filter", filter));
        if (orderBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("order_by", orderBy));
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
        if (size != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("size", size));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getPortfolioAllUsingGetValidateBeforeCall(Boolean ascending, String filter, String orderBy, Integer page, Integer size, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = getPortfolioAllUsingGetCall(ascending, filter, orderBy, page, size, progressListener, progressRequestListener);
        return call;

    }

    /**
     * List all portfolios
     * Get the information for all portfolios assigned to all of your firm’s accounts. 
     * @param ascending ascending (optional, default to false)
     * @param filter filter (optional)
     * @param orderBy order_by (optional, default to update_date)
     * @param page page (optional, default to 0)
     * @param size size (optional, default to 25)
     * @return PagePortfolio
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public PagePortfolio getPortfolioAllUsingGet(Boolean ascending, String filter, String orderBy, Integer page, Integer size) throws ApiException {
        ApiResponse<PagePortfolio> resp = getPortfolioAllUsingGetWithHttpInfo(ascending, filter, orderBy, page, size);
        return resp.getData();
    }

    /**
     * List all portfolios
     * Get the information for all portfolios assigned to all of your firm’s accounts. 
     * @param ascending ascending (optional, default to false)
     * @param filter filter (optional)
     * @param orderBy order_by (optional, default to update_date)
     * @param page page (optional, default to 0)
     * @param size size (optional, default to 25)
     * @return ApiResponse&lt;PagePortfolio&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<PagePortfolio> getPortfolioAllUsingGetWithHttpInfo(Boolean ascending, String filter, String orderBy, Integer page, Integer size) throws ApiException {
        com.squareup.okhttp.Call call = getPortfolioAllUsingGetValidateBeforeCall(ascending, filter, orderBy, page, size, null, null);
        Type localVarReturnType = new TypeToken<PagePortfolio>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * List all portfolios (asynchronously)
     * Get the information for all portfolios assigned to all of your firm’s accounts. 
     * @param ascending ascending (optional, default to false)
     * @param filter filter (optional)
     * @param orderBy order_by (optional, default to update_date)
     * @param page page (optional, default to 0)
     * @param size size (optional, default to 25)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
[...]
