/*
 * Hydrogen Atom API
 * The Hydrogen Atom API
 *
 * OpenAPI spec version: 1.0.1
 * Contact: info@hydrogenplatform.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import atom_api.ApiCallback;
import atom_api.ApiClient;
import atom_api.ApiException;
import atom_api.ApiResponse;
import atom_api.Configuration;
import atom_api.Pair;
import atom_api.ProgressRequestBody;
import atom_api.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.CampaignDataPayload;
import io.swagger.client.model.CampaignManagementPayload;
import io.swagger.client.model.CampaignPlanPayload;
import io.swagger.client.model.ChatPayload;
import io.swagger.client.model.ClientCampaignPayload;
import io.swagger.client.model.ConsultationPayload;
import io.swagger.client.model.CreateCampaignDataResponse;
import io.swagger.client.model.CreateCampaignPlanResponse;
import io.swagger.client.model.CreateCampaignResponse;
import io.swagger.client.model.CreateChatResponse;
import io.swagger.client.model.CreateClientCampaignResponse;
import io.swagger.client.model.CreateConsultationResponse;
import io.swagger.client.model.CreateDocumentResponse;
import io.swagger.client.model.CreateFaqResponse;
import io.swagger.client.model.CreateSalesResponse;
import io.swagger.client.model.CreateSupportTicketCommentResponse;
import io.swagger.client.model.CreateSupportTicketResponse;
import io.swagger.client.model.DocumentPayload;
import io.swagger.client.model.FaqPayload;
import io.swagger.client.model.GetCampaignDataResponse;
import io.swagger.client.model.GetCampaignPlanResponse;
import io.swagger.client.model.GetCampaignResponse;
import io.swagger.client.model.GetChatResponse;
import io.swagger.client.model.GetClientCampaignResponse;
import io.swagger.client.model.GetConsultationResponse;
import io.swagger.client.model.GetDocumentResponse;
import io.swagger.client.model.GetFaqResponse;
import io.swagger.client.model.GetSalesResponse;
import io.swagger.client.model.GetSupportTicketCommentResponse;
import io.swagger.client.model.GetSupportTicketResponse;
import io.swagger.client.model.SalesPayload;
import io.swagger.client.model.SpecificCampaignDataResponse;
import io.swagger.client.model.SpecificCampaignPlanResponse;
import io.swagger.client.model.SpecificCampaignResponse;
import io.swagger.client.model.SpecificChatResponse;
import io.swagger.client.model.SpecificClientCampaignResponse;
import io.swagger.client.model.SpecificConsultationResponse;
import io.swagger.client.model.SpecificDocumentResponse;
import io.swagger.client.model.SpecificFaqResponse;
import io.swagger.client.model.SpecificSalesResponse;
import io.swagger.client.model.SpecificSupportTicketCommentResponse;
import io.swagger.client.model.SpecificSupportTicketResponse;
import io.swagger.client.model.SupportTicketCommentPayload;
import io.swagger.client.model.SupportTicketPayload;
import java.util.UUID;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ElectronApi {
    private ApiClient apiClient;

    public ElectronApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ElectronApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for deleteCampaign
     * @param campaignId UUID of a marketing campaign (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-marketing-campaign">Delete a marketing campaign Documentation</a>
     */
    public com.squareup.okhttp.Call deleteCampaignCall(UUID campaignId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/electron/v1/campaign/{campaign_id}"
            .replaceAll("\\{" + "campaign_id" + "\\}", apiClient.escapeString(campaignId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteCampaignValidateBeforeCall(UUID campaignId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'campaignId' is set
        if (campaignId == null) {
            throw new ApiException("Missing the required parameter 'campaignId' when calling deleteCampaign(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteCampaignCall(campaignId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete a marketing campaign
     * 
     * @param campaignId UUID of a marketing campaign (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-marketing-campaign">Delete a marketing campaign Documentation</a>
     */
    public void deleteCampaign(UUID campaignId) throws ApiException {
        deleteCampaignWithHttpInfo(campaignId);
    }

    /**
     * Delete a marketing campaign
     * 
     * @param campaignId UUID of a marketing campaign (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-marketing-campaign">Delete a marketing campaign Documentation</a>
     */
    public ApiResponse<Void> deleteCampaignWithHttpInfo(UUID campaignId) throws ApiException {
        com.squareup.okhttp.Call call = deleteCampaignValidateBeforeCall(campaignId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete a marketing campaign (asynchronously)
     * 
     * @param campaignId UUID of a marketing campaign (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-marketing-campaign">Delete a marketing campaign Documentation</a>
     */
    public com.squareup.okhttp.Call deleteCampaignAsync(UUID campaignId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteCampaignValidateBeforeCall(campaignId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteCampaignDataRecord
     * @param campaignDataId UUID of a campaign data record (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-campaign-data-record">Delete a marketing campaign data record Documentation</a>
     */
    public com.squareup.okhttp.Call deleteCampaignDataRecordCall(UUID campaignDataId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/electron/v1/campaign_data/{campaign_data_id}"
            .replaceAll("\\{" + "campaign_data_id" + "\\}", apiClient.escapeString(campaignDataId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteCampaignDataRecordValidateBeforeCall(UUID campaignDataId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'campaignDataId' is set
        if (campaignDataId == null) {
            throw new ApiException("Missing the required parameter 'campaignDataId' when calling deleteCampaignDataRecord(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteCampaignDataRecordCall(campaignDataId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete a marketing campaign data record
     * 
     * @param campaignDataId UUID of a campaign data record (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-campaign-data-record">Delete a marketing campaign data record Documentation</a>
     */
    public void deleteCampaignDataRecord(UUID campaignDataId) throws ApiException {
        deleteCampaignDataRecordWithHttpInfo(campaignDataId);
    }

    /**
     * Delete a marketing campaign data record
     * 
     * @param campaignDataId UUID of a campaign data record (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-campaign-data-record">Delete a marketing campaign data record Documentation</a>
     */
    public ApiResponse<Void> deleteCampaignDataRecordWithHttpInfo(UUID campaignDataId) throws ApiException {
        com.squareup.okhttp.Call call = deleteCampaignDataRecordValidateBeforeCall(campaignDataId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete a marketing campaign data record (asynchronously)
     * 
     * @param campaignDataId UUID of a campaign data record (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-campaign-data-record">Delete a marketing campaign data record Documentation</a>
     */
    public com.squareup.okhttp.Call deleteCampaignDataRecordAsync(UUID campaignDataId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteCampaignDataRecordValidateBeforeCall(campaignDataId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteCampaignPlan
     * @param campaignPlanId UUID of a campaign plan (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-campaign-plan">Delete a marketing campaign plan Documentation</a>
     */
    public com.squareup.okhttp.Call deleteCampaignPlanCall(UUID campaignPlanId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/electron/v1/campaign_plan/{campaign_plan_id}"
            .replaceAll("\\{" + "campaign_plan_id" + "\\}", apiClient.escapeString(campaignPlanId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteCampaignPlanValidateBeforeCall(UUID campaignPlanId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'campaignPlanId' is set
        if (campaignPlanId == null) {
            throw new ApiException("Missing the required parameter 'campaignPlanId' when calling deleteCampaignPlan(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteCampaignPlanCall(campaignPlanId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete a marketing campaign plan
     * 
     * @param campaignPlanId UUID of a campaign plan (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-campaign-plan">Delete a marketing campaign plan Documentation</a>
     */
    public void deleteCampaignPlan(UUID campaignPlanId) throws ApiException {
        deleteCampaignPlanWithHttpInfo(campaignPlanId);
    }

    /**
     * Delete a marketing campaign plan
     * 
     * @param campaignPlanId UUID of a campaign plan (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-campaign-plan">Delete a marketing campaign plan Documentation</a>
     */
    public ApiResponse<Void> deleteCampaignPlanWithHttpInfo(UUID campaignPlanId) throws ApiException {
        com.squareup.okhttp.Call call = deleteCampaignPlanValidateBeforeCall(campaignPlanId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete a marketing campaign plan (asynchronously)
     * 
     * @param campaignPlanId UUID of a campaign plan (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-campaign-plan">Delete a marketing campaign plan Documentation</a>
     */
    public com.squareup.okhttp.Call deleteCampaignPlanAsync(UUID campaignPlanId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteCampaignPlanValidateBeforeCall(campaignPlanId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteChatLog
     * @param chatId UUID of a chat record (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-chat-log">Delete a chat log Documentation</a>
     */
    public com.squareup.okhttp.Call deleteChatLogCall(UUID chatId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/electron/v1/chat/{chat_id}"
            .replaceAll("\\{" + "chat_id" + "\\}", apiClient.escapeString(chatId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteChatLogValidateBeforeCall(UUID chatId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'chatId' is set
        if (chatId == null) {
            throw new ApiException("Missing the required parameter 'chatId' when calling deleteChatLog(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteChatLogCall(chatId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete a chat log
     * 
     * @param chatId UUID of a chat record (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-chat-log">Delete a chat log Documentation</a>
     */
    public void deleteChatLog(UUID chatId) throws ApiException {
        deleteChatLogWithHttpInfo(chatId);
    }

    /**
     * Delete a chat log
     * 
     * @param chatId UUID of a chat record (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-chat-log">Delete a chat log Documentation</a>
     */
    public ApiResponse<Void> deleteChatLogWithHttpInfo(UUID chatId) throws ApiException {
        com.squareup.okhttp.Call call = deleteChatLogValidateBeforeCall(chatId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete a chat log (asynchronously)
     * 
     * @param chatId UUID of a chat record (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-chat-log">Delete a chat log Documentation</a>
     */
    public com.squareup.okhttp.Call deleteChatLogAsync(UUID chatId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteChatLogValidateBeforeCall(chatId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteClientCampaign
     * @param clientCampaignId UUID of a client campaign record (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Remove-a-client-from-a-campaign">Remove a client from a campaign Documentation</a>
     */
    public com.squareup.okhttp.Call deleteClientCampaignCall(UUID clientCampaignId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/electron/v1/client_campaign/{client_campaign_id}"
            .replaceAll("\\{" + "client_campaign_id" + "\\}", apiClient.escapeString(clientCampaignId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteClientCampaignValidateBeforeCall(UUID clientCampaignId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'clientCampaignId' is set
        if (clientCampaignId == null) {
            throw new ApiException("Missing the required parameter 'clientCampaignId' when calling deleteClientCampaign(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteClientCampaignCall(clientCampaignId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Remove a client from a campaign
     * 
     * @param clientCampaignId UUID of a client campaign record (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Remove-a-client-from-a-campaign">Remove a client from a campaign Documentation</a>
     */
    public void deleteClientCampaign(UUID clientCampaignId) throws ApiException {
        deleteClientCampaignWithHttpInfo(clientCampaignId);
    }

    /**
     * Remove a client from a campaign
     * 
     * @param clientCampaignId UUID of a client campaign record (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Remove-a-client-from-a-campaign">Remove a client from a campaign Documentation</a>
     */
    public ApiResponse<Void> deleteClientCampaignWithHttpInfo(UUID clientCampaignId) throws ApiException {
        com.squareup.okhttp.Call call = deleteClientCampaignValidateBeforeCall(clientCampaignId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Remove a client from a campaign (asynchronously)
     * 
     * @param clientCampaignId UUID of a client campaign record (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Remove-a-client-from-a-campaign">Remove a client from a campaign Documentation</a>
     */
    public com.squareup.okhttp.Call deleteClientCampaignAsync(UUID clientCampaignId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteClientCampaignValidateBeforeCall(clientCampaignId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteConsultation
     * @param consultationId UUID of a consultation record (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-consultation">Delete a consultation Documentation</a>
     */
    public com.squareup.okhttp.Call deleteConsultationCall(UUID consultationId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/electron/v1/consultation/{consultation_id}"
            .replaceAll("\\{" + "consultation_id" + "\\}", apiClient.escapeString(consultationId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteConsultationValidateBeforeCall(UUID consultationId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'consultationId' is set
        if (consultationId == null) {
            throw new ApiException("Missing the required parameter 'consultationId' when calling deleteConsultation(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteConsultationCall(consultationId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete a consultation
     * 
     * @param consultationId UUID of a consultation record (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-consultation">Delete a consultation Documentation</a>
     */
    public void deleteConsultation(UUID consultationId) throws ApiException {
        deleteConsultationWithHttpInfo(consultationId);
    }

    /**
     * Delete a consultation
     * 
     * @param consultationId UUID of a consultation record (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-consultation">Delete a consultation Documentation</a>
     */
    public ApiResponse<Void> deleteConsultationWithHttpInfo(UUID consultationId) throws ApiException {
        com.squareup.okhttp.Call call = deleteConsultationValidateBeforeCall(consultationId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete a consultation (asynchronously)
     * 
     * @param consultationId UUID of a consultation record (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-consultation">Delete a consultation Documentation</a>
     */
    public com.squareup.okhttp.Call deleteConsultationAsync(UUID consultationId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteConsultationValidateBeforeCall(consultationId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteDocument
     * @param documentId UUID of a document (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-document">Delete a document Documentation</a>
     */
    public com.squareup.okhttp.Call deleteDocumentCall(UUID documentId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/electron/v1/document/{document_id}"
            .replaceAll("\\{" + "document_id" + "\\}", apiClient.escapeString(documentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteDocumentValidateBeforeCall(UUID documentId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'documentId' is set
        if (documentId == null) {
            throw new ApiException("Missing the required parameter 'documentId' when calling deleteDocument(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteDocumentCall(documentId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete a document
     * 
     * @param documentId UUID of a document (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-document">Delete a document Documentation</a>
     */
    public void deleteDocument(UUID documentId) throws ApiException {
        deleteDocumentWithHttpInfo(documentId);
    }

    /**
     * Delete a document
     * 
     * @param documentId UUID of a document (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-document">Delete a document Documentation</a>
     */
    public ApiResponse<Void> deleteDocumentWithHttpInfo(UUID documentId) throws ApiException {
        com.squareup.okhttp.Call call = deleteDocumentValidateBeforeCall(documentId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete a document (asynchronously)
     * 
     * @param documentId UUID of a document (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-document">Delete a document Documentation</a>
     */
    public com.squareup.okhttp.Call deleteDocumentAsync(UUID documentId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteDocumentValidateBeforeCall(documentId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteFaq
     * @param faqId UUID of a FAQ (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-an-FAQ">Delete a FAQ Documentation</a>
     */
    public com.squareup.okhttp.Call deleteFaqCall(UUID faqId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/electron/v1/faq/{faq_id}"
            .replaceAll("\\{" + "faq_id" + "\\}", apiClient.escapeString(faqId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteFaqValidateBeforeCall(UUID faqId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'faqId' is set
        if (faqId == null) {
            throw new ApiException("Missing the required parameter 'faqId' when calling deleteFaq(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteFaqCall(faqId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete a FAQ
     * 
     * @param faqId UUID of a FAQ (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-an-FAQ">Delete a FAQ Documentation</a>
     */
    public void deleteFaq(UUID faqId) throws ApiException {
        deleteFaqWithHttpInfo(faqId);
    }

    /**
     * Delete a FAQ
     * 
     * @param faqId UUID of a FAQ (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-an-FAQ">Delete a FAQ Documentation</a>
     */
    public ApiResponse<Void> deleteFaqWithHttpInfo(UUID faqId) throws ApiException {
        com.squareup.okhttp.Call call = deleteFaqValidateBeforeCall(faqId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete a FAQ (asynchronously)
     * 
     * @param faqId UUID of a FAQ (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-an-FAQ">Delete a FAQ Documentation</a>
     */
    public com.squareup.okhttp.Call deleteFaqAsync(UUID faqId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteFaqValidateBeforeCall(faqId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteSalesInquiry
     * @param salesId UUID of a sales record (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Update-a-sales-inquiry">Delete a sales inquiry Documentation</a>
     */
    public com.squareup.okhttp.Call deleteSalesInquiryCall(UUID salesId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/electron/v1/sales/{sales_id}"
            .replaceAll("\\{" + "sales_id" + "\\}", apiClient.escapeString(salesId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteSalesInquiryValidateBeforeCall(UUID salesId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'salesId' is set
        if (salesId == null) {
            throw new ApiException("Missing the required parameter 'salesId' when calling deleteSalesInquiry(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteSalesInquiryCall(salesId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete a sales inquiry
     * 
     * @param salesId UUID of a sales record (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Update-a-sales-inquiry">Delete a sales inquiry Documentation</a>
     */
    public void deleteSalesInquiry(UUID salesId) throws ApiException {
        deleteSalesInquiryWithHttpInfo(salesId);
    }

    /**
     * Delete a sales inquiry
     * 
     * @param salesId UUID of a sales record (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Update-a-sales-inquiry">Delete a sales inquiry Documentation</a>
     */
    public ApiResponse<Void> deleteSalesInquiryWithHttpInfo(UUID salesId) throws ApiException {
        com.squareup.okhttp.Call call = deleteSalesInquiryValidateBeforeCall(salesId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete a sales inquiry (asynchronously)
     * 
     * @param salesId UUID of a sales record (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Update-a-sales-inquiry">Delete a sales inquiry Documentation</a>
     */
    public com.squareup.okhttp.Call deleteSalesInquiryAsync(UUID salesId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteSalesInquiryValidateBeforeCall(salesId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteSupportTicket
     * @param supportTicketId UUID of a support ticket (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-support-ticket">Delete a support ticket Documentation</a>
     */
    public com.squareup.okhttp.Call deleteSupportTicketCall(UUID supportTicketId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/electron/v1/support_ticket/{support_ticket_id}"
            .replaceAll("\\{" + "support_ticket_id" + "\\}", apiClient.escapeString(supportTicketId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteSupportTicketValidateBeforeCall(UUID supportTicketId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'supportTicketId' is set
        if (supportTicketId == null) {
            throw new ApiException("Missing the required parameter 'supportTicketId' when calling deleteSupportTicket(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteSupportTicketCall(supportTicketId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete a support ticket
     * 
     * @param supportTicketId UUID of a support ticket (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-support-ticket">Delete a support ticket Documentation</a>
     */
    public void deleteSupportTicket(UUID supportTicketId) throws ApiException {
        deleteSupportTicketWithHttpInfo(supportTicketId);
    }

    /**
     * Delete a support ticket
     * 
     * @param supportTicketId UUID of a support ticket (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-support-ticket">Delete a support ticket Documentation</a>
     */
    public ApiResponse<Void> deleteSupportTicketWithHttpInfo(UUID supportTicketId) throws ApiException {
        com.squareup.okhttp.Call call = deleteSupportTicketValidateBeforeCall(supportTicketId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete a support ticket (asynchronously)
     * 
     * @param supportTicketId UUID of a support ticket (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-support-ticket">Delete a support ticket Documentation</a>
     */
    public com.squareup.okhttp.Call deleteSupportTicketAsync(UUID supportTicketId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteSupportTicketValidateBeforeCall(supportTicketId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteSupportTicketComment
     * @param supportTicketCommentId UUID of a support ticket comment (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-support-ticket-comment">Delete a support ticket comment Documentation</a>
     */
    public com.squareup.okhttp.Call deleteSupportTicketCommentCall(UUID supportTicketCommentId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/electron/v1/support_ticket_comment/{support_ticket_comment_id}"
            .replaceAll("\\{" + "support_ticket_comment_id" + "\\}", apiClient.escapeString(supportTicketCommentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteSupportTicketCommentValidateBeforeCall(UUID supportTicketCommentId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'supportTicketCommentId' is set
        if (supportTicketCommentId == null) {
            throw new ApiException("Missing the required parameter 'supportTicketCommentId' when calling deleteSupportTicketComment(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteSupportTicketCommentCall(supportTicketCommentId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete a support ticket comment
     * 
     * @param supportTicketCommentId UUID of a support ticket comment (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-support-ticket-comment">Delete a support ticket comment Documentation</a>
     */
    public void deleteSupportTicketComment(UUID supportTicketCommentId) throws ApiException {
        deleteSupportTicketCommentWithHttpInfo(supportTicketCommentId);
    }

    /**
     * Delete a support ticket comment
     * 
     * @param supportTicketCommentId UUID of a support ticket comment (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-support-ticket-comment">Delete a support ticket comment Documentation</a>
     */
    public ApiResponse<Void> deleteSupportTicketCommentWithHttpInfo(UUID supportTicketCommentId) throws ApiException {
        com.squareup.okhttp.Call call = deleteSupportTicketCommentValidateBeforeCall(supportTicketCommentId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete a support ticket comment (asynchronously)
     * 
     * @param supportTicketCommentId UUID of a support ticket comment (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Delete-a-support-ticket-comment">Delete a support ticket comment Documentation</a>
     */
    public com.squareup.okhttp.Call deleteSupportTicketCommentAsync(UUID supportTicketCommentId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteSupportTicketCommentValidateBeforeCall(supportTicketCommentId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for getCampaign
     * @param campaignId UUID of a marketing campaign (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Retrieve-a-marketing-campaign">Retrieve a marketing campaign Documentation</a>
     */
    public com.squareup.okhttp.Call getCampaignCall(UUID campaignId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/electron/v1/campaign/{campaign_id}"
            .replaceAll("\\{" + "campaign_id" + "\\}", apiClient.escapeString(campaignId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getCampaignValidateBeforeCall(UUID campaignId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'campaignId' is set
        if (campaignId == null) {
            throw new ApiException("Missing the required parameter 'campaignId' when calling getCampaign(Async)");
        }
        

        com.squareup.okhttp.Call call = getCampaignCall(campaignId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieve a marketing campaign
     * 
     * @param campaignId UUID of a marketing campaign (required)
     * @return SpecificCampaignResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Retrieve-a-marketing-campaign">Retrieve a marketing campaign Documentation</a>
     */
    public SpecificCampaignResponse getCampaign(UUID campaignId) throws ApiException {
        ApiResponse<SpecificCampaignResponse> resp = getCampaignWithHttpInfo(campaignId);
        return resp.getData();
    }

    /**
     * Retrieve a marketing campaign
     * 
     * @param campaignId UUID of a marketing campaign (required)
     * @return ApiResponse&lt;SpecificCampaignResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Retrieve-a-marketing-campaign">Retrieve a marketing campaign Documentation</a>
     */
    public ApiResponse<SpecificCampaignResponse> getCampaignWithHttpInfo(UUID campaignId) throws ApiException {
        com.squareup.okhttp.Call call = getCampaignValidateBeforeCall(campaignId, null, null);
        Type localVarReturnType = new TypeToken<SpecificCampaignResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieve a marketing campaign (asynchronously)
     * 
     * @param campaignId UUID of a marketing campaign (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Retrieve-a-marketing-campaign">Retrieve a marketing campaign Documentation</a>
     */
    public com.squareup.okhttp.Call getCampaignAsync(UUID campaignId, final ApiCallback<SpecificCampaignResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getCampaignValidateBeforeCall(campaignId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SpecificCampaignResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getCampaignDataRecord
     * @param campaignDataId UUID of a campaign data record (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Retrieve-a-campaign-data-record">Retrieve a marketing campaign data record Documentation</a>
     */
    public com.squareup.okhttp.Call getCampaignDataRecordCall(UUID campaignDataId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/electron/v1/campaign_data/{campaign_data_id}"
            .replaceAll("\\{" + "campaign_data_id" + "\\}", apiClient.escapeString(campaignDataId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getCampaignDataRecordValidateBeforeCall(UUID campaignDataId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'campaignDataId' is set
        if (campaignDataId == null) {
            throw new ApiException("Missing the required parameter 'campaignDataId' when calling getCampaignDataRecord(Async)");
        }
        

        com.squareup.okhttp.Call call = getCampaignDataRecordCall(campaignDataId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieve a marketing campaign data record
     * 
     * @param campaignDataId UUID of a campaign data record (required)
     * @return SpecificCampaignDataResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Retrieve-a-campaign-data-record">Retrieve a marketing campaign data record Documentation</a>
     */
    public SpecificCampaignDataResponse getCampaignDataRecord(UUID campaignDataId) throws ApiException {
        ApiResponse<SpecificCampaignDataResponse> resp = getCampaignDataRecordWithHttpInfo(campaignDataId);
        return resp.getData();
    }

    /**
     * Retrieve a marketing campaign data record
     * 
     * @param campaignDataId UUID of a campaign data record (required)
     * @return ApiResponse&lt;SpecificCampaignDataResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Retrieve-a-campaign-data-record">Retrieve a marketing campaign data record Documentation</a>
     */
    public ApiResponse<SpecificCampaignDataResponse> getCampaignDataRecordWithHttpInfo(UUID campaignDataId) throws ApiException {
        com.squareup.okhttp.Call call = getCampaignDataRecordValidateBeforeCall(campaignDataId, null, null);
        Type localVarReturnType = new TypeToken<SpecificCampaignDataResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieve a marketing campaign data record (asynchronously)
     * 
     * @param campaignDataId UUID of a campaign data record (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Retrieve-a-campaign-data-record">Retrieve a marketing campaign data record Documentation</a>
     */
    public com.squareup.okhttp.Call getCampaignDataRecordAsync(UUID campaignDataId, final ApiCallback<SpecificCampaignDataResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getCampaignDataRecordValidateBeforeCall(campaignDataId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SpecificCampaignDataResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getCampaignDataRecords
     * @param page Page number for the page that should be returned as the starting page. For example, if this is specified as 0, then the first page of the results will be the shown, if it is set as 3 then the third page of the results will be shown, and so on. The default is 0 (optional, default to 0)
     * @param size The number or records to be included per page. The default is 25. There is no max value. (optional, default to 25)
     * @param orderBy The field in the response body to order the list by. Default is update_date. (optional, default to update_date)
     * @param ascending If true, order the results in ascending order. For an alphabetical result this would be A-Z. If false, order the results in descending order. For an alphabetical result this would be Z-A. Default is false which would order by descending. (optional, default to false)
     * @param filter Every field within an object using the GET method can be filtered except for fields stored under metadata. Filtering is especially useful for calls that return many different fields. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#List-all-campaign-data-records">List all marketing campaign data records Documentation</a>
     */
    public com.squareup.okhttp.Call getCampaignDataRecordsCall(Integer page, Integer size, String orderBy, Boolean ascending, String filter, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/electron/v1/campaign_data";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
        if (size != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
        if (orderBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("order_by", orderBy));
        if (ascending != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("ascending", ascending));
        if (filter != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("filter", filter));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getCampaignDataRecordsValidateBeforeCall(Integer page, Integer size, String orderBy, Boolean ascending, String filter, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = getCampaignDataRecordsCall(page, size, orderBy, ascending, filter, progressListener, progressRequestListener);
        return call;

    }

    /**
     * List all marketing campaign data records
     * 
     * @param page Page number for the page that should be returned as the starting page. For example, if this is specified as 0, then the first page of the results will be the shown, if it is set as 3 then the third page of the results will be shown, and so on. The default is 0 (optional, default to 0)
     * @param size The number or records to be included per page. The default is 25. There is no max value. (optional, default to 25)
     * @param orderBy The field in the response body to order the list by. Default is update_date. (optional, default to update_date)
     * @param ascending If true, order the results in ascending order. For an alphabetical result this would be A-Z. If false, order the results in descending order. For an alphabetical result this would be Z-A. Default is false which would order by descending. (optional, default to false)
     * @param filter Every field within an object using the GET method can be filtered except for fields stored under metadata. Filtering is especially useful for calls that return many different fields. (optional)
     * @return GetCampaignDataResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#List-all-campaign-data-records">List all marketing campaign data records Documentation</a>
     */
    public GetCampaignDataResponse getCampaignDataRecords(Integer page, Integer size, String orderBy, Boolean ascending, String filter) throws ApiException {
        ApiResponse<GetCampaignDataResponse> resp = getCampaignDataRecordsWithHttpInfo(page, size, orderBy, ascending, filter);
        return resp.getData();
    }

    /**
     * List all marketing campaign data records
     * 
     * @param page Page number for the page that should be returned as the starting page. For example, if this is specified as 0, then the first page of the results will be the shown, if it is set as 3 then the third page of the results will be shown, and so on. The default is 0 (optional, default to 0)
     * @param size The number or records to be included per page. The default is 25. There is no max value. (optional, default to 25)
     * @param orderBy The field in the response body to order the list by. Default is update_date. (optional, default to update_date)
     * @param ascending If true, order the results in ascending order. For an alphabetical result this would be A-Z. If false, order the results in descending order. For an alphabetical result this would be Z-A. Default is false which would order by descending. (optional, default to false)
     * @param filter Every field within an object using the GET method can be filtered except for fields stored under metadata. Filtering is especially useful for calls that return many different fields. (optional)
     * @return ApiResponse&lt;GetCampaignDataResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#List-all-campaign-data-records">List all marketing campaign data records Documentation</a>
     */
    public ApiResponse<GetCampaignDataResponse> getCampaignDataRecordsWithHttpInfo(Integer page, Integer size, String orderBy, Boolean ascending, String filter) throws ApiException {
        com.squareup.okhttp.Call call = getCampaignDataRecordsValidateBeforeCall(page, size, orderBy, ascending, filter, null, null);
        Type localVarReturnType = new TypeToken<GetCampaignDataResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * List all marketing campaign data records (asynchronously)
     * 
     * @param page Page number for the page that should be returned as the starting page. For example, if this is specified as 0, then the first page of the results will be the shown, if it is set as 3 then the third page of the results will be shown, and so on. The default is 0 (optional, default to 0)
     * @param size The number or records to be included per page. The default is 25. There is no max value. (optional, default to 25)
     * @param orderBy The field in the response body to order the list by. Default is update_date. (optional, default to update_date)
     * @param ascending If true, order the results in ascending order. For an alphabetical result this would be A-Z. If false, order the results in descending order. For an alphabetical result this would be Z-A. Default is false which would order by descending. (optional, default to false)
     * @param filter Every field within an object using the GET method can be filtered except for fields stored under metadata. Filtering is especially useful for calls that return many different fields. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#List-all-campaign-data-records">List all marketing campaign data records Documentation</a>
     */
    public com.squareup.okhttp.Call getCampaignDataRecordsAsync(Integer page, Integer size, String orderBy, Boolean ascending, String filter, final ApiCallback<GetCampaignDataResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getCampaignDataRecordsValidateBeforeCall(page, size, orderBy, ascending, filter, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<GetCampaignDataResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getCampaignPlan
     * @param campaignPlanId UUID of a campaign plan (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/electron/v1/#Retrieve-a-campaign-plan">Retrieve a marketing campaign plan Documentation</a>
     */
    public com.squareup.okhttp.Call getCampaignPlanCall(UUID campaignPlanId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/electron/v1/campaign_plan/{campaign_plan_id}"
            .replaceAll("\\{" + "campaign_plan_id" + "\\}", apiClient.escapeString(campaignPlanId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
[...]
