=begin
#Hydrogen Electron API

#The Hydrogen Electron API

OpenAPI spec version: 1.3.1
Contact: info@hydrogenplatform.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.24

=end

require 'uri'

module ElectronApi
  class ACHApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Fund card
    # @param ach_card_request_co achCardRequestCO
    # @param [Hash] opts the optional parameters
    # @return [AchCardResponseVO]
    def fund_card_using_post(ach_card_request_co, opts = {})
      data, _status_code, _headers = fund_card_using_post_with_http_info(ach_card_request_co, opts)
      data
    end

    # Fund card
    # @param ach_card_request_co achCardRequestCO
    # @param [Hash] opts the optional parameters
    # @return [Array<(AchCardResponseVO, Fixnum, Hash)>] AchCardResponseVO data, response status code and response headers
    def fund_card_using_post_with_http_info(ach_card_request_co, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ACHApi.fund_card_using_post ...'
      end
      # verify the required parameter 'ach_card_request_co' is set
      if @api_client.config.client_side_validation && ach_card_request_co.nil?
        fail ArgumentError, "Missing the required parameter 'ach_card_request_co' when calling ACHApi.fund_card_using_post"
      end
      # resource path
      local_var_path = '/ach/card'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(ach_card_request_co)
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AchCardResponseVO')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ACHApi#fund_card_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
