=begin
#Molecule API Documentation

#The Hydrogen Molecule API

OpenAPI spec version: 1.3.0
Contact: info@hydrogenplatform.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.14

=end

require 'uri'

module MoleculeApi
  class CurrencyApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new Currency
    # @param currency_params It enables a user to create a Currency
    # @param [Hash] opts the optional parameters
    # @return [CurrencyResponse]
    def create_currency_using_post(currency_params, opts = {})
      data, _status_code, _headers = create_currency_using_post_with_http_info(currency_params, opts)
      data
    end

    # Creates a new Currency
    # @param currency_params It enables a user to create a Currency
    # @param [Hash] opts the optional parameters
    # @return [Array<(CurrencyResponse, Fixnum, Hash)>] CurrencyResponse data, response status code and response headers
    def create_currency_using_post_with_http_info(currency_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurrencyApi.create_currency_using_post ...'
      end
      # verify the required parameter 'currency_params' is set
      if @api_client.config.client_side_validation && currency_params.nil?
        fail ArgumentError, "Missing the required parameter 'currency_params' when calling CurrencyApi.create_currency_using_post"
      end
      # resource path
      local_var_path = '/currency'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(currency_params)
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CurrencyResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurrencyApi#create_currency_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Fetch Currency list
    # @param [Hash] opts the optional parameters
    # @option opts [String] :symbol To filter response Currency list by Symbol name
    # @option opts [BOOLEAN] :is_allowed To filter response Currency list
    # @option opts [Integer] :page To filter response Currency list by page number
    # @option opts [Integer] :size Number of records per page
    # @option opts [String] :order_by Field to sort record list
    # @option opts [BOOLEAN] :ascending Sorting order
    # @option opts [BOOLEAN] :get_latest To fetch latest (one) record
    # @return [PageCurrencyResponse]
    def get_currency_all_using_get(opts = {})
      data, _status_code, _headers = get_currency_all_using_get_with_http_info(opts)
      data
    end

    # Fetch Currency list
    # @param [Hash] opts the optional parameters
    # @option opts [String] :symbol To filter response Currency list by Symbol name
    # @option opts [BOOLEAN] :is_allowed To filter response Currency list
    # @option opts [Integer] :page To filter response Currency list by page number
    # @option opts [Integer] :size Number of records per page
    # @option opts [String] :order_by Field to sort record list
    # @option opts [BOOLEAN] :ascending Sorting order
    # @option opts [BOOLEAN] :get_latest To fetch latest (one) record
    # @return [Array<(PageCurrencyResponse, Fixnum, Hash)>] PageCurrencyResponse data, response status code and response headers
    def get_currency_all_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurrencyApi.get_currency_all_using_get ...'
      end
      # resource path
      local_var_path = '/currency'

      # query parameters
      query_params = {}
      query_params[:'symbol'] = opts[:'symbol'] if !opts[:'symbol'].nil?
      query_params[:'is_allowed'] = opts[:'is_allowed'] if !opts[:'is_allowed'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'order_by'] = opts[:'order_by'] if !opts[:'order_by'].nil?
      query_params[:'ascending'] = opts[:'ascending'] if !opts[:'ascending'].nil?
      query_params[:'get_latest'] = opts[:'get_latest'] if !opts[:'get_latest'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageCurrencyResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurrencyApi#get_currency_all_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Fetch Currency details
    # @param currency_id Currency ID
    # @param [Hash] opts the optional parameters
    # @return [CurrencyResponse]
    def get_currency_using_get(currency_id, opts = {})
      data, _status_code, _headers = get_currency_using_get_with_http_info(currency_id, opts)
      data
    end

    # Fetch Currency details
    # @param currency_id Currency ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CurrencyResponse, Fixnum, Hash)>] CurrencyResponse data, response status code and response headers
    def get_currency_using_get_with_http_info(currency_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurrencyApi.get_currency_using_get ...'
      end
      # verify the required parameter 'currency_id' is set
      if @api_client.config.client_side_validation && currency_id.nil?
        fail ArgumentError, "Missing the required parameter 'currency_id' when calling CurrencyApi.get_currency_using_get"
      end
      # resource path
      local_var_path = '/currency/{currency_id}'.sub('{' + 'currency_id' + '}', currency_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CurrencyResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurrencyApi#get_currency_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update Currency details
    # @param currency_id Currency ID
    # @param [Hash] opts the optional parameters
    # @option opts [CurrencyUpdateParams] :currency_update_params Currency details to be updated
    # @return [CurrencyResponse]
    def update_currency_using_put(currency_id, opts = {})
      data, _status_code, _headers = update_currency_using_put_with_http_info(currency_id, opts)
      data
    end

    # Update Currency details
    # @param currency_id Currency ID
    # @param [Hash] opts the optional parameters
    # @option opts [CurrencyUpdateParams] :currency_update_params Currency details to be updated
    # @return [Array<(CurrencyResponse, Fixnum, Hash)>] CurrencyResponse data, response status code and response headers
    def update_currency_using_put_with_http_info(currency_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurrencyApi.update_currency_using_put ...'
      end
      # verify the required parameter 'currency_id' is set
      if @api_client.config.client_side_validation && currency_id.nil?
        fail ArgumentError, "Missing the required parameter 'currency_id' when calling CurrencyApi.update_currency_using_put"
      end
      # resource path
      local_var_path = '/currency/{currency_id}'.sub('{' + 'currency_id' + '}', currency_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'currency_update_params'])
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CurrencyResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurrencyApi#update_currency_using_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
