=begin
#Molecule API Documentation

#The Hydrogen Molecule API

OpenAPI spec version: 1.3.0
Contact: info@hydrogenplatform.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.14

=end

require 'uri'

module MoleculeApi
  class TokenBalanceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Fetch Token Balance list
    # @param [Hash] opts the optional parameters
    # @option opts [String] :wallet_id To filter response Token Balance list by wallet ID
    # @option opts [String] :token_id To filter response Token Balance list by Token ID
    # @option opts [Integer] :page To filter response Token Balance list by page number
    # @option opts [Integer] :size Number of records per page
    # @option opts [String] :order_by Field to sort record list
    # @option opts [BOOLEAN] :ascending Sorting order
    # @option opts [BOOLEAN] :get_latest To fetch latest (one) record
    # @return [PageTokenBalanceResponse]
    def get_token_balance_all_using_get(opts = {})
      data, _status_code, _headers = get_token_balance_all_using_get_with_http_info(opts)
      data
    end

    # Fetch Token Balance list
    # @param [Hash] opts the optional parameters
    # @option opts [String] :wallet_id To filter response Token Balance list by wallet ID
    # @option opts [String] :token_id To filter response Token Balance list by Token ID
    # @option opts [Integer] :page To filter response Token Balance list by page number
    # @option opts [Integer] :size Number of records per page
    # @option opts [String] :order_by Field to sort record list
    # @option opts [BOOLEAN] :ascending Sorting order
    # @option opts [BOOLEAN] :get_latest To fetch latest (one) record
    # @return [Array<(PageTokenBalanceResponse, Fixnum, Hash)>] PageTokenBalanceResponse data, response status code and response headers
    def get_token_balance_all_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TokenBalanceApi.get_token_balance_all_using_get ...'
      end
      # resource path
      local_var_path = '/token_balance'

      # query parameters
      query_params = {}
      query_params[:'wallet_id'] = opts[:'wallet_id'] if !opts[:'wallet_id'].nil?
      query_params[:'token_id'] = opts[:'token_id'] if !opts[:'token_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'order_by'] = opts[:'order_by'] if !opts[:'order_by'].nil?
      query_params[:'ascending'] = opts[:'ascending'] if !opts[:'ascending'].nil?
      query_params[:'get_latest'] = opts[:'get_latest'] if !opts[:'get_latest'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageTokenBalanceResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TokenBalanceApi#get_token_balance_all_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Fetch Token Balance details
    # @param token_balance_id Token Balance ID
    # @param [Hash] opts the optional parameters
    # @return [TokenBalanceResponse]
    def get_token_balance_using_get(token_balance_id, opts = {})
      data, _status_code, _headers = get_token_balance_using_get_with_http_info(token_balance_id, opts)
      data
    end

    # Fetch Token Balance details
    # @param token_balance_id Token Balance ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(TokenBalanceResponse, Fixnum, Hash)>] TokenBalanceResponse data, response status code and response headers
    def get_token_balance_using_get_with_http_info(token_balance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TokenBalanceApi.get_token_balance_using_get ...'
      end
      # verify the required parameter 'token_balance_id' is set
      if @api_client.config.client_side_validation && token_balance_id.nil?
        fail ArgumentError, "Missing the required parameter 'token_balance_id' when calling TokenBalanceApi.get_token_balance_using_get"
      end
      # resource path
      local_var_path = '/token_balance/{token_balance_id}'.sub('{' + 'token_balance_id' + '}', token_balance_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TokenBalanceResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TokenBalanceApi#get_token_balance_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
