=begin
#Molecule API Documentation

#The Hydrogen Molecule API

OpenAPI spec version: 1.3.0
Contact: info@hydrogenplatform.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.14

=end

require 'uri'

module MoleculeApi
  class TokenSupplyApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Fetch Token Supply record list
    # @param [Hash] opts the optional parameters
    # @option opts [String] :token_id To filter response Token Supply list by Token ID
    # @option opts [Integer] :page To filter response Token Supply list by page number
    # @option opts [Integer] :size Number of records per page
    # @option opts [String] :order_by Field to sort record list
    # @option opts [BOOLEAN] :ascending Sorting order
    # @option opts [BOOLEAN] :get_latest To fetch latest (one) record
    # @return [PageTokenSupplyResponse]
    def get_token_supply_all_using_get(opts = {})
      data, _status_code, _headers = get_token_supply_all_using_get_with_http_info(opts)
      data
    end

    # Fetch Token Supply record list
    # @param [Hash] opts the optional parameters
    # @option opts [String] :token_id To filter response Token Supply list by Token ID
    # @option opts [Integer] :page To filter response Token Supply list by page number
    # @option opts [Integer] :size Number of records per page
    # @option opts [String] :order_by Field to sort record list
    # @option opts [BOOLEAN] :ascending Sorting order
    # @option opts [BOOLEAN] :get_latest To fetch latest (one) record
    # @return [Array<(PageTokenSupplyResponse, Fixnum, Hash)>] PageTokenSupplyResponse data, response status code and response headers
    def get_token_supply_all_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TokenSupplyApi.get_token_supply_all_using_get ...'
      end
      # resource path
      local_var_path = '/token_supply'

      # query parameters
      query_params = {}
      query_params[:'token_id'] = opts[:'token_id'] if !opts[:'token_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'order_by'] = opts[:'order_by'] if !opts[:'order_by'].nil?
      query_params[:'ascending'] = opts[:'ascending'] if !opts[:'ascending'].nil?
      query_params[:'get_latest'] = opts[:'get_latest'] if !opts[:'get_latest'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageTokenSupplyResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TokenSupplyApi#get_token_supply_all_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Fetch Token Supply details
    # @param token_supply_id Token Supply ID
    # @param [Hash] opts the optional parameters
    # @return [TokenSupplyResponse]
    def get_token_supply_using_get(token_supply_id, opts = {})
      data, _status_code, _headers = get_token_supply_using_get_with_http_info(token_supply_id, opts)
      data
    end

    # Fetch Token Supply details
    # @param token_supply_id Token Supply ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(TokenSupplyResponse, Fixnum, Hash)>] TokenSupplyResponse data, response status code and response headers
    def get_token_supply_using_get_with_http_info(token_supply_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TokenSupplyApi.get_token_supply_using_get ...'
      end
      # verify the required parameter 'token_supply_id' is set
      if @api_client.config.client_side_validation && token_supply_id.nil?
        fail ArgumentError, "Missing the required parameter 'token_supply_id' when calling TokenSupplyApi.get_token_supply_using_get"
      end
      # resource path
      local_var_path = '/token_supply/{token_supply_id}'.sub('{' + 'token_supply_id' + '}', token_supply_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TokenSupplyResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TokenSupplyApi#get_token_supply_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
