=begin
#Molecule API Documentation

#The Hydrogen Molecule API

OpenAPI spec version: 1.3.0
Contact: info@hydrogenplatform.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.14

=end

require 'uri'

module MoleculeApi
  class WalletApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new Wallet
    # @param wallet_params It enables a user to create a Wallet
    # @param [Hash] opts the optional parameters
    # @return [WalletResponse]
    def create_wallet_using_post(wallet_params, opts = {})
      data, _status_code, _headers = create_wallet_using_post_with_http_info(wallet_params, opts)
      data
    end

    # Creates a new Wallet
    # @param wallet_params It enables a user to create a Wallet
    # @param [Hash] opts the optional parameters
    # @return [Array<(WalletResponse, Fixnum, Hash)>] WalletResponse data, response status code and response headers
    def create_wallet_using_post_with_http_info(wallet_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalletApi.create_wallet_using_post ...'
      end
      # verify the required parameter 'wallet_params' is set
      if @api_client.config.client_side_validation && wallet_params.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_params' when calling WalletApi.create_wallet_using_post"
      end
      # resource path
      local_var_path = '/wallet'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(wallet_params)
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'WalletResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalletApi#create_wallet_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Fetch Wallet list
    # @param [Hash] opts the optional parameters
    # @option opts [String] :nucleus_client_id To filter response wallet list by client&#39;s ID
    # @option opts [BOOLEAN] :is_primary To filter response for primary wallets
    # @option opts [Integer] :page To filter response wallet list by page number
    # @option opts [Integer] :size Number of records per page
    # @option opts [String] :order_by Field to sort record list
    # @option opts [BOOLEAN] :ascending Sorting order
    # @option opts [BOOLEAN] :get_latest To fetch latest (one) record
    # @return [PageWalletResponse]
    def get_wallet_all_using_get(opts = {})
      data, _status_code, _headers = get_wallet_all_using_get_with_http_info(opts)
      data
    end

    # Fetch Wallet list
    # @param [Hash] opts the optional parameters
    # @option opts [String] :nucleus_client_id To filter response wallet list by client&#39;s ID
    # @option opts [BOOLEAN] :is_primary To filter response for primary wallets
    # @option opts [Integer] :page To filter response wallet list by page number
    # @option opts [Integer] :size Number of records per page
    # @option opts [String] :order_by Field to sort record list
    # @option opts [BOOLEAN] :ascending Sorting order
    # @option opts [BOOLEAN] :get_latest To fetch latest (one) record
    # @return [Array<(PageWalletResponse, Fixnum, Hash)>] PageWalletResponse data, response status code and response headers
    def get_wallet_all_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalletApi.get_wallet_all_using_get ...'
      end
      # resource path
      local_var_path = '/wallet'

      # query parameters
      query_params = {}
      query_params[:'nucleus_client_id'] = opts[:'nucleus_client_id'] if !opts[:'nucleus_client_id'].nil?
      query_params[:'is_primary'] = opts[:'is_primary'] if !opts[:'is_primary'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'order_by'] = opts[:'order_by'] if !opts[:'order_by'].nil?
      query_params[:'ascending'] = opts[:'ascending'] if !opts[:'ascending'].nil?
      query_params[:'get_latest'] = opts[:'get_latest'] if !opts[:'get_latest'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageWalletResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalletApi#get_wallet_all_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Fetch Wallet details by Wallet Key ID
    # @param wallet_key_id Wallet Key ID
    # @param [Hash] opts the optional parameters
    # @return [WalletResponse]
    def get_wallet_by_wallet_key_using_get(wallet_key_id, opts = {})
      data, _status_code, _headers = get_wallet_by_wallet_key_using_get_with_http_info(wallet_key_id, opts)
      data
    end

    # Fetch Wallet details by Wallet Key ID
    # @param wallet_key_id Wallet Key ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(WalletResponse, Fixnum, Hash)>] WalletResponse data, response status code and response headers
    def get_wallet_by_wallet_key_using_get_with_http_info(wallet_key_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalletApi.get_wallet_by_wallet_key_using_get ...'
      end
      # verify the required parameter 'wallet_key_id' is set
      if @api_client.config.client_side_validation && wallet_key_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_key_id' when calling WalletApi.get_wallet_by_wallet_key_using_get"
      end
      # resource path
      local_var_path = '/wallet/wallet_key/{wallet_key_id}'.sub('{' + 'wallet_key_id' + '}', wallet_key_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'WalletResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalletApi#get_wallet_by_wallet_key_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Fetch Wallet details
    # @param wallet_id Wallet ID
    # @param [Hash] opts the optional parameters
    # @return [WalletResponse]
    def get_wallet_using_get(wallet_id, opts = {})
      data, _status_code, _headers = get_wallet_using_get_with_http_info(wallet_id, opts)
      data
    end

    # Fetch Wallet details
    # @param wallet_id Wallet ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(WalletResponse, Fixnum, Hash)>] WalletResponse data, response status code and response headers
    def get_wallet_using_get_with_http_info(wallet_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalletApi.get_wallet_using_get ...'
      end
      # verify the required parameter 'wallet_id' is set
      if @api_client.config.client_side_validation && wallet_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_id' when calling WalletApi.get_wallet_using_get"
      end
      # resource path
      local_var_path = '/wallet/{wallet_id}'.sub('{' + 'wallet_id' + '}', wallet_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'WalletResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalletApi#get_wallet_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update Wallet details
    # @param wallet_id Wallet ID
    # @param [Hash] opts the optional parameters
    # @option opts [WalletParams] :wallet_update_params Wallet details to be updated
    # @return [WalletResponse]
    def update_wallet_using_put(wallet_id, opts = {})
      data, _status_code, _headers = update_wallet_using_put_with_http_info(wallet_id, opts)
      data
    end

    # Update Wallet details
    # @param wallet_id Wallet ID
    # @param [Hash] opts the optional parameters
    # @option opts [WalletParams] :wallet_update_params Wallet details to be updated
    # @return [Array<(WalletResponse, Fixnum, Hash)>] WalletResponse data, response status code and response headers
    def update_wallet_using_put_with_http_info(wallet_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalletApi.update_wallet_using_put ...'
      end
      # verify the required parameter 'wallet_id' is set
      if @api_client.config.client_side_validation && wallet_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_id' when calling WalletApi.update_wallet_using_put"
      end
      # resource path
      local_var_path = '/wallet/{wallet_id}'.sub('{' + 'wallet_id' + '}', wallet_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'wallet_update_params'])
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'WalletResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalletApi#update_wallet_using_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
