=begin
#Molecule API Documentation

#The Hydrogen Molecule API

OpenAPI spec version: 1.3.0
Contact: info@hydrogenplatform.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.14

=end

require 'uri'

module MoleculeApi
  class WalletPermissionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Fetch Wallet list with client's permissions
    # @param [Hash] opts the optional parameters
    # @option opts [String] :nucleus_client_id To filter response wallet list by client&#39;s ID
    # @option opts [BOOLEAN] :is_active To filter response for active wallets
    # @option opts [Integer] :page To filter response wallet list page number
    # @option opts [Integer] :size Number of records per page
    # @option opts [String] :order_by Field to sort record list
    # @option opts [BOOLEAN] :ascending Sorting order
    # @option opts [BOOLEAN] :get_latest To fetch latest (one) record
    # @return [PageWalletPermissionResponse]
    def get_wallet_permission_all_using_get(opts = {})
      data, _status_code, _headers = get_wallet_permission_all_using_get_with_http_info(opts)
      data
    end

    # Fetch Wallet list with client&#39;s permissions
    # @param [Hash] opts the optional parameters
    # @option opts [String] :nucleus_client_id To filter response wallet list by client&#39;s ID
    # @option opts [BOOLEAN] :is_active To filter response for active wallets
    # @option opts [Integer] :page To filter response wallet list page number
    # @option opts [Integer] :size Number of records per page
    # @option opts [String] :order_by Field to sort record list
    # @option opts [BOOLEAN] :ascending Sorting order
    # @option opts [BOOLEAN] :get_latest To fetch latest (one) record
    # @return [Array<(PageWalletPermissionResponse, Fixnum, Hash)>] PageWalletPermissionResponse data, response status code and response headers
    def get_wallet_permission_all_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalletPermissionApi.get_wallet_permission_all_using_get ...'
      end
      # resource path
      local_var_path = '/wallet_permission'

      # query parameters
      query_params = {}
      query_params[:'nucleus_client_id'] = opts[:'nucleus_client_id'] if !opts[:'nucleus_client_id'].nil?
      query_params[:'is_active'] = opts[:'is_active'] if !opts[:'is_active'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'order_by'] = opts[:'order_by'] if !opts[:'order_by'].nil?
      query_params[:'ascending'] = opts[:'ascending'] if !opts[:'ascending'].nil?
      query_params[:'get_latest'] = opts[:'get_latest'] if !opts[:'get_latest'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageWalletPermissionResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalletPermissionApi#get_wallet_permission_all_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Fetch Wallet's client permissions details
    # @param wallet_id Wallet ID
    # @param [Hash] opts the optional parameters
    # @return [WalletPermissionResponse]
    def get_wallet_permission_using_get(wallet_id, opts = {})
      data, _status_code, _headers = get_wallet_permission_using_get_with_http_info(wallet_id, opts)
      data
    end

    # Fetch Wallet&#39;s client permissions details
    # @param wallet_id Wallet ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(WalletPermissionResponse, Fixnum, Hash)>] WalletPermissionResponse data, response status code and response headers
    def get_wallet_permission_using_get_with_http_info(wallet_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalletPermissionApi.get_wallet_permission_using_get ...'
      end
      # verify the required parameter 'wallet_id' is set
      if @api_client.config.client_side_validation && wallet_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_id' when calling WalletPermissionApi.get_wallet_permission_using_get"
      end
      # resource path
      local_var_path = '/wallet_permission/{wallet_id}'.sub('{' + 'wallet_id' + '}', wallet_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'WalletPermissionResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalletPermissionApi#get_wallet_permission_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update client's permission for provided Wallet
    # @param wallet_id Wallet ID
    # @param client_permissions Client&#39;s permission to be updated
    # @param [Hash] opts the optional parameters
    # @return [WalletPermissionResponse]
    def update_wallet_permission_using_put(wallet_id, client_permissions, opts = {})
      data, _status_code, _headers = update_wallet_permission_using_put_with_http_info(wallet_id, client_permissions, opts)
      data
    end

    # Update client&#39;s permission for provided Wallet
    # @param wallet_id Wallet ID
    # @param client_permissions Client&#39;s permission to be updated
    # @param [Hash] opts the optional parameters
    # @return [Array<(WalletPermissionResponse, Fixnum, Hash)>] WalletPermissionResponse data, response status code and response headers
    def update_wallet_permission_using_put_with_http_info(wallet_id, client_permissions, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalletPermissionApi.update_wallet_permission_using_put ...'
      end
      # verify the required parameter 'wallet_id' is set
      if @api_client.config.client_side_validation && wallet_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_id' when calling WalletPermissionApi.update_wallet_permission_using_put"
      end
      # verify the required parameter 'client_permissions' is set
      if @api_client.config.client_side_validation && client_permissions.nil?
        fail ArgumentError, "Missing the required parameter 'client_permissions' when calling WalletPermissionApi.update_wallet_permission_using_put"
      end
      # resource path
      local_var_path = '/wallet_permission/{wallet_id}'.sub('{' + 'wallet_id' + '}', wallet_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(client_permissions)
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'WalletPermissionResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalletPermissionApi#update_wallet_permission_using_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
