=begin
#Molecule API Documentation

#The Hydrogen Molecule API

OpenAPI spec version: 1.3.0
Contact: info@hydrogenplatform.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.14

=end

require 'uri'

module MoleculeApi
  class WalletKeyApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new Wallet Key for provided Wallet ID
    # @param wallet_key_params It enables a user to create a Wallet Key record
    # @param [Hash] opts the optional parameters
    # @return [WalletKeyResponse]
    def create_wallet_key_using_post(wallet_key_params, opts = {})
      data, _status_code, _headers = create_wallet_key_using_post_with_http_info(wallet_key_params, opts)
      data
    end

    # Creates a new Wallet Key for provided Wallet ID
    # @param wallet_key_params It enables a user to create a Wallet Key record
    # @param [Hash] opts the optional parameters
    # @return [Array<(WalletKeyResponse, Fixnum, Hash)>] WalletKeyResponse data, response status code and response headers
    def create_wallet_key_using_post_with_http_info(wallet_key_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalletKeyApi.create_wallet_key_using_post ...'
      end
      # verify the required parameter 'wallet_key_params' is set
      if @api_client.config.client_side_validation && wallet_key_params.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_key_params' when calling WalletKeyApi.create_wallet_key_using_post"
      end
      # resource path
      local_var_path = '/wallet_key'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(wallet_key_params)
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'WalletKeyResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalletKeyApi#create_wallet_key_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Generates Wallet Key for provided Wallet ID
    # @param wallet_key_generate_params It enables a user to generate a Wallet Key record
    # @param [Hash] opts the optional parameters
    # @return [WalletKeyResponse]
    def generate_wallet_key_using_post(wallet_key_generate_params, opts = {})
      data, _status_code, _headers = generate_wallet_key_using_post_with_http_info(wallet_key_generate_params, opts)
      data
    end

    # Generates Wallet Key for provided Wallet ID
    # @param wallet_key_generate_params It enables a user to generate a Wallet Key record
    # @param [Hash] opts the optional parameters
    # @return [Array<(WalletKeyResponse, Fixnum, Hash)>] WalletKeyResponse data, response status code and response headers
    def generate_wallet_key_using_post_with_http_info(wallet_key_generate_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalletKeyApi.generate_wallet_key_using_post ...'
      end
      # verify the required parameter 'wallet_key_generate_params' is set
      if @api_client.config.client_side_validation && wallet_key_generate_params.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_key_generate_params' when calling WalletKeyApi.generate_wallet_key_using_post"
      end
      # resource path
      local_var_path = '/wallet_key/generator'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(wallet_key_generate_params)
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'WalletKeyResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalletKeyApi#generate_wallet_key_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Fetch Wallet Key list
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page To filter response wallet list page number
    # @option opts [Integer] :size Number of records per page
    # @option opts [String] :order_by Field to sort record list
    # @option opts [BOOLEAN] :ascending Sorting order
    # @option opts [BOOLEAN] :get_latest To fetch latest (one) record
    # @return [PageWalletKeyResponse]
    def get_wallet_key_all_using_get(opts = {})
      data, _status_code, _headers = get_wallet_key_all_using_get_with_http_info(opts)
      data
    end

    # Fetch Wallet Key list
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page To filter response wallet list page number
    # @option opts [Integer] :size Number of records per page
    # @option opts [String] :order_by Field to sort record list
    # @option opts [BOOLEAN] :ascending Sorting order
    # @option opts [BOOLEAN] :get_latest To fetch latest (one) record
    # @return [Array<(PageWalletKeyResponse, Fixnum, Hash)>] PageWalletKeyResponse data, response status code and response headers
    def get_wallet_key_all_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalletKeyApi.get_wallet_key_all_using_get ...'
      end
      # resource path
      local_var_path = '/wallet_key'

      # query parameters
      query_params = {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'order_by'] = opts[:'order_by'] if !opts[:'order_by'].nil?
      query_params[:'ascending'] = opts[:'ascending'] if !opts[:'ascending'].nil?
      query_params[:'get_latest'] = opts[:'get_latest'] if !opts[:'get_latest'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageWalletKeyResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalletKeyApi#get_wallet_key_all_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Fetch Wallet Key details
    # @param wallet_key_id Wallet Key ID
    # @param [Hash] opts the optional parameters
    # @return [WalletKeyResponse]
    def get_wallet_key_using_get(wallet_key_id, opts = {})
      data, _status_code, _headers = get_wallet_key_using_get_with_http_info(wallet_key_id, opts)
      data
    end

    # Fetch Wallet Key details
    # @param wallet_key_id Wallet Key ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(WalletKeyResponse, Fixnum, Hash)>] WalletKeyResponse data, response status code and response headers
    def get_wallet_key_using_get_with_http_info(wallet_key_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalletKeyApi.get_wallet_key_using_get ...'
      end
      # verify the required parameter 'wallet_key_id' is set
      if @api_client.config.client_side_validation && wallet_key_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_key_id' when calling WalletKeyApi.get_wallet_key_using_get"
      end
      # resource path
      local_var_path = '/wallet_key/{wallet_key_id}'.sub('{' + 'wallet_key_id' + '}', wallet_key_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'WalletKeyResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalletKeyApi#get_wallet_key_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
