=begin
#Hydrogen Atom API

#The Hydrogen Atom API

OpenAPI spec version: 1.7.0
Contact: info@hydrogenplatform.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.14

=end

require 'uri'

module AtomApi
  class AccountingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an accounting
    # Store stats pulled from accounting vendors.
    # @param accounting accounting
    # @param [Hash] opts the optional parameters
    # @return [Accounting]
    def create_accounting_using_post(accounting, opts = {})
      data, _status_code, _headers = create_accounting_using_post_with_http_info(accounting, opts)
      data
    end

    # Create an accounting
    # Store stats pulled from accounting vendors.
    # @param accounting accounting
    # @param [Hash] opts the optional parameters
    # @return [Array<(Accounting, Fixnum, Hash)>] Accounting data, response status code and response headers
    def create_accounting_using_post_with_http_info(accounting, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountingApi.create_accounting_using_post ...'
      end
      # verify the required parameter 'accounting' is set
      if @api_client.config.client_side_validation && accounting.nil?
        fail ArgumentError, "Missing the required parameter 'accounting' when calling AccountingApi.create_accounting_using_post"
      end
      # resource path
      local_var_path = '/accounting'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(accounting)
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Accounting')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountingApi#create_accounting_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an accounting
    # Permanently delete an accounting.
    # @param accounting_id UUID accounting_id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_accounting_using_delete(accounting_id, opts = {})
      delete_accounting_using_delete_with_http_info(accounting_id, opts)
      nil
    end

    # Delete an accounting
    # Permanently delete an accounting.
    # @param accounting_id UUID accounting_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_accounting_using_delete_with_http_info(accounting_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountingApi.delete_accounting_using_delete ...'
      end
      # verify the required parameter 'accounting_id' is set
      if @api_client.config.client_side_validation && accounting_id.nil?
        fail ArgumentError, "Missing the required parameter 'accounting_id' when calling AccountingApi.delete_accounting_using_delete"
      end
      # resource path
      local_var_path = '/accounting/{accounting_id}'.sub('{' + 'accounting_id' + '}', accounting_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountingApi#delete_accounting_using_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List all accounting
    # Get information for all accounting for all clients defined for your firm.
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :ascending ascending (default to false)
    # @option opts [String] :filter filter
    # @option opts [String] :order_by order_by (default to update_date)
    # @option opts [Integer] :page page (default to 0)
    # @option opts [Integer] :size size (default to 25)
    # @return [PageAccounting]
    def get_accounting_all_using_get(opts = {})
      data, _status_code, _headers = get_accounting_all_using_get_with_http_info(opts)
      data
    end

    # List all accounting
    # Get information for all accounting for all clients defined for your firm.
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :ascending ascending
    # @option opts [String] :filter filter
    # @option opts [String] :order_by order_by
    # @option opts [Integer] :page page
    # @option opts [Integer] :size size
    # @return [Array<(PageAccounting, Fixnum, Hash)>] PageAccounting data, response status code and response headers
    def get_accounting_all_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountingApi.get_accounting_all_using_get ...'
      end
      # resource path
      local_var_path = '/accounting'

      # query parameters
      query_params = {}
      query_params[:'ascending'] = opts[:'ascending'] if !opts[:'ascending'].nil?
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'order_by'] = opts[:'order_by'] if !opts[:'order_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageAccounting')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountingApi#get_accounting_all_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieve an accounting
    # Retrieve the information for a specific accounting associated with a client.
    # @param accounting_id UUID accounting_id
    # @param [Hash] opts the optional parameters
    # @return [Accounting]
    def get_accounting_using_get(accounting_id, opts = {})
      data, _status_code, _headers = get_accounting_using_get_with_http_info(accounting_id, opts)
      data
    end

    # Retrieve an accounting
    # Retrieve the information for a specific accounting associated with a client.
    # @param accounting_id UUID accounting_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(Accounting, Fixnum, Hash)>] Accounting data, response status code and response headers
    def get_accounting_using_get_with_http_info(accounting_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountingApi.get_accounting_using_get ...'
      end
      # verify the required parameter 'accounting_id' is set
      if @api_client.config.client_side_validation && accounting_id.nil?
        fail ArgumentError, "Missing the required parameter 'accounting_id' when calling AccountingApi.get_accounting_using_get"
      end
      # resource path
      local_var_path = '/accounting/{accounting_id}'.sub('{' + 'accounting_id' + '}', accounting_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Accounting')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountingApi#get_accounting_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update an accounting
    # Update the information for an accounting.
    # @param accounting accounting
    # @param accounting_id UUID accounting_id
    # @param [Hash] opts the optional parameters
    # @return [Accounting]
    def update_accounting_using_put(accounting, accounting_id, opts = {})
      data, _status_code, _headers = update_accounting_using_put_with_http_info(accounting, accounting_id, opts)
      data
    end

    # Update an accounting
    # Update the information for an accounting.
    # @param accounting accounting
    # @param accounting_id UUID accounting_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(Accounting, Fixnum, Hash)>] Accounting data, response status code and response headers
    def update_accounting_using_put_with_http_info(accounting, accounting_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountingApi.update_accounting_using_put ...'
      end
      # verify the required parameter 'accounting' is set
      if @api_client.config.client_side_validation && accounting.nil?
        fail ArgumentError, "Missing the required parameter 'accounting' when calling AccountingApi.update_accounting_using_put"
      end
      # verify the required parameter 'accounting_id' is set
      if @api_client.config.client_side_validation && accounting_id.nil?
        fail ArgumentError, "Missing the required parameter 'accounting_id' when calling AccountingApi.update_accounting_using_put"
      end
      # resource path
      local_var_path = '/accounting/{accounting_id}'.sub('{' + 'accounting_id' + '}', accounting_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(accounting)
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Accounting')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountingApi#update_accounting_using_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
