# coding: utf-8

"""
    Hydrogen Atom API

    The Hydrogen Atom API  # noqa: E501

    OpenAPI spec version: 1.7.0
    Contact: info@hydrogenplatform.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from atom_api.api_client import ApiClient


class AccountingApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_accounting_using_post(self, accounting, **kwargs):  # noqa: E501
        """Create an accounting  # noqa: E501

        Store stats pulled from accounting vendors.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_accounting_using_post(accounting, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Accounting accounting: accounting (required)
        :return: Accounting
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_accounting_using_post_with_http_info(accounting, **kwargs)  # noqa: E501
        else:
            (data) = self.create_accounting_using_post_with_http_info(accounting, **kwargs)  # noqa: E501
            return data

    def create_accounting_using_post_with_http_info(self, accounting, **kwargs):  # noqa: E501
        """Create an accounting  # noqa: E501

        Store stats pulled from accounting vendors.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_accounting_using_post_with_http_info(accounting, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Accounting accounting: accounting (required)
        :return: Accounting
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['accounting']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_accounting_using_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'accounting' is set
        if ('accounting' not in params or
                params['accounting'] is None):
            raise ValueError("Missing the required parameter `accounting` when calling `create_accounting_using_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'accounting' in params:
            body_params = params['accounting']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/accounting', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Accounting',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_accounting_using_delete(self, accounting_id, **kwargs):  # noqa: E501
        """Delete an accounting  # noqa: E501

        Permanently delete an accounting.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_accounting_using_delete(accounting_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str accounting_id: UUID accounting_id (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_accounting_using_delete_with_http_info(accounting_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_accounting_using_delete_with_http_info(accounting_id, **kwargs)  # noqa: E501
            return data

    def delete_accounting_using_delete_with_http_info(self, accounting_id, **kwargs):  # noqa: E501
        """Delete an accounting  # noqa: E501

        Permanently delete an accounting.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_accounting_using_delete_with_http_info(accounting_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str accounting_id: UUID accounting_id (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['accounting_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_accounting_using_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'accounting_id' is set
        if ('accounting_id' not in params or
                params['accounting_id'] is None):
            raise ValueError("Missing the required parameter `accounting_id` when calling `delete_accounting_using_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'accounting_id' in params:
            path_params['accounting_id'] = params['accounting_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/accounting/{accounting_id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_accounting_all_using_get(self, **kwargs):  # noqa: E501
        """List all accounting  # noqa: E501

        Get information for all accounting for all clients defined for your firm.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_accounting_all_using_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param bool ascending: ascending
        :param str filter: filter
        :param str order_by: order_by
        :param int page: page
        :param int size: size
        :return: PageAccounting
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_accounting_all_using_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_accounting_all_using_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_accounting_all_using_get_with_http_info(self, **kwargs):  # noqa: E501
        """List all accounting  # noqa: E501

        Get information for all accounting for all clients defined for your firm.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_accounting_all_using_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param bool ascending: ascending
        :param str filter: filter
        :param str order_by: order_by
        :param int page: page
        :param int size: size
        :return: PageAccounting
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ascending', 'filter', 'order_by', 'page', 'size']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_accounting_all_using_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'ascending' in params:
            query_params.append(('ascending', params['ascending']))  # noqa: E501
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'order_by' in params:
            query_params.append(('order_by', params['order_by']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'size' in params:
            query_params.append(('size', params['size']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/accounting', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PageAccounting',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_accounting_using_get(self, accounting_id, **kwargs):  # noqa: E501
        """Retrieve an accounting  # noqa: E501

        Retrieve the information for a specific accounting associated with a client.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_accounting_using_get(accounting_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str accounting_id: UUID accounting_id (required)
        :return: Accounting
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_accounting_using_get_with_http_info(accounting_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_accounting_using_get_with_http_info(accounting_id, **kwargs)  # noqa: E501
            return data

    def get_accounting_using_get_with_http_info(self, accounting_id, **kwargs):  # noqa: E501
        """Retrieve an accounting  # noqa: E501

        Retrieve the information for a specific accounting associated with a client.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_accounting_using_get_with_http_info(accounting_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str accounting_id: UUID accounting_id (required)
        :return: Accounting
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['accounting_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_accounting_using_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'accounting_id' is set
        if ('accounting_id' not in params or
                params['accounting_id'] is None):
            raise ValueError("Missing the required parameter `accounting_id` when calling `get_accounting_using_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'accounting_id' in params:
            path_params['accounting_id'] = params['accounting_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/accounting/{accounting_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Accounting',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_accounting_using_put(self, accounting, accounting_id, **kwargs):  # noqa: E501
        """Update an accounting  # noqa: E501

        Update the information for an accounting.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_accounting_using_put(accounting, accounting_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Accounting accounting: accounting (required)
        :param str accounting_id: UUID accounting_id (required)
        :return: Accounting
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_accounting_using_put_with_http_info(accounting, accounting_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_accounting_using_put_with_http_info(accounting, accounting_id, **kwargs)  # noqa: E501
            return data

    def update_accounting_using_put_with_http_info(self, accounting, accounting_id, **kwargs):  # noqa: E501
        """Update an accounting  # noqa: E501

        Update the information for an accounting.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_accounting_using_put_with_http_info(accounting, accounting_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Accounting accounting: accounting (required)
        :param str accounting_id: UUID accounting_id (required)
        :return: Accounting
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['accounting', 'accounting_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_accounting_using_put" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'accounting' is set
        if ('accounting' not in params or
                params['accounting'] is None):
            raise ValueError("Missing the required parameter `accounting` when calling `update_accounting_using_put`")  # noqa: E501
        # verify the required parameter 'accounting_id' is set
        if ('accounting_id' not in params or
                params['accounting_id'] is None):
            raise ValueError("Missing the required parameter `accounting_id` when calling `update_accounting_using_put`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'accounting_id' in params:
            path_params['accounting_id'] = params['accounting_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'accounting' in params:
            body_params = params['accounting']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/accounting/{accounting_id}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Accounting',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
