=begin
#Hydrogen Nucleus API

#The Hydrogen Nucleus API

OpenAPI spec version: 1.8.0
Contact: info@hydrogenplatform.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.15

=end

require 'uri'

module NucleusApi
  class FAQApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a FAQ
    # Create a new FAQ
    # @param faq_request faqRequest
    # @param [Hash] opts the optional parameters
    # @return [Faq]
    def create_faq_using_post(faq_request, opts = {})
      data, _status_code, _headers = create_faq_using_post_with_http_info(faq_request, opts)
      data
    end

    # Create a FAQ
    # Create a new FAQ
    # @param faq_request faqRequest
    # @param [Hash] opts the optional parameters
    # @return [Array<(Faq, Fixnum, Hash)>] Faq data, response status code and response headers
    def create_faq_using_post_with_http_info(faq_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FAQApi.create_faq_using_post ...'
      end
      # verify the required parameter 'faq_request' is set
      if @api_client.config.client_side_validation && faq_request.nil?
        fail ArgumentError, "Missing the required parameter 'faq_request' when calling FAQApi.create_faq_using_post"
      end
      # resource path
      local_var_path = '/faq'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(faq_request)
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Faq')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FAQApi#create_faq_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a FAQ
    # Permanently delete a FAQ
    # @param faq_id UUID faq_id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_faq_using_delete(faq_id, opts = {})
      delete_faq_using_delete_with_http_info(faq_id, opts)
      nil
    end

    # Delete a FAQ
    # Permanently delete a FAQ
    # @param faq_id UUID faq_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_faq_using_delete_with_http_info(faq_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FAQApi.delete_faq_using_delete ...'
      end
      # verify the required parameter 'faq_id' is set
      if @api_client.config.client_side_validation && faq_id.nil?
        fail ArgumentError, "Missing the required parameter 'faq_id' when calling FAQApi.delete_faq_using_delete"
      end
      # resource path
      local_var_path = '/faq/{faq_id}'.sub('{' + 'faq_id' + '}', faq_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FAQApi#delete_faq_using_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List all FAQ
    # Get the information for all FAQ
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :ascending ascending (default to false)
    # @option opts [String] :filter filter
    # @option opts [String] :order_by order_by (default to update_date)
    # @option opts [Integer] :page page (default to 0)
    # @option opts [Integer] :size size (default to 25)
    # @return [PageFaq]
    def get_faq_all_using_get(opts = {})
      data, _status_code, _headers = get_faq_all_using_get_with_http_info(opts)
      data
    end

    # List all FAQ
    # Get the information for all FAQ
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :ascending ascending
    # @option opts [String] :filter filter
    # @option opts [String] :order_by order_by
    # @option opts [Integer] :page page
    # @option opts [Integer] :size size
    # @return [Array<(PageFaq, Fixnum, Hash)>] PageFaq data, response status code and response headers
    def get_faq_all_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FAQApi.get_faq_all_using_get ...'
      end
      # resource path
      local_var_path = '/faq'

      # query parameters
      query_params = {}
      query_params[:'ascending'] = opts[:'ascending'] if !opts[:'ascending'].nil?
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'order_by'] = opts[:'order_by'] if !opts[:'order_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageFaq')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FAQApi#get_faq_all_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieve a FAQ
    # Retrieve the information for a FAQ
    # @param faq_id UUID faq_id
    # @param [Hash] opts the optional parameters
    # @return [Faq]
    def get_faq_using_get(faq_id, opts = {})
      data, _status_code, _headers = get_faq_using_get_with_http_info(faq_id, opts)
      data
    end

    # Retrieve a FAQ
    # Retrieve the information for a FAQ
    # @param faq_id UUID faq_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(Faq, Fixnum, Hash)>] Faq data, response status code and response headers
    def get_faq_using_get_with_http_info(faq_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FAQApi.get_faq_using_get ...'
      end
      # verify the required parameter 'faq_id' is set
      if @api_client.config.client_side_validation && faq_id.nil?
        fail ArgumentError, "Missing the required parameter 'faq_id' when calling FAQApi.get_faq_using_get"
      end
      # resource path
      local_var_path = '/faq/{faq_id}'.sub('{' + 'faq_id' + '}', faq_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Faq')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FAQApi#get_faq_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update a FAQ
    # Update the information for a FAQ
    # @param faq faq
    # @param faq_id UUID faq_id
    # @param [Hash] opts the optional parameters
    # @return [Faq]
    def update_faq_using_put(faq, faq_id, opts = {})
      data, _status_code, _headers = update_faq_using_put_with_http_info(faq, faq_id, opts)
      data
    end

    # Update a FAQ
    # Update the information for a FAQ
    # @param faq faq
    # @param faq_id UUID faq_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(Faq, Fixnum, Hash)>] Faq data, response status code and response headers
    def update_faq_using_put_with_http_info(faq, faq_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FAQApi.update_faq_using_put ...'
      end
      # verify the required parameter 'faq' is set
      if @api_client.config.client_side_validation && faq.nil?
        fail ArgumentError, "Missing the required parameter 'faq' when calling FAQApi.update_faq_using_put"
      end
      # verify the required parameter 'faq_id' is set
      if @api_client.config.client_side_validation && faq_id.nil?
        fail ArgumentError, "Missing the required parameter 'faq_id' when calling FAQApi.update_faq_using_put"
      end
      # resource path
      local_var_path = '/faq/{faq_id}'.sub('{' + 'faq_id' + '}', faq_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(faq)
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Faq')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FAQApi#update_faq_using_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
