=begin
#Hydrogen Nucleus API

#The Hydrogen Nucleus API

OpenAPI spec version: 1.8.0
Contact: info@hydrogenplatform.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.15

=end

require 'uri'

module NucleusApi
  class FinancialOfferApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a comparison request
    # Create a new comparison request.
    # @param financial_offer financialOffer
    # @param [Hash] opts the optional parameters
    # @return [FinancialOffer]
    def create_financial_offer_using_post(financial_offer, opts = {})
      data, _status_code, _headers = create_financial_offer_using_post_with_http_info(financial_offer, opts)
      data
    end

    # Create a comparison request
    # Create a new comparison request.
    # @param financial_offer financialOffer
    # @param [Hash] opts the optional parameters
    # @return [Array<(FinancialOffer, Fixnum, Hash)>] FinancialOffer data, response status code and response headers
    def create_financial_offer_using_post_with_http_info(financial_offer, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinancialOfferApi.create_financial_offer_using_post ...'
      end
      # verify the required parameter 'financial_offer' is set
      if @api_client.config.client_side_validation && financial_offer.nil?
        fail ArgumentError, "Missing the required parameter 'financial_offer' when calling FinancialOfferApi.create_financial_offer_using_post"
      end
      # resource path
      local_var_path = '/financial_offer'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(financial_offer)
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'FinancialOffer')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinancialOfferApi#create_financial_offer_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a comparison request
    # Permanently delete a comparison request.
    # @param financial_offer_id UUID financial_offer_id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_financial_offer_using_delete(financial_offer_id, opts = {})
      delete_financial_offer_using_delete_with_http_info(financial_offer_id, opts)
      nil
    end

    # Delete a comparison request
    # Permanently delete a comparison request.
    # @param financial_offer_id UUID financial_offer_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_financial_offer_using_delete_with_http_info(financial_offer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinancialOfferApi.delete_financial_offer_using_delete ...'
      end
      # verify the required parameter 'financial_offer_id' is set
      if @api_client.config.client_side_validation && financial_offer_id.nil?
        fail ArgumentError, "Missing the required parameter 'financial_offer_id' when calling FinancialOfferApi.delete_financial_offer_using_delete"
      end
      # resource path
      local_var_path = '/financial_offer/{financial_offer_id}'.sub('{' + 'financial_offer_id' + '}', financial_offer_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinancialOfferApi#delete_financial_offer_using_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List all comparison requests
    # Get the information for all comparison requests.
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :ascending ascending (default to false)
    # @option opts [String] :currency_conversion currency_conversion
    # @option opts [String] :filter filter
    # @option opts [String] :order_by order_by (default to update_date)
    # @option opts [Integer] :page page (default to 0)
    # @option opts [Integer] :size size (default to 25)
    # @return [PageFinancialOffer]
    def get_financial_offer_all_using_get(opts = {})
      data, _status_code, _headers = get_financial_offer_all_using_get_with_http_info(opts)
      data
    end

    # List all comparison requests
    # Get the information for all comparison requests.
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :ascending ascending
    # @option opts [String] :currency_conversion currency_conversion
    # @option opts [String] :filter filter
    # @option opts [String] :order_by order_by
    # @option opts [Integer] :page page
    # @option opts [Integer] :size size
    # @return [Array<(PageFinancialOffer, Fixnum, Hash)>] PageFinancialOffer data, response status code and response headers
    def get_financial_offer_all_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinancialOfferApi.get_financial_offer_all_using_get ...'
      end
      # resource path
      local_var_path = '/financial_offer'

      # query parameters
      query_params = {}
      query_params[:'ascending'] = opts[:'ascending'] if !opts[:'ascending'].nil?
      query_params[:'currency_conversion'] = opts[:'currency_conversion'] if !opts[:'currency_conversion'].nil?
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'order_by'] = opts[:'order_by'] if !opts[:'order_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageFinancialOffer')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinancialOfferApi#get_financial_offer_all_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieve a comparison request
    # Retrieve the information for a comparison request.
    # @param financial_offer_id UUID financial_offer_id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :currency_conversion USD
    # @return [FinancialOffer]
    def get_financial_offer_using_get(financial_offer_id, opts = {})
      data, _status_code, _headers = get_financial_offer_using_get_with_http_info(financial_offer_id, opts)
      data
    end

    # Retrieve a comparison request
    # Retrieve the information for a comparison request.
    # @param financial_offer_id UUID financial_offer_id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :currency_conversion USD
    # @return [Array<(FinancialOffer, Fixnum, Hash)>] FinancialOffer data, response status code and response headers
    def get_financial_offer_using_get_with_http_info(financial_offer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinancialOfferApi.get_financial_offer_using_get ...'
      end
      # verify the required parameter 'financial_offer_id' is set
      if @api_client.config.client_side_validation && financial_offer_id.nil?
        fail ArgumentError, "Missing the required parameter 'financial_offer_id' when calling FinancialOfferApi.get_financial_offer_using_get"
      end
      # resource path
      local_var_path = '/financial_offer/{financial_offer_id}'.sub('{' + 'financial_offer_id' + '}', financial_offer_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'currency_conversion'] = opts[:'currency_conversion'] if !opts[:'currency_conversion'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'FinancialOffer')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinancialOfferApi#get_financial_offer_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update a comparison request
    # Update the information for a comparison request.
    # @param financial_offer financial_offer
    # @param financial_offer_id UUID financial_offer_id
    # @param [Hash] opts the optional parameters
    # @return [FinancialOffer]
    def update_financial_offer_using_put(financial_offer, financial_offer_id, opts = {})
      data, _status_code, _headers = update_financial_offer_using_put_with_http_info(financial_offer, financial_offer_id, opts)
      data
    end

    # Update a comparison request
    # Update the information for a comparison request.
    # @param financial_offer financial_offer
    # @param financial_offer_id UUID financial_offer_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(FinancialOffer, Fixnum, Hash)>] FinancialOffer data, response status code and response headers
    def update_financial_offer_using_put_with_http_info(financial_offer, financial_offer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinancialOfferApi.update_financial_offer_using_put ...'
      end
      # verify the required parameter 'financial_offer' is set
      if @api_client.config.client_side_validation && financial_offer.nil?
        fail ArgumentError, "Missing the required parameter 'financial_offer' when calling FinancialOfferApi.update_financial_offer_using_put"
      end
      # verify the required parameter 'financial_offer_id' is set
      if @api_client.config.client_side_validation && financial_offer_id.nil?
        fail ArgumentError, "Missing the required parameter 'financial_offer_id' when calling FinancialOfferApi.update_financial_offer_using_put"
      end
      # resource path
      local_var_path = '/financial_offer/{financial_offer_id}'.sub('{' + 'financial_offer_id' + '}', financial_offer_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(financial_offer)
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'FinancialOffer')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinancialOfferApi#update_financial_offer_using_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
