/*
 * Hydrogen Electron API
 * The Hydrogen Electron API
 *
 * OpenAPI spec version: 1.3.1
 * Contact: info@hydrogenplatform.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.hydrogen.electron.api;

import com.hydrogen.electron.ApiCallback;
import com.hydrogen.electron.ApiClient;
import com.hydrogen.electron.ApiException;
import com.hydrogen.electron.ApiResponse;
import com.hydrogen.electron.Configuration;
import com.hydrogen.electron.Pair;
import com.hydrogen.electron.ProgressRequestBody;
import com.hydrogen.electron.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.hydrogen.electron.model.AchCardRequestCO;
import com.hydrogen.electron.model.AchCardResponseVO;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class AchApi {
    private ApiClient apiClient;

    public AchApi() {
        this(Configuration.getDefaultApiClient());
    }

    public AchApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for fundCardUsingPost
     * @param achCardRequestCO achCardRequestCO (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call fundCardUsingPostCall(AchCardRequestCO achCardRequestCO, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = achCardRequestCO;

        // create path and map variables
        String localVarPath = "/ach/card";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call fundCardUsingPostValidateBeforeCall(AchCardRequestCO achCardRequestCO, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'achCardRequestCO' is set
        if (achCardRequestCO == null) {
            throw new ApiException("Missing the required parameter 'achCardRequestCO' when calling fundCardUsingPost(Async)");
        }
        

        com.squareup.okhttp.Call call = fundCardUsingPostCall(achCardRequestCO, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Fund card
     * 
     * @param achCardRequestCO achCardRequestCO (required)
     * @return AchCardResponseVO
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AchCardResponseVO fundCardUsingPost(AchCardRequestCO achCardRequestCO) throws ApiException {
        ApiResponse<AchCardResponseVO> resp = fundCardUsingPostWithHttpInfo(achCardRequestCO);
        return resp.getData();
    }

    /**
     * Fund card
     * 
     * @param achCardRequestCO achCardRequestCO (required)
     * @return ApiResponse&lt;AchCardResponseVO&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AchCardResponseVO> fundCardUsingPostWithHttpInfo(AchCardRequestCO achCardRequestCO) throws ApiException {
        com.squareup.okhttp.Call call = fundCardUsingPostValidateBeforeCall(achCardRequestCO, null, null);
        Type localVarReturnType = new TypeToken<AchCardResponseVO>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Fund card (asynchronously)
     * 
     * @param achCardRequestCO achCardRequestCO (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call fundCardUsingPostAsync(AchCardRequestCO achCardRequestCO, final ApiCallback<AchCardResponseVO> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = fundCardUsingPostValidateBeforeCall(achCardRequestCO, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AchCardResponseVO>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
