=begin
#Hydrogen Atom API

#The Hydrogen Atom API

OpenAPI spec version: 1.0.1
Contact: info@hydrogenplatform.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.2-SNAPSHOT

=end

require 'uri'

module AtomApi
  class NucleusApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete an account
    # @param account_id UUID of an account
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_account(account_id, opts = {})
      delete_account_with_http_info(account_id, opts)
      nil
    end

    # Delete an account
    # @param account_id UUID of an account
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_account_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_account ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling NucleusApi.delete_account"
      end
      # resource path
      local_var_path = '/nucleus/v1/account/{account_id}/'.sub('{' + 'account_id' + '}', account_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an account allocation
    # @param account_allocation_id UUID of an account allocation
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_account_allocation(account_allocation_id, opts = {})
      delete_account_allocation_with_http_info(account_allocation_id, opts)
      nil
    end

    # Delete an account allocation
    # @param account_allocation_id UUID of an account allocation
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_account_allocation_with_http_info(account_allocation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_account_allocation ...'
      end
      # verify the required parameter 'account_allocation_id' is set
      if @api_client.config.client_side_validation && account_allocation_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_allocation_id' when calling NucleusApi.delete_account_allocation"
      end
      # resource path
      local_var_path = '/nucleus/v1/account_allocation/{account_allocation_id}'.sub('{' + 'account_allocation_id' + '}', account_allocation_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_account_allocation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an account's permissions
    # @param account_id UUID of an account
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_account_permission(account_id, opts = {})
      delete_account_permission_with_http_info(account_id, opts)
      nil
    end

    # Delete an account&#39;s permissions
    # @param account_id UUID of an account
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_account_permission_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_account_permission ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling NucleusApi.delete_account_permission"
      end
      # resource path
      local_var_path = '/nucleus/v1/account_permission/{account_id}'.sub('{' + 'account_id' + '}', account_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_account_permission\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an account stage
    # @param stage_id UUID of an account stage
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_account_stage(stage_id, opts = {})
      delete_account_stage_with_http_info(stage_id, opts)
      nil
    end

    # Delete an account stage
    # @param stage_id UUID of an account stage
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_account_stage_with_http_info(stage_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_account_stage ...'
      end
      # verify the required parameter 'stage_id' is set
      if @api_client.config.client_side_validation && stage_id.nil?
        fail ArgumentError, "Missing the required parameter 'stage_id' when calling NucleusApi.delete_account_stage"
      end
      # resource path
      local_var_path = '/nucleus/v1/stage/{stage_id}'.sub('{' + 'stage_id' + '}', stage_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_account_stage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an account status
    # @param account_status_id UUID of an account status
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_account_status(account_status_id, opts = {})
      delete_account_status_with_http_info(account_status_id, opts)
      nil
    end

    # Delete an account status
    # @param account_status_id UUID of an account status
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_account_status_with_http_info(account_status_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_account_status ...'
      end
      # verify the required parameter 'account_status_id' is set
      if @api_client.config.client_side_validation && account_status_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_status_id' when calling NucleusApi.delete_account_status"
      end
      # resource path
      local_var_path = '/nucleus/v1/account_status/{account_status_id}'.sub('{' + 'account_status_id' + '}', account_status_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_account_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an account type
    # @param account_type_id UUID of an account type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_account_type(account_type_id, opts = {})
      delete_account_type_with_http_info(account_type_id, opts)
      nil
    end

    # Delete an account type
    # @param account_type_id UUID of an account type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_account_type_with_http_info(account_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_account_type ...'
      end
      # verify the required parameter 'account_type_id' is set
      if @api_client.config.client_side_validation && account_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_type_id' when calling NucleusApi.delete_account_type"
      end
      # resource path
      local_var_path = '/nucleus/v1/account_type/{account_type_id}'.sub('{' + 'account_type_id' + '}', account_type_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_account_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an aggregation account
    # @param aggregation_account_id UUID of an aggregation account
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_aggregation_account(aggregation_account_id, opts = {})
      delete_aggregation_account_with_http_info(aggregation_account_id, opts)
      nil
    end

    # Delete an aggregation account
    # @param aggregation_account_id UUID of an aggregation account
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_aggregation_account_with_http_info(aggregation_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_aggregation_account ...'
      end
      # verify the required parameter 'aggregation_account_id' is set
      if @api_client.config.client_side_validation && aggregation_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'aggregation_account_id' when calling NucleusApi.delete_aggregation_account"
      end
      # resource path
      local_var_path = '/nucleus/v1/aggregation_account/{aggregation_account_id}'.sub('{' + 'aggregation_account_id' + '}', aggregation_account_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_aggregation_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an aggregation account balance
    # @param aggregation_account_balance_id UUID of an aggregation account balance
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_aggregation_account_balance(aggregation_account_balance_id, opts = {})
      delete_aggregation_account_balance_with_http_info(aggregation_account_balance_id, opts)
      nil
    end

    # Delete an aggregation account balance
    # @param aggregation_account_balance_id UUID of an aggregation account balance
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_aggregation_account_balance_with_http_info(aggregation_account_balance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_aggregation_account_balance ...'
      end
      # verify the required parameter 'aggregation_account_balance_id' is set
      if @api_client.config.client_side_validation && aggregation_account_balance_id.nil?
        fail ArgumentError, "Missing the required parameter 'aggregation_account_balance_id' when calling NucleusApi.delete_aggregation_account_balance"
      end
      # resource path
      local_var_path = '/nucleus/v1/aggregation_account_balance/{aggregation_account_balance_id}'.sub('{' + 'aggregation_account_balance_id' + '}', aggregation_account_balance_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_aggregation_account_balance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an aggregation account holding
    # @param aggregation_account_holding_id UUID of an aggregation account holding
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_aggregation_account_holding(aggregation_account_holding_id, opts = {})
      delete_aggregation_account_holding_with_http_info(aggregation_account_holding_id, opts)
      nil
    end

    # Delete an aggregation account holding
    # @param aggregation_account_holding_id UUID of an aggregation account holding
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_aggregation_account_holding_with_http_info(aggregation_account_holding_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_aggregation_account_holding ...'
      end
      # verify the required parameter 'aggregation_account_holding_id' is set
      if @api_client.config.client_side_validation && aggregation_account_holding_id.nil?
        fail ArgumentError, "Missing the required parameter 'aggregation_account_holding_id' when calling NucleusApi.delete_aggregation_account_holding"
      end
      # resource path
      local_var_path = '/nucleus/v1/aggregation_account_holding/{aggregation_account_holding_id}'.sub('{' + 'aggregation_account_holding_id' + '}', aggregation_account_holding_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_aggregation_account_holding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an aggregation account transaction
    # @param aggregation_account_transaction_id UUID of an aggregation account transaction
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_aggregation_account_transaction(aggregation_account_transaction_id, opts = {})
      delete_aggregation_account_transaction_with_http_info(aggregation_account_transaction_id, opts)
      nil
    end

    # Delete an aggregation account transaction
    # @param aggregation_account_transaction_id UUID of an aggregation account transaction
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_aggregation_account_transaction_with_http_info(aggregation_account_transaction_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_aggregation_account_transaction ...'
      end
      # verify the required parameter 'aggregation_account_transaction_id' is set
      if @api_client.config.client_side_validation && aggregation_account_transaction_id.nil?
        fail ArgumentError, "Missing the required parameter 'aggregation_account_transaction_id' when calling NucleusApi.delete_aggregation_account_transaction"
      end
      # resource path
      local_var_path = '/nucleus/v1/aggregation_account_transaction/{aggregation_account_transaction_id}'.sub('{' + 'aggregation_account_transaction_id' + '}', aggregation_account_transaction_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_aggregation_account_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an allocation
    # @param allocation_id UUID of an allocation
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_allocation(allocation_id, opts = {})
      delete_allocation_with_http_info(allocation_id, opts)
      nil
    end

    # Delete an allocation
    # @param allocation_id UUID of an allocation
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_allocation_with_http_info(allocation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_allocation ...'
      end
      # verify the required parameter 'allocation_id' is set
      if @api_client.config.client_side_validation && allocation_id.nil?
        fail ArgumentError, "Missing the required parameter 'allocation_id' when calling NucleusApi.delete_allocation"
      end
      # resource path
      local_var_path = '/nucleus/v1/allocation/{allocation_id}'.sub('{' + 'allocation_id' + '}', allocation_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_allocation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an allocation composition
    # @param allocation_composition_id UUID of an allocation composition
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_allocation_composition(allocation_composition_id, opts = {})
      delete_allocation_composition_with_http_info(allocation_composition_id, opts)
      nil
    end

    # Delete an allocation composition
    # @param allocation_composition_id UUID of an allocation composition
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_allocation_composition_with_http_info(allocation_composition_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_allocation_composition ...'
      end
      # verify the required parameter 'allocation_composition_id' is set
      if @api_client.config.client_side_validation && allocation_composition_id.nil?
        fail ArgumentError, "Missing the required parameter 'allocation_composition_id' when calling NucleusApi.delete_allocation_composition"
      end
      # resource path
      local_var_path = '/nucleus/v1/allocation_composition/{allocation_composition_id}'.sub('{' + 'allocation_composition_id' + '}', allocation_composition_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_allocation_composition\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a bank link
    # @param bank_link_id UUID of a bank link
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_bank_link(bank_link_id, opts = {})
      delete_bank_link_with_http_info(bank_link_id, opts)
      nil
    end

    # Delete a bank link
    # @param bank_link_id UUID of a bank link
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_bank_link_with_http_info(bank_link_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_bank_link ...'
      end
      # verify the required parameter 'bank_link_id' is set
      if @api_client.config.client_side_validation && bank_link_id.nil?
        fail ArgumentError, "Missing the required parameter 'bank_link_id' when calling NucleusApi.delete_bank_link"
      end
      # resource path
      local_var_path = '/nucleus/v1/bank_link/{bank_link_id}'.sub('{' + 'bank_link_id' + '}', bank_link_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_bank_link\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a benchmark
    # @param benchmark_id UUID of a benchmark
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_benchmark(benchmark_id, opts = {})
      delete_benchmark_with_http_info(benchmark_id, opts)
      nil
    end

    # Delete a benchmark
    # @param benchmark_id UUID of a benchmark
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_benchmark_with_http_info(benchmark_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_benchmark ...'
      end
      # verify the required parameter 'benchmark_id' is set
      if @api_client.config.client_side_validation && benchmark_id.nil?
        fail ArgumentError, "Missing the required parameter 'benchmark_id' when calling NucleusApi.delete_benchmark"
      end
      # resource path
      local_var_path = '/nucleus/v1/benchmark/{benchmark_id}'.sub('{' + 'benchmark_id' + '}', benchmark_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_benchmark\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a budget
    # @param budget_id UUID of a budget
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_budget(budget_id, opts = {})
      delete_budget_with_http_info(budget_id, opts)
      nil
    end

    # Delete a budget
    # @param budget_id UUID of a budget
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_budget_with_http_info(budget_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_budget ...'
      end
      # verify the required parameter 'budget_id' is set
      if @api_client.config.client_side_validation && budget_id.nil?
        fail ArgumentError, "Missing the required parameter 'budget_id' when calling NucleusApi.delete_budget"
      end
      # resource path
      local_var_path = '/nucleus/v1/budget/{budget_id}'.sub('{' + 'budget_id' + '}', budget_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_budget\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a client
    # @param client_id UUID of a client
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_client(client_id, opts = {})
      delete_client_with_http_info(client_id, opts)
      nil
    end

    # Delete a client
    # @param client_id UUID of a client
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_client_with_http_info(client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_client ...'
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling NucleusApi.delete_client"
      end
      # resource path
      local_var_path = '/nucleus/v1/client/{client_id}'.sub('{' + 'client_id' + '}', client_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_client\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a client-hydro relationship
    # @param client_hydro_id UUID of a client-hydro relationship
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_client_hydro(client_hydro_id, opts = {})
      delete_client_hydro_with_http_info(client_hydro_id, opts)
      nil
    end

    # Delete a client-hydro relationship
    # @param client_hydro_id UUID of a client-hydro relationship
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_client_hydro_with_http_info(client_hydro_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_client_hydro ...'
      end
      # verify the required parameter 'client_hydro_id' is set
      if @api_client.config.client_side_validation && client_hydro_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_hydro_id' when calling NucleusApi.delete_client_hydro"
      end
      # resource path
      local_var_path = '/nucleus/v1/client_hydro/{client_hydro_id}'.sub('{' + 'client_hydro_id' + '}', client_hydro_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_client_hydro\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a client response
    # @param client_response_id UUID of a client response
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_client_response(client_response_id, opts = {})
      delete_client_response_with_http_info(client_response_id, opts)
      nil
    end

    # Delete a client response
    # @param client_response_id UUID of a client response
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_client_response_with_http_info(client_response_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_client_response ...'
      end
      # verify the required parameter 'client_response_id' is set
      if @api_client.config.client_side_validation && client_response_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_response_id' when calling NucleusApi.delete_client_response"
      end
      # resource path
      local_var_path = '/nucleus/v1/client_response/{client_response_id}'.sub('{' + 'client_response_id' + '}', client_response_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_client_response\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a decision tree
    # @param decision_tree_id UUID of a decision tree
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_decision_tree(decision_tree_id, opts = {})
      delete_decision_tree_with_http_info(decision_tree_id, opts)
      nil
    end

    # Delete a decision tree
    # @param decision_tree_id UUID of a decision tree
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_decision_tree_with_http_info(decision_tree_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_decision_tree ...'
      end
      # verify the required parameter 'decision_tree_id' is set
      if @api_client.config.client_side_validation && decision_tree_id.nil?
        fail ArgumentError, "Missing the required parameter 'decision_tree_id' when calling NucleusApi.delete_decision_tree"
      end
      # resource path
      local_var_path = '/nucleus/v1/decision_tree/{decision_tree_id}'.sub('{' + 'decision_tree_id' + '}', decision_tree_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_decision_tree\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a deposit request
    # @param deposit_id UUID of a deposit record
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_deposit_request(deposit_id, opts = {})
      delete_deposit_request_with_http_info(deposit_id, opts)
      nil
    end

    # Delete a deposit request
    # @param deposit_id UUID of a deposit record
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_deposit_request_with_http_info(deposit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_deposit_request ...'
      end
      # verify the required parameter 'deposit_id' is set
      if @api_client.config.client_side_validation && deposit_id.nil?
        fail ArgumentError, "Missing the required parameter 'deposit_id' when calling NucleusApi.delete_deposit_request"
      end
      # resource path
      local_var_path = '/nucleus/v1/deposit/{deposit_id}'.sub('{' + 'deposit_id' + '}', deposit_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_deposit_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a financial offer
    # @param financial_offer_id UUID of a financial offer
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_financial_offer(financial_offer_id, opts = {})
      delete_financial_offer_with_http_info(financial_offer_id, opts)
      nil
    end

    # Delete a financial offer
    # @param financial_offer_id UUID of a financial offer
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_financial_offer_with_http_info(financial_offer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_financial_offer ...'
      end
      # verify the required parameter 'financial_offer_id' is set
      if @api_client.config.client_side_validation && financial_offer_id.nil?
        fail ArgumentError, "Missing the required parameter 'financial_offer_id' when calling NucleusApi.delete_financial_offer"
      end
      # resource path
      local_var_path = '/nucleus/v1/financial_offer/{financial_offer_id}'.sub('{' + 'financial_offer_id' + '}', financial_offer_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_financial_offer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a funding request
    # @param funding_id UUID of a funding record
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_funding_request(funding_id, opts = {})
      delete_funding_request_with_http_info(funding_id, opts)
      nil
    end

    # Delete a funding request
    # @param funding_id UUID of a funding record
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_funding_request_with_http_info(funding_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_funding_request ...'
      end
      # verify the required parameter 'funding_id' is set
      if @api_client.config.client_side_validation && funding_id.nil?
        fail ArgumentError, "Missing the required parameter 'funding_id' when calling NucleusApi.delete_funding_request"
      end
      # resource path
      local_var_path = '/nucleus/v1/funding/{funding_id}'.sub('{' + 'funding_id' + '}', funding_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_funding_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a goal
    # @param goal_id UUID of a goal
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_goal(goal_id, opts = {})
      delete_goal_with_http_info(goal_id, opts)
      nil
    end

    # Delete a goal
    # @param goal_id UUID of a goal
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_goal_with_http_info(goal_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_goal ...'
      end
      # verify the required parameter 'goal_id' is set
      if @api_client.config.client_side_validation && goal_id.nil?
        fail ArgumentError, "Missing the required parameter 'goal_id' when calling NucleusApi.delete_goal"
      end
      # resource path
      local_var_path = '/nucleus/v1/goal/{goal_id}'.sub('{' + 'goal_id' + '}', goal_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_goal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a goal track record
    # @param goal_track_id UUID of a goal tracking record
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_goal_track_record(goal_track_id, opts = {})
      delete_goal_track_record_with_http_info(goal_track_id, opts)
      nil
    end

    # Delete a goal track record
    # @param goal_track_id UUID of a goal tracking record
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_goal_track_record_with_http_info(goal_track_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_goal_track_record ...'
      end
      # verify the required parameter 'goal_track_id' is set
      if @api_client.config.client_side_validation && goal_track_id.nil?
        fail ArgumentError, "Missing the required parameter 'goal_track_id' when calling NucleusApi.delete_goal_track_record"
      end
      # resource path
      local_var_path = '/nucleus/v1/goal_track/{goal_track_id}'.sub('{' + 'goal_track_id' + '}', goal_track_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_goal_track_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a model
    # @param model_id UUID of a model
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_model(model_id, opts = {})
      delete_model_with_http_info(model_id, opts)
      nil
    end

    # Delete a model
    # @param model_id UUID of a model
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_model_with_http_info(model_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_model ...'
      end
      # verify the required parameter 'model_id' is set
      if @api_client.config.client_side_validation && model_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_id' when calling NucleusApi.delete_model"
      end
      # resource path
      local_var_path = '/nucleus/v1/model/{model_id}'.sub('{' + 'model_id' + '}', model_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_model\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a model asset size
    # @param model_asset_size_id UUID of a model asset size record
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_model_asset_size(model_asset_size_id, opts = {})
      delete_model_asset_size_with_http_info(model_asset_size_id, opts)
      nil
    end

    # Delete a model asset size
    # @param model_asset_size_id UUID of a model asset size record
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_model_asset_size_with_http_info(model_asset_size_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_model_asset_size ...'
      end
      # verify the required parameter 'model_asset_size_id' is set
      if @api_client.config.client_side_validation && model_asset_size_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_asset_size_id' when calling NucleusApi.delete_model_asset_size"
      end
      # resource path
      local_var_path = '/nucleus/v1/model_asset_size/{model_asset_size_id}'.sub('{' + 'model_asset_size_id' + '}', model_asset_size_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_model_asset_size\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a model commentary
    # @param model_comment_id UUID of a model comment
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_model_comment(model_comment_id, opts = {})
      delete_model_comment_with_http_info(model_comment_id, opts)
      nil
    end

    # Delete a model commentary
    # @param model_comment_id UUID of a model comment
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_model_comment_with_http_info(model_comment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_model_comment ...'
      end
      # verify the required parameter 'model_comment_id' is set
      if @api_client.config.client_side_validation && model_comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_comment_id' when calling NucleusApi.delete_model_comment"
      end
      # resource path
      local_var_path = '/nucleus/v1/model_comment/{model_comment_id}'.sub('{' + 'model_comment_id' + '}', model_comment_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_model_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a model holding
    # @param model_holding_id UUID of a model holding record
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_model_holding(model_holding_id, opts = {})
      delete_model_holding_with_http_info(model_holding_id, opts)
      nil
    end

    # Delete a model holding
    # @param model_holding_id UUID of a model holding record
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_model_holding_with_http_info(model_holding_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_model_holding ...'
      end
      # verify the required parameter 'model_holding_id' is set
      if @api_client.config.client_side_validation && model_holding_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_holding_id' when calling NucleusApi.delete_model_holding"
      end
      # resource path
      local_var_path = '/nucleus/v1/model_holding/{model_holding_id}'.sub('{' + 'model_holding_id' + '}', model_holding_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_model_holding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a model transaction
    # @param model_transaction_id UUID of a model transaction record
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_model_transaction(model_transaction_id, opts = {})
      delete_model_transaction_with_http_info(model_transaction_id, opts)
      nil
    end

    # Delete a model transaction
    # @param model_transaction_id UUID of a model transaction record
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_model_transaction_with_http_info(model_transaction_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_model_transaction ...'
      end
      # verify the required parameter 'model_transaction_id' is set
      if @api_client.config.client_side_validation && model_transaction_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_transaction_id' when calling NucleusApi.delete_model_transaction"
      end
      # resource path
      local_var_path = '/nucleus/v1/model_transaction/{model_transaction_id}'.sub('{' + 'model_transaction_id' + '}', model_transaction_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_model_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a node
    # @param node_id UUID of a node
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_node(node_id, opts = {})
      delete_node_with_http_info(node_id, opts)
      nil
    end

    # Delete a node
    # @param node_id UUID of a node
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_node_with_http_info(node_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_node ...'
      end
      # verify the required parameter 'node_id' is set
      if @api_client.config.client_side_validation && node_id.nil?
        fail ArgumentError, "Missing the required parameter 'node_id' when calling NucleusApi.delete_node"
      end
      # resource path
      local_var_path = '/nucleus/v1/node/{node_id}'.sub('{' + 'node_id' + '}', node_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_node\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a node relationship
    # @param node_relationship_id UUID of a node relationship
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_node_relationship(node_relationship_id, opts = {})
      delete_node_relationship_with_http_info(node_relationship_id, opts)
      nil
    end

    # Delete a node relationship
    # @param node_relationship_id UUID of a node relationship
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_node_relationship_with_http_info(node_relationship_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_node_relationship ...'
      end
      # verify the required parameter 'node_relationship_id' is set
      if @api_client.config.client_side_validation && node_relationship_id.nil?
        fail ArgumentError, "Missing the required parameter 'node_relationship_id' when calling NucleusApi.delete_node_relationship"
      end
      # resource path
      local_var_path = '/nucleus/v1/node_relationship/{node_relationship_id}'.sub('{' + 'node_relationship_id' + '}', node_relationship_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_node_relationship\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an order record
    # @param order_id UUID of an order record
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_order_record(order_id, opts = {})
      delete_order_record_with_http_info(order_id, opts)
      nil
    end

    # Delete an order record
    # @param order_id UUID of an order record
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_order_record_with_http_info(order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_order_record ...'
      end
      # verify the required parameter 'order_id' is set
      if @api_client.config.client_side_validation && order_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_id' when calling NucleusApi.delete_order_record"
      end
      # resource path
      local_var_path = '/nucleus/v1/order/{order_id}'.sub('{' + 'order_id' + '}', order_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_order_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an order status
    # @param order_status_id UUID of an order status record
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_order_status(order_status_id, opts = {})
      delete_order_status_with_http_info(order_status_id, opts)
      nil
    end

    # Delete an order status
    # @param order_status_id UUID of an order status record
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_order_status_with_http_info(order_status_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_order_status ...'
      end
      # verify the required parameter 'order_status_id' is set
      if @api_client.config.client_side_validation && order_status_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_status_id' when calling NucleusApi.delete_order_status"
      end
      # resource path
      local_var_path = '/nucleus/v1/order_status/{order_status_id}'.sub('{' + 'order_status_id' + '}', order_status_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_order_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an order tracking record
    # @param order_track_id UUID of an order tracking record
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_order_tracking_record(order_track_id, opts = {})
      delete_order_tracking_record_with_http_info(order_track_id, opts)
      nil
    end

    # Delete an order tracking record
    # @param order_track_id UUID of an order tracking record
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_order_tracking_record_with_http_info(order_track_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_order_tracking_record ...'
      end
      # verify the required parameter 'order_track_id' is set
      if @api_client.config.client_side_validation && order_track_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_track_id' when calling NucleusApi.delete_order_tracking_record"
      end
      # resource path
      local_var_path = '/nucleus/v1/order_track/{order_track_id}'.sub('{' + 'order_track_id' + '}', order_track_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_order_tracking_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a portfolio
    # @param portfolio_id UUID of a portfolio
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_portfolio(portfolio_id, opts = {})
      delete_portfolio_with_http_info(portfolio_id, opts)
      nil
    end

    # Delete a portfolio
    # @param portfolio_id UUID of a portfolio
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_portfolio_with_http_info(portfolio_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_portfolio ...'
      end
      # verify the required parameter 'portfolio_id' is set
      if @api_client.config.client_side_validation && portfolio_id.nil?
        fail ArgumentError, "Missing the required parameter 'portfolio_id' when calling NucleusApi.delete_portfolio"
      end
      # resource path
      local_var_path = '/nucleus/v1/portfolio/{portfolio_id}'.sub('{' + 'portfolio_id' + '}', portfolio_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_portfolio\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a portfolio asset size
    # @param portfolio_asset_size_id UUID of a portfolio asset size record
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_portfolio_asset_size(portfolio_asset_size_id, opts = {})
      delete_portfolio_asset_size_with_http_info(portfolio_asset_size_id, opts)
      nil
    end

    # Delete a portfolio asset size
    # @param portfolio_asset_size_id UUID of a portfolio asset size record
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_portfolio_asset_size_with_http_info(portfolio_asset_size_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_portfolio_asset_size ...'
      end
      # verify the required parameter 'portfolio_asset_size_id' is set
      if @api_client.config.client_side_validation && portfolio_asset_size_id.nil?
        fail ArgumentError, "Missing the required parameter 'portfolio_asset_size_id' when calling NucleusApi.delete_portfolio_asset_size"
      end
      # resource path
      local_var_path = '/nucleus/v1/portfolio_asset_size/{portfolio_asset_size_id}'.sub('{' + 'portfolio_asset_size_id' + '}', portfolio_asset_size_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_portfolio_asset_size\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a portfolio commentary
    # @param portfolio_comment_id UUID of a portfolio comment
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_portfolio_comment(portfolio_comment_id, opts = {})
      delete_portfolio_comment_with_http_info(portfolio_comment_id, opts)
      nil
    end

    # Delete a portfolio commentary
    # @param portfolio_comment_id UUID of a portfolio comment
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_portfolio_comment_with_http_info(portfolio_comment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_portfolio_comment ...'
      end
      # verify the required parameter 'portfolio_comment_id' is set
      if @api_client.config.client_side_validation && portfolio_comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'portfolio_comment_id' when calling NucleusApi.delete_portfolio_comment"
      end
      # resource path
      local_var_path = '/nucleus/v1/portfolio_comment/{portfolio_comment_id}'.sub('{' + 'portfolio_comment_id' + '}', portfolio_comment_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_portfolio_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a portfolio holding
    # @param portfolio_holding_id UUID of a portfolio holding record
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_portfolio_holding(portfolio_holding_id, opts = {})
      delete_portfolio_holding_with_http_info(portfolio_holding_id, opts)
      nil
    end

    # Delete a portfolio holding
    # @param portfolio_holding_id UUID of a portfolio holding record
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_portfolio_holding_with_http_info(portfolio_holding_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_portfolio_holding ...'
      end
      # verify the required parameter 'portfolio_holding_id' is set
      if @api_client.config.client_side_validation && portfolio_holding_id.nil?
        fail ArgumentError, "Missing the required parameter 'portfolio_holding_id' when calling NucleusApi.delete_portfolio_holding"
      end
      # resource path
      local_var_path = '/nucleus/v1/portfolio_holding/{portfolio_holding_id}'.sub('{' + 'portfolio_holding_id' + '}', portfolio_holding_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_portfolio_holding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a portfolio transaction
    # @param portfolio_transaction_id UUID of a portfolio transaction record
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_portfolio_transaction(portfolio_transaction_id, opts = {})
      delete_portfolio_transaction_with_http_info(portfolio_transaction_id, opts)
      nil
    end

    # Delete a portfolio transaction
    # @param portfolio_transaction_id UUID of a portfolio transaction record
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_portfolio_transaction_with_http_info(portfolio_transaction_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_portfolio_transaction ...'
      end
      # verify the required parameter 'portfolio_transaction_id' is set
      if @api_client.config.client_side_validation && portfolio_transaction_id.nil?
        fail ArgumentError, "Missing the required parameter 'portfolio_transaction_id' when calling NucleusApi.delete_portfolio_transaction"
      end
      # resource path
      local_var_path = '/nucleus/v1/portfolio_transaction/{portfolio_transaction_id}'.sub('{' + 'portfolio_transaction_id' + '}', portfolio_transaction_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_portfolio_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a questionnaire
    # @param questionnaire_id UUID of a questionnaire
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_questionnaire(questionnaire_id, opts = {})
      delete_questionnaire_with_http_info(questionnaire_id, opts)
      nil
    end

    # Delete a questionnaire
    # @param questionnaire_id UUID of a questionnaire
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_questionnaire_with_http_info(questionnaire_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_questionnaire ...'
      end
      # verify the required parameter 'questionnaire_id' is set
      if @api_client.config.client_side_validation && questionnaire_id.nil?
        fail ArgumentError, "Missing the required parameter 'questionnaire_id' when calling NucleusApi.delete_questionnaire"
      end
      # resource path
      local_var_path = '/nucleus/v1/questionnaire/{questionnaire_id}'.sub('{' + 'questionnaire_id' + '}', questionnaire_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_questionnaire\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a score
    # @param score_id UUID of a score record
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_score(score_id, opts = {})
      delete_score_with_http_info(score_id, opts)
      nil
    end

    # Delete a score
    # @param score_id UUID of a score record
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_score_with_http_info(score_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_score ...'
      end
      # verify the required parameter 'score_id' is set
      if @api_client.config.client_side_validation && score_id.nil?
        fail ArgumentError, "Missing the required parameter 'score_id' when calling NucleusApi.delete_score"
      end
      # resource path
      local_var_path = '/nucleus/v1/score/{score_id}'.sub('{' + 'score_id' + '}', score_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_score\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a security
    # @param security_id UUID of a security
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_security(security_id, opts = {})
      delete_security_with_http_info(security_id, opts)
      nil
    end

    # Delete a security
    # @param security_id UUID of a security
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_security_with_http_info(security_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_security ...'
      end
      # verify the required parameter 'security_id' is set
      if @api_client.config.client_side_validation && security_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_id' when calling NucleusApi.delete_security"
      end
      # resource path
      local_var_path = '/nucleus/v1/security/{security_id}'.sub('{' + 'security_id' + '}', security_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_security\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a security exclusion
    # @param security_exclusion_id UUID of a security exclusion record
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_security_exclusion(security_exclusion_id, opts = {})
      delete_security_exclusion_with_http_info(security_exclusion_id, opts)
      nil
    end

    # Delete a security exclusion
    # @param security_exclusion_id UUID of a security exclusion record
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_security_exclusion_with_http_info(security_exclusion_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_security_exclusion ...'
      end
      # verify the required parameter 'security_exclusion_id' is set
      if @api_client.config.client_side_validation && security_exclusion_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_exclusion_id' when calling NucleusApi.delete_security_exclusion"
      end
      # resource path
      local_var_path = '/nucleus/v1/security_exclusion/{security_exclusion_id}'.sub('{' + 'security_exclusion_id' + '}', security_exclusion_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_security_exclusion\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a security price
    # @param security_price_id UUID of a security price record
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_security_price(security_price_id, opts = {})
      delete_security_price_with_http_info(security_price_id, opts)
      nil
    end

    # Delete a security price
    # @param security_price_id UUID of a security price record
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_security_price_with_http_info(security_price_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_security_price ...'
      end
      # verify the required parameter 'security_price_id' is set
      if @api_client.config.client_side_validation && security_price_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_price_id' when calling NucleusApi.delete_security_price"
      end
      # resource path
      local_var_path = '/nucleus/v1/security_price/{security_price_id}'.sub('{' + 'security_price_id' + '}', security_price_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_security_price\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a transaction code
    # @param transaction_code_id UUID of a transaction code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_transaction_code(transaction_code_id, opts = {})
      delete_transaction_code_with_http_info(transaction_code_id, opts)
      nil
    end

    # Delete a transaction code
    # @param transaction_code_id UUID of a transaction code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_transaction_code_with_http_info(transaction_code_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_transaction_code ...'
      end
      # verify the required parameter 'transaction_code_id' is set
      if @api_client.config.client_side_validation && transaction_code_id.nil?
        fail ArgumentError, "Missing the required parameter 'transaction_code_id' when calling NucleusApi.delete_transaction_code"
      end
      # resource path
      local_var_path = '/nucleus/v1/transaction_code/{transaction_code_id}'.sub('{' + 'transaction_code_id' + '}', transaction_code_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NucleusApi#delete_transaction_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a transfer request
    # @param transfer_id UUID of an account transfer record
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_transfer_request(transfer_id, opts = {})
      delete_transfer_request_with_http_info(transfer_id, opts)
      nil
    end

    # Delete a transfer request
    # @param transfer_id UUID of an account transfer record
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_transfer_request_with_http_info(transfer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NucleusApi.delete_transfer_request ...'
      end
      # verify the required parameter 'transfer_id' is set
      if @api_client.config.client_side_validation && transfer_id.nil?
        fail ArgumentError, "Missing the required parameter 'transfer_id' when calling NucleusApi.delete_transfer_request"
      end
      # resource path
      local_var_path = '/nucleus/v1/transfer/{transfer_id}'.sub('{' + 'transfer_id' + '}', transfer_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
[...]
