/*
 * Hydrogen Molecule API
 * The Hydrogen Molecule API
 *
 * OpenAPI spec version: 1.0.0
 * Contact: info@hydrogenplatform.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import molecule_api.ApiCallback;
import molecule_api.ApiClient;
import molecule_api.ApiException;
import molecule_api.ApiResponse;
import molecule_api.Configuration;
import molecule_api.Pair;
import molecule_api.ProgressRequestBody;
import molecule_api.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.CrowdsaleDeployPayload;
import io.swagger.client.model.CrowdsaleFundPayload;
import io.swagger.client.model.CrowdsalePurchasePayload;
import io.swagger.client.model.CurrencyBalanceGetResponse;
import io.swagger.client.model.CurrencyBalanceSpecificResponse;
import io.swagger.client.model.CurrencyGetResponse;
import io.swagger.client.model.CurrencySpecificResponse;
import io.swagger.client.model.CurrencyTransferGetResponse;
import io.swagger.client.model.CurrencyTransferPayload;
import io.swagger.client.model.CurrencyTransferSpecificResponse;
import io.swagger.client.model.TokenBalanceGetResponse;
import io.swagger.client.model.TokenBalanceSpecificResponse;
import io.swagger.client.model.TokenCreatePayload;
import io.swagger.client.model.TokenCreateResponse;
import io.swagger.client.model.TokenDeployPayload;
import io.swagger.client.model.TokenGetResponse;
import io.swagger.client.model.TokenSpecificResponse;
import io.swagger.client.model.TokenSupplyGetResponse;
import io.swagger.client.model.TokenSupplySpecificResponse;
import io.swagger.client.model.TokenTransferGetResponse;
import io.swagger.client.model.TokenTransferPayload;
import io.swagger.client.model.TokenTransferSpecificResponse;
import io.swagger.client.model.TokenUpdatePayload;
import io.swagger.client.model.TokenWhitelistPayload;
import io.swagger.client.model.TransactionStatusGetResponse;
import io.swagger.client.model.TransactionStatusSpecificResponse;
import java.util.UUID;
import io.swagger.client.model.WalletCreatePayload;
import io.swagger.client.model.WalletCreateResponse;
import io.swagger.client.model.WalletGetResponse;
import io.swagger.client.model.WalletKeyCreatePayload;
import io.swagger.client.model.WalletKeyCreateResponse;
import io.swagger.client.model.WalletKeyGeneratorPayload;
import io.swagger.client.model.WalletKeyGetResponse;
import io.swagger.client.model.WalletKeySpecificResponse;
import io.swagger.client.model.WalletSpecificResponse;
import io.swagger.client.model.WalletUpdatePayload;
import io.swagger.client.model.WebhookCreatePayload;
import io.swagger.client.model.WebhookCreateResponse;
import io.swagger.client.model.WebhookGetResponse;
import io.swagger.client.model.WebhookSpecificResponse;
import io.swagger.client.model.WebhookUpdatePayload;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class MoleculeApi {
    private ApiClient apiClient;

    public MoleculeApi() {
        this(Configuration.getDefaultApiClient());
    }

    public MoleculeApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for deleteToken
     * @param tokenId UUID of a token (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#Delete-a-token">Delete a token Documentation</a>
     */
    public com.squareup.okhttp.Call deleteTokenCall(UUID tokenId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/molecule/v1/token/{token_id}/"
            .replaceAll("\\{" + "token_id" + "\\}", apiClient.escapeString(tokenId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteTokenValidateBeforeCall(UUID tokenId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'tokenId' is set
        if (tokenId == null) {
            throw new ApiException("Missing the required parameter 'tokenId' when calling deleteToken(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteTokenCall(tokenId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete a token
     * 
     * @param tokenId UUID of a token (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#Delete-a-token">Delete a token Documentation</a>
     */
    public void deleteToken(UUID tokenId) throws ApiException {
        deleteTokenWithHttpInfo(tokenId);
    }

    /**
     * Delete a token
     * 
     * @param tokenId UUID of a token (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#Delete-a-token">Delete a token Documentation</a>
     */
    public ApiResponse<Void> deleteTokenWithHttpInfo(UUID tokenId) throws ApiException {
        com.squareup.okhttp.Call call = deleteTokenValidateBeforeCall(tokenId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete a token (asynchronously)
     * 
     * @param tokenId UUID of a token (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#Delete-a-token">Delete a token Documentation</a>
     */
    public com.squareup.okhttp.Call deleteTokenAsync(UUID tokenId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteTokenValidateBeforeCall(tokenId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteWebhook
     * @param webhookId UUID of a webhook (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#Delete-a-webhook">Delete a webhook Documentation</a>
     */
    public com.squareup.okhttp.Call deleteWebhookCall(UUID webhookId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/molecule/v1/webhook/{webhook_id}/"
            .replaceAll("\\{" + "webhook_id" + "\\}", apiClient.escapeString(webhookId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteWebhookValidateBeforeCall(UUID webhookId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'webhookId' is set
        if (webhookId == null) {
            throw new ApiException("Missing the required parameter 'webhookId' when calling deleteWebhook(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteWebhookCall(webhookId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete a webhook
     * 
     * @param webhookId UUID of a webhook (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#Delete-a-webhook">Delete a webhook Documentation</a>
     */
    public void deleteWebhook(UUID webhookId) throws ApiException {
        deleteWebhookWithHttpInfo(webhookId);
    }

    /**
     * Delete a webhook
     * 
     * @param webhookId UUID of a webhook (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#Delete-a-webhook">Delete a webhook Documentation</a>
     */
    public ApiResponse<Void> deleteWebhookWithHttpInfo(UUID webhookId) throws ApiException {
        com.squareup.okhttp.Call call = deleteWebhookValidateBeforeCall(webhookId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete a webhook (asynchronously)
     * 
     * @param webhookId UUID of a webhook (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#Delete-a-webhook">Delete a webhook Documentation</a>
     */
    public com.squareup.okhttp.Call deleteWebhookAsync(UUID webhookId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteWebhookValidateBeforeCall(webhookId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for getCurrencies
     * @param page Page number for the page that should be returned as the starting page. For example, if this is specified as 0, then the first page of the results will be the shown, if it is set as 3 then the third page of the results will be shown, and so on. The default is 0 (optional, default to 0)
     * @param size The number or records to be included per page. The default is 25. There is no max value. (optional, default to 25)
     * @param orderBy The field in the response body to order the list by. Default is update_date. (optional, default to update_date)
     * @param ascending If true, order the results in ascending order. For an alphabetical result this would be A-Z. If false, order the results in descending order. For an alphabetical result this would be Z-A. Default is false which would order by descending. (optional, default to false)
     * @param getLatest Retrieves the latest entry (optional)
     * @param symbol  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#List-all-currencies">Get information for all currencies defined for your firm Documentation</a>
     */
    public com.squareup.okhttp.Call getCurrenciesCall(Integer page, Integer size, String orderBy, Boolean ascending, Boolean getLatest, String symbol, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/molecule/v1/currency";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
        if (size != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
        if (orderBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("order_by", orderBy));
        if (ascending != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("ascending", ascending));
        if (getLatest != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("get_latest", getLatest));
        if (symbol != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("symbol", symbol));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getCurrenciesValidateBeforeCall(Integer page, Integer size, String orderBy, Boolean ascending, Boolean getLatest, String symbol, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = getCurrenciesCall(page, size, orderBy, ascending, getLatest, symbol, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get information for all currencies defined for your firm
     * 
     * @param page Page number for the page that should be returned as the starting page. For example, if this is specified as 0, then the first page of the results will be the shown, if it is set as 3 then the third page of the results will be shown, and so on. The default is 0 (optional, default to 0)
     * @param size The number or records to be included per page. The default is 25. There is no max value. (optional, default to 25)
     * @param orderBy The field in the response body to order the list by. Default is update_date. (optional, default to update_date)
     * @param ascending If true, order the results in ascending order. For an alphabetical result this would be A-Z. If false, order the results in descending order. For an alphabetical result this would be Z-A. Default is false which would order by descending. (optional, default to false)
     * @param getLatest Retrieves the latest entry (optional)
     * @param symbol  (optional)
     * @return CurrencyGetResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#List-all-currencies">Get information for all currencies defined for your firm Documentation</a>
     */
    public CurrencyGetResponse getCurrencies(Integer page, Integer size, String orderBy, Boolean ascending, Boolean getLatest, String symbol) throws ApiException {
        ApiResponse<CurrencyGetResponse> resp = getCurrenciesWithHttpInfo(page, size, orderBy, ascending, getLatest, symbol);
        return resp.getData();
    }

    /**
     * Get information for all currencies defined for your firm
     * 
     * @param page Page number for the page that should be returned as the starting page. For example, if this is specified as 0, then the first page of the results will be the shown, if it is set as 3 then the third page of the results will be shown, and so on. The default is 0 (optional, default to 0)
     * @param size The number or records to be included per page. The default is 25. There is no max value. (optional, default to 25)
     * @param orderBy The field in the response body to order the list by. Default is update_date. (optional, default to update_date)
     * @param ascending If true, order the results in ascending order. For an alphabetical result this would be A-Z. If false, order the results in descending order. For an alphabetical result this would be Z-A. Default is false which would order by descending. (optional, default to false)
     * @param getLatest Retrieves the latest entry (optional)
     * @param symbol  (optional)
     * @return ApiResponse&lt;CurrencyGetResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#List-all-currencies">Get information for all currencies defined for your firm Documentation</a>
     */
    public ApiResponse<CurrencyGetResponse> getCurrenciesWithHttpInfo(Integer page, Integer size, String orderBy, Boolean ascending, Boolean getLatest, String symbol) throws ApiException {
        com.squareup.okhttp.Call call = getCurrenciesValidateBeforeCall(page, size, orderBy, ascending, getLatest, symbol, null, null);
        Type localVarReturnType = new TypeToken<CurrencyGetResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get information for all currencies defined for your firm (asynchronously)
     * 
     * @param page Page number for the page that should be returned as the starting page. For example, if this is specified as 0, then the first page of the results will be the shown, if it is set as 3 then the third page of the results will be shown, and so on. The default is 0 (optional, default to 0)
     * @param size The number or records to be included per page. The default is 25. There is no max value. (optional, default to 25)
     * @param orderBy The field in the response body to order the list by. Default is update_date. (optional, default to update_date)
     * @param ascending If true, order the results in ascending order. For an alphabetical result this would be A-Z. If false, order the results in descending order. For an alphabetical result this would be Z-A. Default is false which would order by descending. (optional, default to false)
     * @param getLatest Retrieves the latest entry (optional)
     * @param symbol  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#List-all-currencies">Get information for all currencies defined for your firm Documentation</a>
     */
    public com.squareup.okhttp.Call getCurrenciesAsync(Integer page, Integer size, String orderBy, Boolean ascending, Boolean getLatest, String symbol, final ApiCallback<CurrencyGetResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getCurrenciesValidateBeforeCall(page, size, orderBy, ascending, getLatest, symbol, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CurrencyGetResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getCurrency
     * @param currencyId UUID of a currency (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#Retrieve-a-currency">Retrieve a currency Documentation</a>
     */
    public com.squareup.okhttp.Call getCurrencyCall(UUID currencyId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/molecule/v1/currency/{currency_id}/"
            .replaceAll("\\{" + "currency_id" + "\\}", apiClient.escapeString(currencyId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getCurrencyValidateBeforeCall(UUID currencyId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'currencyId' is set
        if (currencyId == null) {
            throw new ApiException("Missing the required parameter 'currencyId' when calling getCurrency(Async)");
        }
        

        com.squareup.okhttp.Call call = getCurrencyCall(currencyId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieve a currency
     * 
     * @param currencyId UUID of a currency (required)
     * @return CurrencySpecificResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#Retrieve-a-currency">Retrieve a currency Documentation</a>
     */
    public CurrencySpecificResponse getCurrency(UUID currencyId) throws ApiException {
        ApiResponse<CurrencySpecificResponse> resp = getCurrencyWithHttpInfo(currencyId);
        return resp.getData();
    }

    /**
     * Retrieve a currency
     * 
     * @param currencyId UUID of a currency (required)
     * @return ApiResponse&lt;CurrencySpecificResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#Retrieve-a-currency">Retrieve a currency Documentation</a>
     */
    public ApiResponse<CurrencySpecificResponse> getCurrencyWithHttpInfo(UUID currencyId) throws ApiException {
        com.squareup.okhttp.Call call = getCurrencyValidateBeforeCall(currencyId, null, null);
        Type localVarReturnType = new TypeToken<CurrencySpecificResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieve a currency (asynchronously)
     * 
     * @param currencyId UUID of a currency (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#Retrieve-a-currency">Retrieve a currency Documentation</a>
     */
    public com.squareup.okhttp.Call getCurrencyAsync(UUID currencyId, final ApiCallback<CurrencySpecificResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getCurrencyValidateBeforeCall(currencyId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CurrencySpecificResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getCurrencyBalance
     * @param currencyBalanceId UUID of a currency balance (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#Retrieve-a-currency-balance">Retrieve a currency balance Documentation</a>
     */
    public com.squareup.okhttp.Call getCurrencyBalanceCall(UUID currencyBalanceId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/molecule/v1/currency_balance/{currency_balance_id}"
            .replaceAll("\\{" + "currency_balance_id" + "\\}", apiClient.escapeString(currencyBalanceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getCurrencyBalanceValidateBeforeCall(UUID currencyBalanceId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'currencyBalanceId' is set
        if (currencyBalanceId == null) {
            throw new ApiException("Missing the required parameter 'currencyBalanceId' when calling getCurrencyBalance(Async)");
        }
        

        com.squareup.okhttp.Call call = getCurrencyBalanceCall(currencyBalanceId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieve a currency balance
     * 
     * @param currencyBalanceId UUID of a currency balance (required)
     * @return CurrencyBalanceSpecificResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#Retrieve-a-currency-balance">Retrieve a currency balance Documentation</a>
     */
    public CurrencyBalanceSpecificResponse getCurrencyBalance(UUID currencyBalanceId) throws ApiException {
        ApiResponse<CurrencyBalanceSpecificResponse> resp = getCurrencyBalanceWithHttpInfo(currencyBalanceId);
        return resp.getData();
    }

    /**
     * Retrieve a currency balance
     * 
     * @param currencyBalanceId UUID of a currency balance (required)
     * @return ApiResponse&lt;CurrencyBalanceSpecificResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#Retrieve-a-currency-balance">Retrieve a currency balance Documentation</a>
     */
    public ApiResponse<CurrencyBalanceSpecificResponse> getCurrencyBalanceWithHttpInfo(UUID currencyBalanceId) throws ApiException {
        com.squareup.okhttp.Call call = getCurrencyBalanceValidateBeforeCall(currencyBalanceId, null, null);
        Type localVarReturnType = new TypeToken<CurrencyBalanceSpecificResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieve a currency balance (asynchronously)
     * 
     * @param currencyBalanceId UUID of a currency balance (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#Retrieve-a-currency-balance">Retrieve a currency balance Documentation</a>
     */
    public com.squareup.okhttp.Call getCurrencyBalanceAsync(UUID currencyBalanceId, final ApiCallback<CurrencyBalanceSpecificResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getCurrencyBalanceValidateBeforeCall(currencyBalanceId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CurrencyBalanceSpecificResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getCurrencyBalances
     * @param page Page number for the page that should be returned as the starting page. For example, if this is specified as 0, then the first page of the results will be the shown, if it is set as 3 then the third page of the results will be shown, and so on. The default is 0 (optional, default to 0)
     * @param size The number or records to be included per page. The default is 25. There is no max value. (optional, default to 25)
     * @param orderBy The field in the response body to order the list by. Default is update_date. (optional, default to update_date)
     * @param ascending If true, order the results in ascending order. For an alphabetical result this would be A-Z. If false, order the results in descending order. For an alphabetical result this would be Z-A. Default is false which would order by descending. (optional, default to false)
     * @param getLatest Retrieves the latest entry (optional)
     * @param currencyId Filters results by their currency ids (optional)
     * @param walletId Filters results by their wallet ids (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#List-all-currency-balances">Get information for all currency balances recorded in your application. Documentation</a>
     */
    public com.squareup.okhttp.Call getCurrencyBalancesCall(Integer page, Integer size, String orderBy, Boolean ascending, Boolean getLatest, String currencyId, String walletId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/molecule/v1/currency_balance";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
        if (size != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
        if (orderBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("order_by", orderBy));
        if (ascending != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("ascending", ascending));
        if (getLatest != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("get_latest", getLatest));
        if (currencyId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("currency_id", currencyId));
        if (walletId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("wallet_id", walletId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getCurrencyBalancesValidateBeforeCall(Integer page, Integer size, String orderBy, Boolean ascending, Boolean getLatest, String currencyId, String walletId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = getCurrencyBalancesCall(page, size, orderBy, ascending, getLatest, currencyId, walletId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get information for all currency balances recorded in your application.
     * 
     * @param page Page number for the page that should be returned as the starting page. For example, if this is specified as 0, then the first page of the results will be the shown, if it is set as 3 then the third page of the results will be shown, and so on. The default is 0 (optional, default to 0)
     * @param size The number or records to be included per page. The default is 25. There is no max value. (optional, default to 25)
     * @param orderBy The field in the response body to order the list by. Default is update_date. (optional, default to update_date)
     * @param ascending If true, order the results in ascending order. For an alphabetical result this would be A-Z. If false, order the results in descending order. For an alphabetical result this would be Z-A. Default is false which would order by descending. (optional, default to false)
     * @param getLatest Retrieves the latest entry (optional)
     * @param currencyId Filters results by their currency ids (optional)
     * @param walletId Filters results by their wallet ids (optional)
     * @return CurrencyBalanceGetResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#List-all-currency-balances">Get information for all currency balances recorded in your application. Documentation</a>
     */
    public CurrencyBalanceGetResponse getCurrencyBalances(Integer page, Integer size, String orderBy, Boolean ascending, Boolean getLatest, String currencyId, String walletId) throws ApiException {
        ApiResponse<CurrencyBalanceGetResponse> resp = getCurrencyBalancesWithHttpInfo(page, size, orderBy, ascending, getLatest, currencyId, walletId);
        return resp.getData();
    }

    /**
     * Get information for all currency balances recorded in your application.
     * 
     * @param page Page number for the page that should be returned as the starting page. For example, if this is specified as 0, then the first page of the results will be the shown, if it is set as 3 then the third page of the results will be shown, and so on. The default is 0 (optional, default to 0)
     * @param size The number or records to be included per page. The default is 25. There is no max value. (optional, default to 25)
     * @param orderBy The field in the response body to order the list by. Default is update_date. (optional, default to update_date)
     * @param ascending If true, order the results in ascending order. For an alphabetical result this would be A-Z. If false, order the results in descending order. For an alphabetical result this would be Z-A. Default is false which would order by descending. (optional, default to false)
     * @param getLatest Retrieves the latest entry (optional)
     * @param currencyId Filters results by their currency ids (optional)
     * @param walletId Filters results by their wallet ids (optional)
     * @return ApiResponse&lt;CurrencyBalanceGetResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#List-all-currency-balances">Get information for all currency balances recorded in your application. Documentation</a>
     */
    public ApiResponse<CurrencyBalanceGetResponse> getCurrencyBalancesWithHttpInfo(Integer page, Integer size, String orderBy, Boolean ascending, Boolean getLatest, String currencyId, String walletId) throws ApiException {
        com.squareup.okhttp.Call call = getCurrencyBalancesValidateBeforeCall(page, size, orderBy, ascending, getLatest, currencyId, walletId, null, null);
        Type localVarReturnType = new TypeToken<CurrencyBalanceGetResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get information for all currency balances recorded in your application. (asynchronously)
     * 
     * @param page Page number for the page that should be returned as the starting page. For example, if this is specified as 0, then the first page of the results will be the shown, if it is set as 3 then the third page of the results will be shown, and so on. The default is 0 (optional, default to 0)
     * @param size The number or records to be included per page. The default is 25. There is no max value. (optional, default to 25)
     * @param orderBy The field in the response body to order the list by. Default is update_date. (optional, default to update_date)
     * @param ascending If true, order the results in ascending order. For an alphabetical result this would be A-Z. If false, order the results in descending order. For an alphabetical result this would be Z-A. Default is false which would order by descending. (optional, default to false)
     * @param getLatest Retrieves the latest entry (optional)
     * @param currencyId Filters results by their currency ids (optional)
     * @param walletId Filters results by their wallet ids (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#List-all-currency-balances">Get information for all currency balances recorded in your application. Documentation</a>
     */
    public com.squareup.okhttp.Call getCurrencyBalancesAsync(Integer page, Integer size, String orderBy, Boolean ascending, Boolean getLatest, String currencyId, String walletId, final ApiCallback<CurrencyBalanceGetResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getCurrencyBalancesValidateBeforeCall(page, size, orderBy, ascending, getLatest, currencyId, walletId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CurrencyBalanceGetResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getCurrencyTransfer
     * @param currencyTransferId UUID of a currency transfer (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#Retrieve-a-currency-transfer-receipt">Retrieve a currency transfer Documentation</a>
     */
    public com.squareup.okhttp.Call getCurrencyTransferCall(UUID currencyTransferId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/molecule/v1/currency_transfer/{currency_transfer_id}"
            .replaceAll("\\{" + "currency_transfer_id" + "\\}", apiClient.escapeString(currencyTransferId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getCurrencyTransferValidateBeforeCall(UUID currencyTransferId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'currencyTransferId' is set
        if (currencyTransferId == null) {
            throw new ApiException("Missing the required parameter 'currencyTransferId' when calling getCurrencyTransfer(Async)");
        }
        

        com.squareup.okhttp.Call call = getCurrencyTransferCall(currencyTransferId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieve a currency transfer
     * 
     * @param currencyTransferId UUID of a currency transfer (required)
     * @return CurrencyTransferSpecificResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#Retrieve-a-currency-transfer-receipt">Retrieve a currency transfer Documentation</a>
     */
    public CurrencyTransferSpecificResponse getCurrencyTransfer(UUID currencyTransferId) throws ApiException {
        ApiResponse<CurrencyTransferSpecificResponse> resp = getCurrencyTransferWithHttpInfo(currencyTransferId);
        return resp.getData();
    }

    /**
     * Retrieve a currency transfer
     * 
     * @param currencyTransferId UUID of a currency transfer (required)
     * @return ApiResponse&lt;CurrencyTransferSpecificResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#Retrieve-a-currency-transfer-receipt">Retrieve a currency transfer Documentation</a>
     */
    public ApiResponse<CurrencyTransferSpecificResponse> getCurrencyTransferWithHttpInfo(UUID currencyTransferId) throws ApiException {
        com.squareup.okhttp.Call call = getCurrencyTransferValidateBeforeCall(currencyTransferId, null, null);
        Type localVarReturnType = new TypeToken<CurrencyTransferSpecificResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieve a currency transfer (asynchronously)
     * 
     * @param currencyTransferId UUID of a currency transfer (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#Retrieve-a-currency-transfer-receipt">Retrieve a currency transfer Documentation</a>
     */
    public com.squareup.okhttp.Call getCurrencyTransferAsync(UUID currencyTransferId, final ApiCallback<CurrencyTransferSpecificResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getCurrencyTransferValidateBeforeCall(currencyTransferId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CurrencyTransferSpecificResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getCurrencyTransfers
     * @param page Page number for the page that should be returned as the starting page. For example, if this is specified as 0, then the first page of the results will be the shown, if it is set as 3 then the third page of the results will be shown, and so on. The default is 0 (optional, default to 0)
     * @param size The number or records to be included per page. The default is 25. There is no max value. (optional, default to 25)
     * @param orderBy The field in the response body to order the list by. Default is update_date. (optional, default to update_date)
     * @param ascending If true, order the results in ascending order. For an alphabetical result this would be A-Z. If false, order the results in descending order. For an alphabetical result this would be Z-A. Default is false which would order by descending. (optional, default to false)
     * @param getLatest Retrieves the latest entry (optional)
     * @param currencyId Filters results by their currency ids (optional)
     * @param walletId Filters results by their wallet ids (optional)
     * @param senderWalletId Filters results by their sender wallet ids (optional)
     * @param receiverWalletId Filters results by their receiver wallet ids (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#List-all-currency-transfer-receipts">Get information for all currency transfers Documentation</a>
     */
    public com.squareup.okhttp.Call getCurrencyTransfersCall(Integer page, Integer size, String orderBy, Boolean ascending, Boolean getLatest, String currencyId, String walletId, String senderWalletId, String receiverWalletId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/molecule/v1/currency_transfer";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
        if (size != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
        if (orderBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("order_by", orderBy));
        if (ascending != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("ascending", ascending));
        if (getLatest != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("get_latest", getLatest));
        if (currencyId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("currency_id", currencyId));
        if (walletId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("wallet_id", walletId));
        if (senderWalletId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sender_wallet_id", senderWalletId));
        if (receiverWalletId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("receiver_wallet_id", receiverWalletId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getCurrencyTransfersValidateBeforeCall(Integer page, Integer size, String orderBy, Boolean ascending, Boolean getLatest, String currencyId, String walletId, String senderWalletId, String receiverWalletId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = getCurrencyTransfersCall(page, size, orderBy, ascending, getLatest, currencyId, walletId, senderWalletId, receiverWalletId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get information for all currency transfers
     * 
     * @param page Page number for the page that should be returned as the starting page. For example, if this is specified as 0, then the first page of the results will be the shown, if it is set as 3 then the third page of the results will be shown, and so on. The default is 0 (optional, default to 0)
     * @param size The number or records to be included per page. The default is 25. There is no max value. (optional, default to 25)
     * @param orderBy The field in the response body to order the list by. Default is update_date. (optional, default to update_date)
     * @param ascending If true, order the results in ascending order. For an alphabetical result this would be A-Z. If false, order the results in descending order. For an alphabetical result this would be Z-A. Default is false which would order by descending. (optional, default to false)
     * @param getLatest Retrieves the latest entry (optional)
     * @param currencyId Filters results by their currency ids (optional)
     * @param walletId Filters results by their wallet ids (optional)
     * @param senderWalletId Filters results by their sender wallet ids (optional)
     * @param receiverWalletId Filters results by their receiver wallet ids (optional)
     * @return CurrencyTransferGetResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#List-all-currency-transfer-receipts">Get information for all currency transfers Documentation</a>
     */
    public CurrencyTransferGetResponse getCurrencyTransfers(Integer page, Integer size, String orderBy, Boolean ascending, Boolean getLatest, String currencyId, String walletId, String senderWalletId, String receiverWalletId) throws ApiException {
        ApiResponse<CurrencyTransferGetResponse> resp = getCurrencyTransfersWithHttpInfo(page, size, orderBy, ascending, getLatest, currencyId, walletId, senderWalletId, receiverWalletId);
        return resp.getData();
    }

    /**
     * Get information for all currency transfers
     * 
     * @param page Page number for the page that should be returned as the starting page. For example, if this is specified as 0, then the first page of the results will be the shown, if it is set as 3 then the third page of the results will be shown, and so on. The default is 0 (optional, default to 0)
     * @param size The number or records to be included per page. The default is 25. There is no max value. (optional, default to 25)
     * @param orderBy The field in the response body to order the list by. Default is update_date. (optional, default to update_date)
     * @param ascending If true, order the results in ascending order. For an alphabetical result this would be A-Z. If false, order the results in descending order. For an alphabetical result this would be Z-A. Default is false which would order by descending. (optional, default to false)
     * @param getLatest Retrieves the latest entry (optional)
     * @param currencyId Filters results by their currency ids (optional)
     * @param walletId Filters results by their wallet ids (optional)
     * @param senderWalletId Filters results by their sender wallet ids (optional)
     * @param receiverWalletId Filters results by their receiver wallet ids (optional)
     * @return ApiResponse&lt;CurrencyTransferGetResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#List-all-currency-transfer-receipts">Get information for all currency transfers Documentation</a>
     */
    public ApiResponse<CurrencyTransferGetResponse> getCurrencyTransfersWithHttpInfo(Integer page, Integer size, String orderBy, Boolean ascending, Boolean getLatest, String currencyId, String walletId, String senderWalletId, String receiverWalletId) throws ApiException {
        com.squareup.okhttp.Call call = getCurrencyTransfersValidateBeforeCall(page, size, orderBy, ascending, getLatest, currencyId, walletId, senderWalletId, receiverWalletId, null, null);
        Type localVarReturnType = new TypeToken<CurrencyTransferGetResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get information for all currency transfers (asynchronously)
     * 
     * @param page Page number for the page that should be returned as the starting page. For example, if this is specified as 0, then the first page of the results will be the shown, if it is set as 3 then the third page of the results will be shown, and so on. The default is 0 (optional, default to 0)
     * @param size The number or records to be included per page. The default is 25. There is no max value. (optional, default to 25)
     * @param orderBy The field in the response body to order the list by. Default is update_date. (optional, default to update_date)
     * @param ascending If true, order the results in ascending order. For an alphabetical result this would be A-Z. If false, order the results in descending order. For an alphabetical result this would be Z-A. Default is false which would order by descending. (optional, default to false)
     * @param getLatest Retrieves the latest entry (optional)
     * @param currencyId Filters results by their currency ids (optional)
     * @param walletId Filters results by their wallet ids (optional)
     * @param senderWalletId Filters results by their sender wallet ids (optional)
     * @param receiverWalletId Filters results by their receiver wallet ids (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#List-all-currency-transfer-receipts">Get information for all currency transfers Documentation</a>
     */
    public com.squareup.okhttp.Call getCurrencyTransfersAsync(Integer page, Integer size, String orderBy, Boolean ascending, Boolean getLatest, String currencyId, String walletId, String senderWalletId, String receiverWalletId, final ApiCallback<CurrencyTransferGetResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getCurrencyTransfersValidateBeforeCall(page, size, orderBy, ascending, getLatest, currencyId, walletId, senderWalletId, receiverWalletId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CurrencyTransferGetResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getToken
     * @param tokenId UUID of a token (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#Retrieve-a-token">Retrieve a token Documentation</a>
     */
    public com.squareup.okhttp.Call getTokenCall(UUID tokenId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/molecule/v1/token/{token_id}/"
            .replaceAll("\\{" + "token_id" + "\\}", apiClient.escapeString(tokenId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getTokenValidateBeforeCall(UUID tokenId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'tokenId' is set
        if (tokenId == null) {
            throw new ApiException("Missing the required parameter 'tokenId' when calling getToken(Async)");
        }
        

        com.squareup.okhttp.Call call = getTokenCall(tokenId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieve a token
     * 
     * @param tokenId UUID of a token (required)
     * @return TokenSpecificResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#Retrieve-a-token">Retrieve a token Documentation</a>
     */
    public TokenSpecificResponse getToken(UUID tokenId) throws ApiException {
        ApiResponse<TokenSpecificResponse> resp = getTokenWithHttpInfo(tokenId);
        return resp.getData();
    }

    /**
     * Retrieve a token
     * 
     * @param tokenId UUID of a token (required)
     * @return ApiResponse&lt;TokenSpecificResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#Retrieve-a-token">Retrieve a token Documentation</a>
     */
    public ApiResponse<TokenSpecificResponse> getTokenWithHttpInfo(UUID tokenId) throws ApiException {
        com.squareup.okhttp.Call call = getTokenValidateBeforeCall(tokenId, null, null);
        Type localVarReturnType = new TypeToken<TokenSpecificResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieve a token (asynchronously)
     * 
     * @param tokenId UUID of a token (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#Retrieve-a-token">Retrieve a token Documentation</a>
     */
    public com.squareup.okhttp.Call getTokenAsync(UUID tokenId, final ApiCallback<TokenSpecificResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getTokenValidateBeforeCall(tokenId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<TokenSpecificResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getTokenBalance
     * @param tokenBalanceId UUID of a token balance (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#Retrieve-a-token-balance">Retrieve a token balance Documentation</a>
     */
    public com.squareup.okhttp.Call getTokenBalanceCall(UUID tokenBalanceId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/molecule/v1/token_balance/{token_balance_id}"
            .replaceAll("\\{" + "token_balance_id" + "\\}", apiClient.escapeString(tokenBalanceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getTokenBalanceValidateBeforeCall(UUID tokenBalanceId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'tokenBalanceId' is set
        if (tokenBalanceId == null) {
            throw new ApiException("Missing the required parameter 'tokenBalanceId' when calling getTokenBalance(Async)");
        }
        

        com.squareup.okhttp.Call call = getTokenBalanceCall(tokenBalanceId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieve a token balance
     * 
     * @param tokenBalanceId UUID of a token balance (required)
     * @return TokenBalanceSpecificResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#Retrieve-a-token-balance">Retrieve a token balance Documentation</a>
     */
    public TokenBalanceSpecificResponse getTokenBalance(UUID tokenBalanceId) throws ApiException {
        ApiResponse<TokenBalanceSpecificResponse> resp = getTokenBalanceWithHttpInfo(tokenBalanceId);
        return resp.getData();
    }

    /**
     * Retrieve a token balance
     * 
     * @param tokenBalanceId UUID of a token balance (required)
     * @return ApiResponse&lt;TokenBalanceSpecificResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#Retrieve-a-token-balance">Retrieve a token balance Documentation</a>
     */
    public ApiResponse<TokenBalanceSpecificResponse> getTokenBalanceWithHttpInfo(UUID tokenBalanceId) throws ApiException {
        com.squareup.okhttp.Call call = getTokenBalanceValidateBeforeCall(tokenBalanceId, null, null);
        Type localVarReturnType = new TypeToken<TokenBalanceSpecificResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieve a token balance (asynchronously)
     * 
     * @param tokenBalanceId UUID of a token balance (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#Retrieve-a-token-balance">Retrieve a token balance Documentation</a>
     */
    public com.squareup.okhttp.Call getTokenBalanceAsync(UUID tokenBalanceId, final ApiCallback<TokenBalanceSpecificResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getTokenBalanceValidateBeforeCall(tokenBalanceId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<TokenBalanceSpecificResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getTokenBalances
     * @param page Page number for the page that should be returned as the starting page. For example, if this is specified as 0, then the first page of the results will be the shown, if it is set as 3 then the third page of the results will be shown, and so on. The default is 0 (optional, default to 0)
     * @param size The number or records to be included per page. The default is 25. There is no max value. (optional, default to 25)
     * @param orderBy The field in the response body to order the list by. Default is update_date. (optional, default to update_date)
     * @param ascending If true, order the results in ascending order. For an alphabetical result this would be A-Z. If false, order the results in descending order. For an alphabetical result this would be Z-A. Default is false which would order by descending. (optional, default to false)
     * @param getLatest Retrieves the latest entry (optional)
     * @param tokenId Filters results by their token ids (optional)
     * @param walletId Filters results by their wallet ids (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#List-all-token-balances">Get information for all token balances defined for your application. Documentation</a>
     */
    public com.squareup.okhttp.Call getTokenBalancesCall(Integer page, Integer size, String orderBy, Boolean ascending, Boolean getLatest, String tokenId, String walletId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/molecule/v1/token_balance";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
        if (size != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
        if (orderBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("order_by", orderBy));
        if (ascending != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("ascending", ascending));
        if (getLatest != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("get_latest", getLatest));
        if (tokenId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("token_id", tokenId));
        if (walletId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("wallet_id", walletId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getTokenBalancesValidateBeforeCall(Integer page, Integer size, String orderBy, Boolean ascending, Boolean getLatest, String tokenId, String walletId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = getTokenBalancesCall(page, size, orderBy, ascending, getLatest, tokenId, walletId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get information for all token balances defined for your application.
     * 
     * @param page Page number for the page that should be returned as the starting page. For example, if this is specified as 0, then the first page of the results will be the shown, if it is set as 3 then the third page of the results will be shown, and so on. The default is 0 (optional, default to 0)
     * @param size The number or records to be included per page. The default is 25. There is no max value. (optional, default to 25)
     * @param orderBy The field in the response body to order the list by. Default is update_date. (optional, default to update_date)
     * @param ascending If true, order the results in ascending order. For an alphabetical result this would be A-Z. If false, order the results in descending order. For an alphabetical result this would be Z-A. Default is false which would order by descending. (optional, default to false)
     * @param getLatest Retrieves the latest entry (optional)
     * @param tokenId Filters results by their token ids (optional)
     * @param walletId Filters results by their wallet ids (optional)
     * @return TokenBalanceGetResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#List-all-token-balances">Get information for all token balances defined for your application. Documentation</a>
     */
    public TokenBalanceGetResponse getTokenBalances(Integer page, Integer size, String orderBy, Boolean ascending, Boolean getLatest, String tokenId, String walletId) throws ApiException {
        ApiResponse<TokenBalanceGetResponse> resp = getTokenBalancesWithHttpInfo(page, size, orderBy, ascending, getLatest, tokenId, walletId);
        return resp.getData();
    }

    /**
     * Get information for all token balances defined for your application.
     * 
     * @param page Page number for the page that should be returned as the starting page. For example, if this is specified as 0, then the first page of the results will be the shown, if it is set as 3 then the third page of the results will be shown, and so on. The default is 0 (optional, default to 0)
     * @param size The number or records to be included per page. The default is 25. There is no max value. (optional, default to 25)
     * @param orderBy The field in the response body to order the list by. Default is update_date. (optional, default to update_date)
     * @param ascending If true, order the results in ascending order. For an alphabetical result this would be A-Z. If false, order the results in descending order. For an alphabetical result this would be Z-A. Default is false which would order by descending. (optional, default to false)
     * @param getLatest Retrieves the latest entry (optional)
     * @param tokenId Filters results by their token ids (optional)
     * @param walletId Filters results by their wallet ids (optional)
     * @return ApiResponse&lt;TokenBalanceGetResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#List-all-token-balances">Get information for all token balances defined for your application. Documentation</a>
     */
    public ApiResponse<TokenBalanceGetResponse> getTokenBalancesWithHttpInfo(Integer page, Integer size, String orderBy, Boolean ascending, Boolean getLatest, String tokenId, String walletId) throws ApiException {
        com.squareup.okhttp.Call call = getTokenBalancesValidateBeforeCall(page, size, orderBy, ascending, getLatest, tokenId, walletId, null, null);
        Type localVarReturnType = new TypeToken<TokenBalanceGetResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get information for all token balances defined for your application. (asynchronously)
     * 
     * @param page Page number for the page that should be returned as the starting page. For example, if this is specified as 0, then the first page of the results will be the shown, if it is set as 3 then the third page of the results will be shown, and so on. The default is 0 (optional, default to 0)
     * @param size The number or records to be included per page. The default is 25. There is no max value. (optional, default to 25)
     * @param orderBy The field in the response body to order the list by. Default is update_date. (optional, default to update_date)
     * @param ascending If true, order the results in ascending order. For an alphabetical result this would be A-Z. If false, order the results in descending order. For an alphabetical result this would be Z-A. Default is false which would order by descending. (optional, default to false)
     * @param getLatest Retrieves the latest entry (optional)
     * @param tokenId Filters results by their token ids (optional)
     * @param walletId Filters results by their wallet ids (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#List-all-token-balances">Get information for all token balances defined for your application. Documentation</a>
     */
    public com.squareup.okhttp.Call getTokenBalancesAsync(Integer page, Integer size, String orderBy, Boolean ascending, Boolean getLatest, String tokenId, String walletId, final ApiCallback<TokenBalanceGetResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getTokenBalancesValidateBeforeCall(page, size, orderBy, ascending, getLatest, tokenId, walletId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<TokenBalanceGetResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getTokenSupplies
     * @param page Page number for the page that should be returned as the starting page. For example, if this is specified as 0, then the first page of the results will be the shown, if it is set as 3 then the third page of the results will be shown, and so on. The default is 0 (optional, default to 0)
     * @param size The number or records to be included per page. The default is 25. There is no max value. (optional, default to 25)
     * @param orderBy The field in the response body to order the list by. Default is update_date. (optional, default to update_date)
     * @param ascending If true, order the results in ascending order. For an alphabetical result this would be A-Z. If false, order the results in descending order. For an alphabetical result this would be Z-A. Default is false which would order by descending. (optional, default to false)
     * @param getLatest Retrieves the latest entry (optional)
     * @param tokenId Filters results by their token ids (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * 
     * @see <a href="https://www.hydrogenplatform.com/docs/molecule/v1/#List-all-token-supplies">Get information for all token supplies defined for your application. Documentation</a>
     */
    public com.squareup.okhttp.Call getTokenSuppliesCall(Integer page, Integer size, String orderBy, Boolean ascending, Boolean getLatest, String tokenId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/molecule/v1/token_supply";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
        if (size != null)
[...]
